[2020-05-06 00:32] mayburgos opened #1 "docs: Initialize README.md file."
## Description
As a contributor,
I need to learn about the project,
so that I can collaborate with others on its development.

## Mocks
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Include the minimum details that were included in the **Mocks** section above.
### Enhancement to Update [Optional]
- [ ] Reach out to @mtreacy002 for a description of the project!

## Definition of Done
-

[2020-05-06 14:07] menina763 commented on #1
Hello! Could I perhaps take on this issue?

[2020-05-06 15:39] mayburgos commented on #1
@Menina294 Yes! Go ahead and feel free to ping @mtreacy002 for a proper description. I couldn't come up with one. :)

[2020-05-06 16:59] menina763 commented on #1
Alrighty!
@mtreacy002 , do you happen to know what I should include for the description?
Wait, should I ping in Zulip?

[2020-05-06 22:56] mtreacy002 commented on #1
Thanks, for taking up the issue, @Menina294. you're officially the first contributor to the project 🎉.
I can answer here (or reach me out on Zulip bridge-in-tech stream if I take some time to answer here, coz browsing emails not as easy as browsing Zulip, I guess 😂 ). I have a brief info on the [project proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit)

[2020-05-06 23:00] menina763 commented on #1
Alrighty, thanks @mtreacy002 !

[2020-05-06 23:07] mtreacy002 commented on #1
For setting up, I will have to wait for the meeting with mentors first to finalise the platform and architecture. But will keep you updated on Zulip [bridge-in-tech stream](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech) on this 😉

[2020-05-07 03:09] menina763 commented on #1
Alrighty, I finished typing the README.md file. Should I add it here?

[2020-05-07 03:11] mtreacy002 commented on #1
Definitely, @Menina294. You can open a PR to address this issue, so we (both of us and other contributors) can review it together 😉 . Let me know if you need some help 👍

[2020-05-07 03:21] menina763 commented on #1
Yeah, I think I might need some help with opening a PR since I've never done that before 😅

[2020-05-07 03:28] mtreacy002 commented on #1
No worries, @Menina294. I'm here to help 😉

So, on the top navbar you could click on Pull requests
<img width="731" alt="Screen Shot 2020-05-07 at 1 23 05 pm" src="https://user-images.githubusercontent.com/29667122/81251132-eec1db00-9065-11ea-9ea4-2de01b642296.png">

click on the `New Pull Request` button (green one on the left)

then pls copy paste the Pull request template to the body of the rep

[2020-05-07 03:30] mtreacy002 commented on #1
on `Fixes # [ISSUE]`, replace '# [ISSUE]' with the issue number you are working on (in this case' #1'

[2020-05-07 03:34] mtreacy002 commented on #1
For the title of the PR, please follow the commit guidelines [here](https://github.com/anitab-org/mentorship-backend/wiki/Commit-Message-Style-Guide) to choose the right message you should use as the commit message.
As for the PR title, I normally use the format: <tag>: <#Issue number> <brief description of what the PR is about>. Keep the description short and concise, possibly no longer than 35 c

[2020-05-07 03:34] menina763 commented on #1
Hmm, when I clicked on the "New Pull Request" button, I was taken to a Comparing page. Did I click somewhere wrong?

[2020-05-07 03:35] mtreacy002 commented on #1
Sorry, my bad, I forgot to ask, have you commit your code changes and push to the remote repository from your IDE?

[2020-05-07 03:36] mtreacy002 commented on #1
I can guide you if you're not sure how to

[2020-05-07 03:36] menina763 commented on #1
Nope, I haven't done that yet, and yes I would appreciate it if you would guide me!

[2020-05-07 03:37] mtreacy002 commented on #1
Cool.. Can you tell me which IDE you are using, pls?

[2020-05-07 03:41] menina763 commented on #1
I don't know if it counts as an IDE, but I was using a extension on Google Chrome called "Markdown Editor"

[2020-05-07 03:42] mtreacy002 commented on #1
Also, can you please tell me what's the step you take when cloning this repository? Have you fork this repo and open it on an IDE?

[2020-05-07 03:44] menina763 commented on #1
No, I was too afraid to clone it or fork it 😅

[2020-05-07 03:51] mtreacy002 commented on #1
It's ok, one step at a time. I felt like that too when I was a beginner...😂

But then I found out, cloning won't create any damage to your system. Same concept actually used for copy pasting. We never have to worry about the impact. 😆
Anyway, you could put this issue on hold for now (we're in no hurry) and try this [GitHub guidelines/tutorial](https://github.com/firstcontributions/first-contributi

[2020-05-07 03:56] mtreacy002 commented on #1
Also, don't forget to save the file you've already work on in a .md format so it's ready to be used once you know and have cloned this repo to your IDE. I'll help you along until you're comfortable finding your way around GitHub 😉

[2020-05-07 03:57] mtreacy002 commented on #1
Just curious, which IDE you're thinking of working on for this repo? I'm using VSCode, but everyone can use whichever IDE they preferred

[2020-05-07 04:00] menina763 commented on #1
I haven't used any IDE's in a loong time, so I guess I'll try VSCode. Hopefully it doesn't take too long to download!

[2020-05-07 04:03] mtreacy002 commented on #1
It shouldn't be. I'm not sure how long it'll take to download (I did that a while ago), but it'll a good alternative to have among all other great IDE out there. So, it'll be worth it. 😀

[2020-05-07 04:18] menina763 commented on #1
Alrighty, I think due to my internet downloading VSCode will take a while, but in the meantime I'll try to follow along with the tutorials you linked. Thanks for helping me out by the way, and I'll reach out again if I need some assistance 😄!

[2020-05-07 04:23] mtreacy002 commented on #1
Will be here for you .... see you later 👋

[2020-05-07 22:17] menina763 commented on #1
Alrighty, I managed to submit my first PR! It wasn't as scary as I thought it would be 😅. Could you please check it and make sure that I submitted it right?

[2020-05-07 23:26] mtreacy002 commented on #1
Well done, @Menina294. I'm proud of you for taking the first step for contributing to open source 🚀 💃🥰. I'll review your PR and give you my feedback there 😉 .

[2020-05-10 04:12] mtreacy002 opened #4 "Project Overview"
This epic is to track the following discussions of BridgeInTech Project:

1. Tech stack

1. App architecture

1. Minimum Viable Product (MVP)

1. App Flow

1. Project Requirements

[2020-05-10 04:29] mtreacy002 opened #5 "Backend Overview"
This Epic is to track discussions on BridgeInTech Backend related to:

1. Entity Relationship Diagram

1. Entity Association Model

1. Use Cases

1. REST API endpoints + CRUD functions

[2020-05-10 04:53] mtreacy002 opened #6 "Frontend Overview"
This epic is to track discussions on BridgeInTech Frontend related matter:

1. Structure
2. (reusable) Components
3. Assets
4. Colors
5. Interactions
6. Path
7. GUI Prototype

[2020-05-10 09:10] mtreacy002 commented on #6
Initial idea as per the proposal:
**List of MockUps**

_Related to All Users_

Register (figure 1.1)
Login (figure 1.2)
Homepage (figure 1.3)
Companies (list) (figure 1.4)
Programs (list)  (figure 2.1)
Mentors (list) (Mentees is not shown as one of the MockUps because it has similar layout to Mentors) (figure 2.2)
Company Portfolio (figure 2.3)
Program Details (figure 3.1)
Mentor Portfolio (figure

[2020-05-10 10:32] mtreacy002 opened #7 "Planning: BridgeInTech Tech Stack"
This issue is to discuss BridgeInTech Tech Stack which needed to be finalised to get a solid idea of how to move forward with the project.

Below is the initial idea of tech stack [as per proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.8f950zcq9qh5):

**Option1**

For Backend:
* RESTful API with Python and Flask
* Relational database either

[2020-05-10 10:56] mtreacy002 opened #8 "Planning: BridgeInTech App Architecture"
This issue is to discuss BridgeInTech App Architecture which needed to be finalised to get a solid idea of how to move forward with the project.

Below is the initial idea of app architecture as per proposal:

[As per proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.8f950zcq9qh5):

**Backend**:
(Option3) The middle ground is to use the curren

[2020-05-11 02:36] mtreacy002 opened #9 "Planning: BridgeInTech Minimum Viable Product (MVP)"
[MVP as per project proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.z337ya):

On General Features
* Homepage
* Register and login
* Company/Mentor/Mentee Portfolio
* See list of all Companies
* See list of all Programs
* See list of all Mentors
* See list of all Mentees
* See Program Details page

On Specific Features
* Company can create a

[2020-05-11 02:57] mtreacy002 opened #10 "Planning: BridgeInTech App Flow"
App flow as per proposal:
[Link to online document](https://drive.google.com/open?id=1Cxa3l449Odpb3XMeghrH1W01I7ScVLTV)

Opt. 3. MS+BIT schemas in MS DB+REST

![BridgeInTech - App Flow MS+BIT schemas in MS DB+REST.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/9d71e8de-02cb-4ddc-8f9a-1c533cf6b424)

[2020-05-11 03:22] mtreacy002 opened #11 "Planning: BridgeInTech Project Requirements"
[As per proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.ihv636):

**Applicable to registered or non-registered users. No login required**

* [Required] All Users can see a list of Mentoring Programs posted by Companies. A Program would contain the followings:

    * [Required] information on Program ID, Program Title, Start and End Dates, Pr

[2020-05-11 04:09] mtreacy002 opened #12 "Planning: Entity Relationship Diagram"
As per proposal:
[ERD v1.0](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.lotomafojte7):

![BridgeInTech - ERD.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/5432ae41-a364-42c9-abc3-0a0b7fc5be65)

**Relationship Constraints**

* Users can only register once. This includes a Company user which can only have one account.
* A Progra

[2020-05-11 04:28] mtreacy002 commented on #12
Idea for improvement:
**ERD v1.1**

I was initially thinking of adding a separate schema to existing MS database for BIT specific tables, and alter MS public schema to have some additional attributes needed for BIT schema. The changes I've made can be seen below:

<img width="1072" alt="Screen Shot 2020-05-06 at 6 41 35 pm" src="https://user-images.githubusercontent.com/29667122/81523785-41ff9a80-

[2020-05-11 04:33] mtreacy002 opened #13 "Planning: Entity Association Model"
[As per proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.1pxezwc):

![BridgeInTech - EAM.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/e69f1c01-cab6-486b-a608-8238fddae78c)

[2020-05-11 04:39] mtreacy002 commented on #13
Idea for improvement:

After the Final Proposal due date of GSoC20 (May Mar 31st), I decided for a Company to have a representative who is a User. With this idea in mind, I adjusted the EAM to the following:

<img width="776" alt="Screen Shot 2020-05-06 at 10 30 28 pm" src="https://user-images.githubusercontent.com/29667122/81524584-031f1400-9395-11ea-938d-fa2687bcb6db.png">

[Link to file](https:

[2020-05-11 04:59] mtreacy002 opened #14 "Planning: Use Cases"
[As per proposal]():

[Link to file](https://www.lucidchart.com/invitations/accept/bc04ae11-0953-41bb-902a-4abb58ea4efa)

![BridgeInTech - Use Case Portfolio.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/037545d4-dc02-4d37-8e62-5207b7e798b8)

![BridgeInTech - Use Case Program Mgmt.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/e4888202-44da-4b3d-939f-9a0d7f

[2020-05-11 05:15] mtreacy002 opened #15 "Planning: Higher level API endpoints and CRUD functions"
[As per proposal](https://docs.google.com/document/d/1ZZCOoWdn2yb6N3qrrgK0SRDQPcx2Pp7kz3yDXDRSHUs/edit#heading=h.8ii92113maf5):

**Higher Level API (CRUD operations)**

![Screen Shot 2020-05-11 at 3.06.53 pm.png](https://images.zenhubusercontent.com/5eb4e4b9636d69f8661b2c28/1a008d5e-be90-477a-87a2-593ea76e1d37)
![Screen Shot 2020-05-11 at 3.07.30 pm.png](https://images.zenhubusercontent.com/5eb4e4

[2020-05-11 08:42] mtreacy002 commented on #12
The latest changes to ERD:
ERD v1.2
note:
* **Mentorship System** tables remain untouched which remain in the `public` schema.
* **BIT** has the following tables in the new schema - `bitschema`:
    **New Parent tables**
    * Organization (was Company, renamed to be cover both profit or non-profit organizations as per @isabelcosta 's adviced)
    * Program
    * Personal_Background

  **Child tab

[2020-05-12 03:10] mtreacy002 commented on #10
Hi team (@isabelcosta, @ramitsawhney27, @foongminwong).

I've made some adjustments to the App Flow based on @ramitsawhney27 suggestion.

**Option 1:**
This adjustment is made under assumption that the application would have 2 databases MS+BIT with one REST API.

Below is the screenshot of new flow. ([link to file](https://drive.google.com/file/d/1Cxa3l449Odpb3XMeghrH1W01I7ScVLTV/view?usp=sharing)

[2020-05-12 04:43] mtreacy002 opened #16 "First Coding Phase"
This Epic is to track discussions/issues/PRs during First Phase Coding within the BridgeInTech project.

[2020-05-12 05:07] mtreacy002 opened #17 "Second Coding Phase"
This epic is to track discussions/issues/PRs during Second Phase Coding within the BridgeInTech project.

[2020-05-12 05:08] mtreacy002 opened #18 "Final Coding Phase"
This Epic is to track discussions/issues/PRs during Final Phase Coding within the BridgeInTech project.

[2020-05-12 06:44] mtreacy002 commented on #10
**Option 2:**
For this option, the assumption is the BridgeInTech application will use MS DB + API with BIT DB + API.

<img width="1066" alt="Screen Shot 2020-05-12 at 4 39 40 pm" src="https://user-images.githubusercontent.com/29667122/81646909-6da48280-946f-11ea-8aa6-2b20b770edc9.png">

To think about:
* Is it possible for one API to talk to 2 different DB? If so, how can we achieve this (routing

[2020-05-13 00:21] mtreacy002 commented on #12
To think about:
* There's potential issue with the latest ERD above and [Option 1 or 2 App Flow on issue#10](https://github.com/anitab-org/bridge-in-tech-backend/issues/10):
There will be duplicate user_id that contains different user data, one from existing user in MS DB and the other from BIT DB. How to differentiate users and know which DB the user_id is originated from in the following tables:

[2020-05-13 01:27] mtreacy002 commented on #12
Update:
I've created [test-dev1 branch](https://github.com/mtreacy002/mentorship-backend/tree/test-dev1) on my forked repo for testing BIT+MS Schemas without altering MS tables (as per latest ERD above)
Note:
postgresql DB names for this test-dev1: bit_data and bit_data_test

[2020-05-13 04:06] foongminwong commented on #10
Hmm, based on what I understood from @ramitsawhney27 idea, I believe it would be 1 database that branches out 2 schemas (MS Schema and BIT Schema). Will further discuss and get clarification during our all team's meeting 💻

[2020-05-13 07:20] mtreacy002 opened #19 "Start Backend Test Dev"
## Description
As a student,
I need create and populate data models classes,
so that I can move on to the next tasks specified in the First Coding Phase Week 1.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] must have enough pip dependencies (aka requirements.txt) at least to start the app
- [ ] must have remote server established as well as local server
- [ ] able to run projec

[2020-05-13 22:00] mtreacy002 commented on #10
**Update:** Option 4.
Hi @isabelcosta, @ramitsawhney27, and @foongminwong. I've adjusted option 2 App Flow as per discussion on Team Weekly Meeting, May 13th. I appreciate If you all can confirm that this is our direction. You can post a comment or react with ✅ .
In the mean time  I'm going to work on the ERD [issue#12](https://github.com/anitab-org/bridge-in-tech-backend/issues/12) so we can fina

[2020-05-14 01:18] mtreacy002 commented on #12
**Update:**
Hi Team (@isabelcosta, @ramitsawhney27 and @foongminwong).
Here's the latest change to the ERD (v1.3) as per our discussion on [Team Weekly Meeting May 13th](https://docs.google.com/document/d/1QRHzy0IWgAE5bjkwI_Lp67Dv50aywGuUmzmWewQ1rpY/edit#heading=h.1gwmpact2ge7). Please confirm by posting a comment or react with ✅ if you all agreed this is where we're heading with the project.

<im

[2020-05-14 02:25] mtreacy002 opened #20 "UI: High-fidelity Mockup - Register"
## Description
As a student,
I need create high-fidelity mockup for Register,
so that I can move forward with on the planning stage.

## Mocks
Initial idea (per proposal)
Figure 1.1. Register
<img width="1133" alt="BridgeInTech MockUp - Register" src="https://user-images.githubusercontent.com/29667122/81883605-fe4aa200-95d8-11ea-8750-cab841e5a388.png">

## Acceptance Criteria
### Update [Required]

[2020-05-14 04:19] #20 closed, assigned to mtreacy002

[2020-05-14 04:19] mtreacy002 commented on #20
Issue moved to [anitab-org/bridge-in-tech-web #2](https://github.com/anitab-org/bridge-in-tech-web/issues/2) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-15 21:04] mtreacy002 commented on #15
Hi @anitab-org/bridgeintech-maintainers, below is the screenshot of what I have in mind for API endpoints and their related CRUD operations in relation to Users API service. Please give me feedback to whether or not this makes sense to you all.

<img width="550" alt="Screen Shot 2020-05-16 at 7 02 00 am" src="https://user-images.githubusercontent.com/29667122/82095858-41c11f80-9743-11ea-9b00-0fdea

[2020-05-16 12:06] mtreacy002 commented on #10
**Update** Option 5
Hi @anitab-org/bridgeintech-maintainers. Here's another option with BIT API facing frontend and BIT backend will call MS API to get MS related data.

<img width="1253" alt="Screen Shot 2020-05-16 at 10 02 46 pm" src="https://user-images.githubusercontent.com/29667122/82119385-62c85580-97c1-11ea-8796-ab855feacb89.png">

[2020-05-17 13:18] ramitsawhney27 commented on #10
@mtreacy002 - As discussed, can you please update the two schemas to be shown under the same database? The rest looks good!

[2020-05-17 13:22] ramitsawhney27 commented on #13
This looks good.

[2020-05-17 13:24] ramitsawhney27 commented on #15
For the initial few endpoints, as you start implementing them, you should be documenting the error codes. For example: 400 bad request - and when would you return this?

[2020-05-17 14:13] mtreacy002 commented on #10
Update on Option 5.
@ramitsawhney27 , is this ok?

![Screenshot (1)](https://user-images.githubusercontent.com/29667122/82150765-5664fb00-989c-11ea-97ed-84da7a54c0c9.png)

[2020-05-19 13:17] mtreacy002 commented on #19
Hi @anitab-org/bridgeintech-maintainers. I've created models for the BridgeInTech DB which consists of 2 schemas, bit schema and public (aka ms schema).
Here's the screenshot of the DB structure on pgadmin4

<img width="320" alt="Screen Shot 2020-05-19 at 10 28 15 pm" src="https://user-images.githubusercontent.com/29667122/82328850-bc2fbf00-9a23-11ea-8ef7-26b0c9ba6b98.png">

And here's the Swagger

[2020-05-19 13:28] mtreacy002 commented on #19
PS: tomorrow I'm gonna work on migration script using Alembic and perhaps if time permits, will populate the tables with mock data. @ramitsawhney27, can I populate the data directly on pgadmin4 by running sql statements so not by placing the query inside the code (inside the code will get populated every time we're running the app)? This is coz I'm afraid the later will cause issue coz the data al

[2020-05-20 13:31] ramitsawhney27 commented on #19
Dummy data insertion via pgadmin4 is good. We don't need tests as discussed in the weekly meeting.

[2020-05-20 13:32] isabelcosta commented on #10
@mtreacy002 a nice to have would be mention of the APIs scope, so which is for MS and for BIT

[2020-05-20 20:18] mtreacy002 commented on #13
Update:
Hi @anitab-org/bridgeintech-maintainers, here's the
Entity Association Model as per discussion on BIT Team meeting, May 20th AEST.

<img width="785" alt="Screen Shot 2020-05-21 at 6 15 19 am" src="https://user-images.githubusercontent.com/29667122/82493131-c688b080-9b2a-11ea-8586-c4f02a182e0b.png">

[2020-05-20 20:23] mtreacy002 commented on #10
Update:
Hi @anitab-org/bridgeintech-maintainers, here's the update on option 5, now with API names as discussed in the BIT Team weekly meeting May 20th AEST.

<img width="1274" alt="Screen Shot 2020-05-21 at 6 21 12 am" src="https://user-images.githubusercontent.com/29667122/82493563-8544d080-9b2b-11ea-8016-f87273443378.png">

[link to file](https://drive.google.com/file/d/1Cxa3l449Odpb3XMeghrH1W0

[2020-05-22 21:18] mtreacy002 commented on #6
Notes to self:

* [Register page - Fig.1.1](https://github.com/anitab-org/bridge-in-tech-web/issues/2)
  * add `Timezone` field so that when user register, the user extension table can get initiated with user_id, is_organization_rep and timezone.

* Create Organization Profile (before it's called Create Company Profile) - Fig.3.3
  * to decide: does organization timezone have to be the same as its

[2020-05-23 03:56] mtreacy002 commented on #19
Notes to self:

The following changes need to be made to address `datetime` inconsistencies from mentorship-backend code base (discussed in mentorship-backend [PR#556](https://github.com/anitab-org/mentorship-backend/pull/556) and [issue#608](https://github.com/anitab-org/mentorship-backend/issues/608):

* **app/database/models/user.py**
  * **register**
    * current: time.time()
       recorded

[2020-05-24 09:20] mtreacy002 commented on #12
Update:
Hi @anitab-org/bridgeintech-maintainers. I've updated the ERD with the followings:

* added `join_date` in `organization` table
* added `creation_date` in `program` table
* added `mentor_request_date` and `mentee_request_date` in `mentorship_relations_extension` table

<img width="1157" alt="Screen Shot 2020-05-24 at 7 14 49 pm" src="https://user-images.githubusercontent.com/29667122/82750

[2020-05-24 11:11] mtreacy002 commented on #19
Update:
Hi @anitab-org/bridgeintech-maintainers. I've populated the MS+BIT tables with mock data using the code I just pushed to [test-schema](https://github.com/mtreacy002/bridge-in-tech-backend/tree/test-schema) branch on my forked repo.  I set it so the application will automatically populate the database when you run it.
You can test it by setting up your own postgresql and virtual environment

[2020-05-25 05:57] mtreacy002 commented on #19
Update:
Hi @anitab-org/bridgeintech-maintainers.
So, I've tried the following tests to see if BIT could send requests to MS API service.
I've placed the query in BIT codes ([db_query_mock](https://github.com/mtreacy002/bridge-in-tech-backend/blob/test-schema/app/database/db_query_mock.py)) to automatically send request POST /register when running application (as I haven't got BIT swagger UI set up

[2020-05-25 14:46] ramitsawhney27 commented on #19
You could discuss this with Isabel to see how this can be included in mentorship system.

[2020-05-25 22:22] mtreacy002 commented on #19
@isabelcosta, can you share your thoughts?

[2020-05-26 01:52] mtreacy002 commented on #19
Update:
Hi @anitab-org/bridgeintech-maintainers. I've just created and pushed the alembic script to support flask-migration to the [test-schema branch](https://github.com/mtreacy002/bridge-in-tech-backend/tree/test-schema).

<img width="803" alt="Screen Shot 2020-05-26 at 11 33 31 am" src="https://user-images.githubusercontent.com/29667122/82852238-bf580d00-9f45-11ea-843a-e46191aa7b3c.png">

We ca

[2020-05-26 05:33] mtreacy002 opened #21 "UI: High-fidelity Mockup - Homepage"
## Description
As a student,
I need to create high-fidelity mockup for Homepage,
so that I can move forward with on the planning stage.

## Mocks
as per initial proposal:
<img width="855" alt="BridgeInTech MockUp - Homepage" src="https://user-images.githubusercontent.com/29667122/81494778-bda80b80-92ee-11ea-9ba7-482fa7c685e1.png">

## Acceptance Criteria
### Update [Required]
- [ ] About BridgeInT

[2020-05-27 14:14] isabelcosta opened #22 "Deploy Mentorship Backend on Heroku with ElephantSQL instance"
## Description

It would really help @mtreacy002 having a separate instance of Heroku server with mentorship backend so we have a sandbox environment, not interfering with mentorship backend already existing data.

## Acceptance Criteria
### Update [Required]
- [x] Deploy to Heroku Mentorship Backend
- [x] Create an ElephantSQL instance for Maya, or have her creating and giving me the credentials

[2020-05-28 01:47] mtreacy002 commented on #8
Update:
Hi @anitab-org/bridgeintech-maintainers. Just wanna give an update here based on our discussion in BIT weekly meeting [Wednesday , May 27th AEST](https://docs.google.com/document/d/1QRHzy0IWgAE5bjkwI_Lp67Dv50aywGuUmzmWewQ1rpY/edit#heading=h.uj7p49x423h)

### Backend architecture:
* on initial GSoC period:
    * API:MS API + BIT API ** ~ aka 2 APIs**
    * Database: MS Heroku database (spec

[2020-05-28 01:55] mtreacy002 commented on #13
Update:
Hi @anitab-org/bridgeintech-maintainers. Just wanna give you an updated version of Entity Association Models (hopefully the final one as far as MVP concern)

![Screen Shot 2020-05-28 at 11 53 34 am](https://user-images.githubusercontent.com/29667122/83089600-0971f780-a0da-11ea-8591-60181626f9d0.png)

[2020-05-28 02:02] mtreacy002 commented on #10
Update:

As per our discussion on BIT Weekly Meeting, Wednesday, May 27th, the following will apply during GSoC periods:
* On initial stage and during early development of GSoC, the App Flow on initial option 5 as posted [here](https://github.com/anitab-org/bridge-in-tech-backend/issues/10#issuecomment-629635500) will be the one to be used

<img width="1253" alt="Screen Shot 2020-05-16 at 10 02 46

[2020-05-28 07:09] mtreacy002 opened #23 "UI: High-fidelity Mockup - Create User Portfolio"
## Description
As a student,
I need create a high-fidelity Mockup on Create User Profile,
so that I can move forward with my planning stage.

## Mocks
as per initial proposal
**Figure 4.6. Create Profile**
<img width="501" alt="BridgeInTech MockUp - Create_Profile" src="https://user-images.githubusercontent.com/29667122/81495112-3d36da00-92f1-11ea-8aed-9935103e6a03.png">

## Acceptance Criteria
##

[2020-05-29 00:40] mtreacy002 commented on #15
Update:
Hi @anitab-org/bridgeintech-maintainers. Here's the updated API endpoints and error handlings related to Users service

<img width="564" alt="Screen Shot 2020-05-29 at 10 36 25 am" src="https://user-images.githubusercontent.com/29667122/83208214-6a600500-a198-11ea-92f1-2ed1fa8a1040.png">
<img width="564" alt="Screen Shot 2020-05-29 at 10 38 02 am" src="https://user-images.githubusercontent

[2020-05-29 09:44] ramitsawhney27 commented on #15
These look good. What if there is an internal server error?

[2020-05-29 10:03] mtreacy002 commented on #15
I'm thinking to mask it with response 500 but display the error message as it would catch by the HTTPError exception. As mentioned in the below

<img width="991" alt="Screen Shot 2020-05-29 at 8 01 14 pm" src="https://user-images.githubusercontent.com/29667122/83247666-36f89700-a1e7-11ea-8bc6-c6809bcdb120.png">

Would this be Ok, @ramitsawhney27? If you agree to this, I would add error code 500 on

[2020-05-29 10:25] mtreacy002 commented on #15
Update:
I've added error response 500 in all API requests because of the possibilities of internal error can happen anywhere in the request.
Below just an example of what I've added.

<img width="563" alt="Screen Shot 2020-05-29 at 8 24 43 pm" src="https://user-images.githubusercontent.com/29667122/83249786-74125880-a1ea-11ea-9c6b-7631c07efb83.png">

[2020-05-29 14:01] meenakshi-dhanani commented on #15
Hey Maya,
Everything looks good. Just a question to think about the login api. So if there's any issue with authentication it makes sense to return a 401. Find explanation in the RFC [here](https://tools.ietf.org/html/rfc7235#section-3.1).

And in case the credentials a wrong, if you send back a 404, it might give a tip to the malicious users, to try combinations. A 401 should work for any invalid

[2020-05-29 21:50] mtreacy002 commented on #15
Hi @meenakshi-dhanani. That also makes sense to me, tbh (although I'm not sure about the 404 giving more tip to malicious user more than 401 does, 😃). However, in terms of error code, as BIT is using MS API service for this one (login), I don't know if it's a good idea to change the error code from 404 (given by the MS API) to 401 on BIT UI to client. Shouldn't BIT only passing whatever value is r

[2020-05-29 22:48] mtreacy002 commented on #11
Update:
I've started modifying the Project Requirements on Users related service now that we have much clearer view on it (from mockups and API endpoints). So, below is what I have so far for Users (still focusing on the `Required` points)

<img width="615" alt="Screen Shot 2020-05-30 at 8 46 24 am" src="https://user-images.githubusercontent.com/29667122/83311292-1ca7d300-a252-11ea-8aac-545a8baa6d

[2020-05-30 02:48] mtreacy002 commented on #11
Update:
Here's the modified version of Project Requirements on Organizations related service. Note that the Portfolio section of both Organization and User are not yet extended to their requirements as this will be done after I completed the Programs mockup (wip).

<img width="594" alt="Screen Shot 2020-05-30 at 12 44 47 pm" src="https://user-images.githubusercontent.com/29667122/83317907-cfd4f400

[2020-05-30 05:48] meenakshi-dhanani commented on #15
Couple of points:

401 can take care of any invalid credentials (credentials do not exist, or
they are invalid). So 401 can be a blanket status code for that.

If there is another response, say 404. Assuming I am a malicious user, I
attempt to login with some credentials, if I get a 404 I know that these do
not exist, so I'll try with another pair of credentials and might get a 401
and then I can

[2020-05-30 06:22] mtreacy002 commented on #15
Update:
Here's the API endpoints and errors handling for Organizations service

<img width="565" alt="Screen Shot 2020-05-30 at 4 15 53 pm" src="https://user-images.githubusercontent.com/29667122/83321178-21d84280-a291-11ea-9e13-f65b0a1791ba.png">
<img width="563" alt="Screen Shot 2020-05-30 at 4 16 12 pm" src="https://user-images.githubusercontent.com/29667122/83321187-2dc40480-a291-11ea-95d2-c40

[2020-05-30 11:02] isabelcosta commented on #22
Heroku server for Mentorship Backend is created and deployed here: https://mentorship-backend-bit.herokuapp.com/

@mtreacy002 has the credentials to the ElephantSQL instance and we share the app on Heroku.
Admin user is already created and we tested this in our 1:1 today.
The server code comes from my fork of mentorship-backend, in particular from `heroku` branch.

[2020-05-30 11:02] #22 closed, assigned to isabelcosta

[2020-05-30 12:31] mtreacy002 commented on #22
Thanks so much for your help, @isabelcosta ❤️ . I'll also look into your suggestion and see if I can create one from my fork...😉

[2020-05-30 14:36] ramitsawhney27 opened #24 "Development: Create registration API"
## Description
As a student,
I need have a basic setup, create and populate data models classes and user registration functionality
so that users able to use BIT.

## Mocks
NA

## Acceptance Criteria

Create basic setup and an API for user registration for the BIT backend. The API would create a new user, and link it with the relevant MS user (if one exists).

Alternatives for testing the API: CuR

[2020-05-30 14:37] ramitsawhney27 commented on #24
@mtreacy002 please let me know if you have questions about this. cc: @isabelcosta

[2020-05-30 14:49] mtreacy002 commented on #15
Update:

So, Here're the latest version for API endpoints

User service

<img width="564" alt="Screen Shot 2020-05-31 at 12 43 26 am" src="https://user-images.githubusercontent.com/29667122/83331184-e1e87e00-a2d7-11ea-81f5-1d8f4c7b7959.png">
<img width="564" alt="Screen Shot 2020-05-31 at 12 44 42 am" src="https://user-images.githubusercontent.com/29667122/83331197-f2005d80-a2d7-11ea-9966-2b198a95

[2020-05-30 14:52] mtreacy002 commented on #15
Update:

Organizations service

![Screen Shot 2020-05-31 at 12 48 08 am](https://user-images.githubusercontent.com/29667122/83331294-9d111700-a2d8-11ea-97e8-725b59d7f357.png)
![Screen Shot 2020-05-31 at 12 50 00 am](https://user-images.githubusercontent.com/29667122/83331308-b7e38b80-a2d8-11ea-830f-4447c770aac0.png)
![Screen Shot 2020-05-31 at 12 50 55 am](https://user-images.githubusercontent.com

[2020-05-30 14:53] mtreacy002 commented on #15
Update:

Programs service

![Screen Shot 2020-05-31 at 12 51 52 am](https://user-images.githubusercontent.com/29667122/83331341-fe38ea80-a2d8-11ea-9113-d22444c844aa.png)
![Screen Shot 2020-05-31 at 12 52 45 am](https://user-images.githubusercontent.com/29667122/83331350-10b32400-a2d9-11ea-950c-d3eb4796bf6b.png)
![Screen Shot 2020-05-31 at 12 53 09 am](https://user-images.githubusercontent.com/2966

[2020-05-30 14:57] mtreacy002 commented on #24
Ok. Will work on it, @ramitsawhney27. But should I open a PR first to merge the code for the database schema and mock data I've done on [issue#19](https://github.com/anitab-org/bridge-in-tech-backend/issues/19)?

[2020-05-30 15:03] isabelcosta commented on #24
@mtreacy002 you will see a lot of issues like this coming up, but before this one it comes the one you already created #19 :) This is for the coding phase which has not started yet ;)

[2020-05-30 15:20] mtreacy002 commented on #24
I see.... 😂. I've just opened my 1st PR to issue#19 😊. Hopefully that's ok (starting before the official coding phase starts 😀)

[2020-05-30 15:27] isabelcosta commented on #24
All good @mtreacy002 :P

[2020-05-31 02:14] mtreacy002 commented on #22
Update:
@anitab-org/bridgeintech-maintainers. I've managed to deploy my own [heroku server](https://bridge-in-tech-ms-test.herokuapp.com/swagger.json) from my forked repo **[heroku-ms-backend](https://github.com/mtreacy002/mentorship-backend/tree/heroku-ms-backend)** branch with the same ElephantSQL instance db set with @isabelcosta last night. 🎉
<img width="832" alt="Screen Shot 2020-05-31 at 11

[2020-05-31 10:55] mtreacy002 commented on #15
Update:
API endpoints for Mentorship_Relations service

<img width="566" alt="Screen Shot 2020-05-31 at 8 47 43 pm" src="https://user-images.githubusercontent.com/29667122/83350542-1fa0e180-a380-11ea-964f-da3c699217a8.png">
<img width="568" alt="Screen Shot 2020-05-31 at 8 49 04 pm" src="https://user-images.githubusercontent.com/29667122/83350555-2f202a80-a380-11ea-9cbf-583721fcc20d.png">
<img wid

[2020-05-31 17:49] #18 closed, assigned to nobody

[2020-05-31 17:49] #17 closed, assigned to nobody

[2020-05-31 17:49] #16 closed, assigned to nobody

[2020-05-31 17:49] #14 closed, assigned to nobody

[2020-05-31 17:49] #4 closed, assigned to nobody

[2020-05-31 17:49] #5 closed, assigned to nobody

[2020-05-31 17:49] #6 closed, assigned to nobody

[2020-05-31 17:50] #7 closed, assigned to nobody

[2020-05-31 17:50] #8 closed, assigned to nobody

[2020-05-31 17:50] #11 closed, assigned to nobody

[2020-05-31 17:52] #9 closed, assigned to nobody

[2020-06-01 15:11] mtreacy002 commented on #24
Update:
Hi @anitab-org/bridgeintech-maintainers, So, I've managed to register to MS through calling its API from BIT Users service

<img width="1279" alt="Screen Shot 2020-06-02 at 12 45 53 am" src="https://user-images.githubusercontent.com/29667122/83424795-41799180-a470-11ea-8a98-9835a72a4eed.png">
<img width="1547" alt="Screen Shot 2020-06-02 at 12 46 23 am" src="https://user-images.githubuserc

[2020-06-01 15:22] meenakshi-dhanani commented on #24
According to my understanding, you want to register a user to BIT. Questions: When a user register to BIT, does it mean there are registered to MS too? For a user registered in MS, when that person logs in, does he/she have to register (new profile) to BIT or does he/she update BIT profile based on the pre-existing MS profile?

[2020-06-01 15:36] mtreacy002 commented on #24
The ideal answer is yes, user have one data for both BIT and MS. But it's not achievable in this GSoC. For now, the BIT user will login using the MS schema, which at initial stage of GSoC is going to be kept inside MS db. But at the later stage, we want MS and BIT to have the same DB end (one DB).
If the MS already have user data, and that user wants to also register with BIT, yes, then they need

[2020-06-01 15:39] meenakshi-dhanani commented on #24
So for GSoc, we have two tables, one for BIT and one for MS. And post GSoC we make one table that can be the source of truth for all users? Is that correct?

[2020-06-01 15:39] mtreacy002 commented on #24
But if we make it as the option I mentioned in the previous post

then, I think we'll cover both new or existing MS user (coz there will be no difference coz they both will be able to access BIT)

[2020-06-01 15:41] mtreacy002 commented on #24
No, actually the tables are just one, but we have 2 schemas, BIT and MS.
In MS we have
* User
* Mentorship Relation
* Task List
* Task Comment

and in BIT we have
* user_extension
* personal background
* organization
* program
* mentorship_relation_extension

[2020-06-01 15:42] mtreacy002 commented on #24
Sorry... I'll explain to you further tomorrow. I need to get to sleep now, almost 2am here 😂

[2020-06-01 15:42] meenakshi-dhanani commented on #24
Sure, please take care @mtreacy002

[2020-06-02 04:41] #1 closed, assigned to Menina294

[2020-06-02 17:09] meenakshi-dhanani opened #40 "As a user, I want to register on BIT"
## Description
As a user,
I want to register on BIT,
So that I can sign up as mentor/mentee for programs I like.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 days

[2020-06-02 17:11] meenakshi-dhanani commented on #40
The epic cannot connect both front end and backend issues. Doesn't serve the purpose

[2020-06-02 17:24] meenakshi-dhanani opened #27 "As a user, I want to see listing of all companies"

[2020-06-02 17:25] meenakshi-dhanani opened #28 "As a user, I want to see Company portfolio page"

[2020-06-02 17:26] meenakshi-dhanani opened #29 "As a company user, I want to create company profile"

[2020-06-02 17:27] meenakshi-dhanani opened #30 "As am organization user, I want to request mentor/mentee"

[2020-06-02 17:29] meenakshi-dhanani opened #31 "As a user, I want to login on BIT"

[2020-06-02 17:33] meenakshi-dhanani opened #32 "As a user, I want see BIT home page"

[2020-06-02 17:34] meenakshi-dhanani opened #33 "As a user, I want to see the listing of all programs"

[2020-06-02 17:35] meenakshi-dhanani opened #34 "As a user, I want to see listing of all mentors/mentees"

[2020-06-02 17:36] meenakshi-dhanani opened #35 "As a user, I want to see Program Details"

[2020-06-02 17:36] meenakshi-dhanani opened #36 "As a user, I want to see Mentor/Mentee profile"

[2020-06-02 17:38] meenakshi-dhanani opened #37 "As a company user, I want to create a program"

[2020-06-02 17:39] meenakshi-dhanani opened #38 "As a mentor/mentee, I want to send request to apply to a program"

[2020-06-02 17:39] meenakshi-dhanani opened #39 "As a mentor/mentee, I want to create my profile"

[2020-06-02 18:23] meenakshi-dhanani commented on #24
Please take of validations at the API level, details of the validations are in here - https://github.com/anitab-org/bridge-in-tech-web/issues/8

[2020-06-02 22:23] ramitsawhney27 commented on #24
@mtreacy002 your above suggestion seems fine. Please go ahead with that.

[2020-06-02 22:26] ramitsawhney27 commented on #15
Hi @mtreacy002, your error codes and specs look great. Thank you for the great work with them. One small suggestion, could we use "201-Created", rather than "200-OK" as the error code if something new is created? This is as per our previous discussions in weekly meetings.

[2020-06-02 22:43] mtreacy002 commented on #24
Can I confirm this. You mean we should do the validation on the Frontend UI, right? for backend, it needs to be done from the mentorship-system backend (need to open an issue and handle this backend validation there). Coz BIT is only using the MS API, but cannot alter the backend code. We can try to do it at BIT API level, but then it would still allow someone to bypass entering directly to MS API

[2020-06-02 23:16] mtreacy002 commented on #15
Sorry, haven't updated the docs yet, but have actually applied your suggestion in the code base for User Registration ([PR#26](https://github.com/anitab-org/bridge-in-tech-backend/pull/26)).
![Screen Shot 2020-06-03 at 9 15 17 am](https://user-images.githubusercontent.com/29667122/83578776-f1d3bc80-a57a-11ea-8632-31ad46317be5.png)

Will change the docs now... 😉

[2020-06-03 00:49] mtreacy002 commented on #15
Hi @anitab-org/bridgeintech-maintainers. I have updated the docs for the REST API Endpoints and errors handling [here](https://docs.google.com/document/d/1uCDCWs8Xyo-3EaUnrLOs48mefXJIN235b1aAswA-s-Y/edit#heading=h.kuvjowaa2l13). Also, I highlighted 18 error codes that I think would require changes to be done on Mentorship System backend side. This is because if we change it on MS backend, it only

[2020-06-03 01:33] mtreacy002 opened #41 "Backend Dev Setup"
This epic is to place backend dev setup related issues

[2020-06-03 01:40] mtreacy002 opened #42 "Frontend Dev Setup"
This epic is to place Frontend Dev Setup related issues

[2020-06-03 04:28] meenakshi-dhanani commented on #15
Ideally, if MS has the logic of the API, then MS error codes need to be appropriate. Let's open issues on MS, if we can pick them up because this affects BIT too, let's do that. If we don't fix MS, there will be some unnecessary code on BIT, which might have to be removed once MS is fixed, so let's fix the source(because we can). Create them as issues on MS I say, if we can let's help someone who

[2020-06-03 05:09] mtreacy002 commented on #15
I agree with @meenakshi-dhanani .
@ramitsawhney27, @isabelcosta and @foongminwong. would you be ok if I open the issues on MS backend to fix the misrepresented http error codes?
Note that the 18 highlighted error codes that need to be replaced must be represented in separate issue (individually), or at least per function (e.g. user register function) so not to block the BIT development coz the cha

[2020-06-04 08:36] mtreacy002 opened #43 "Setup: Wiki on BIT Environment Setup instructions"
## Description
As a student,
I need the project to have Set Up instructions on README.md,
so that I can help others setting up their environment to work on the project.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
**Must have the instructions to:**
- [ ]  [fork, clone remote](https://github.com/anitab-org/bridge-in-tech-backend/wiki/Fork,-Clone-&-Remote) bridge-in-tech-backend reposi

[2020-06-04 09:49] meenakshi-dhanani commented on #43
Maybe you can specify details here and mark it as a first timer issue for
someone to pick up :)

On Thu, Jun 4, 2020 at 2:06 PM Maya Treacy <notifications@github.com> wrote:

[2020-06-04 10:17] meenakshi-dhanani opened #44 "Setup Travis CI to run tests for BIT backend"
## Description
As a developer,
I need run tests on every PR on CI,
so that I can immediately get feedback on a build

## Out of Scope
Deploying to a higher environment when the push is on the develop branch

## Acceptance Criteria
- [ ] Build gets triggered on push
- [ ] Tests run for build

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estima

[2020-06-04 10:31] mtreacy002 commented on #43
Great idea. Will do that 😁

[2020-06-05 06:34] mtreacy002 opened #45 "Setup: Add basic setup and Test cases"
## Description
As a student,
I need to have the basic setup for the project,
so that I can start develop the project from there.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] config.py
- [ ] .env.tempate
- [ ] .gitignore
- [ ] requirements.txt
- [ ] run.py
- [ ] test cases
- [ ] .travis.yml

### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required it

[2020-06-05 07:37] #45 closed, assigned to mtreacy002

[2020-06-05 12:01] mtreacy002 commented on #44
Update.
@anitab-org/bridgeintech-maintainers, as discussed with @meenakshi-dhanani and @ramitsawhney27 on [zulip](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Troubleshoot/near/199865779). The travis file will be taken care of directly under [PR#26](https://github.com/anitab-org/bridge-in-tech-backend/pull/26), the basic setup for backend dev. This issue can be close

[2020-06-05 12:02] #44 closed, assigned to nobody

[2020-06-06 00:25] mtreacy002 commented on #19
This issue is no longer needed as the code change for it has been merged to [PR#26](https://github.com/anitab-org/bridge-in-tech-backend/pull/26) and mentor has reviewed and requested changes  there so I (again) will close this

[2020-06-06 00:25] #19 closed, assigned to mtreacy002

[2020-06-07 14:43] ramitsawhney27 opened #47 "Development: Create Login API"
Description
As a student, I need to have the ability to login to BIT. For this the API on the backend should be available.
Mocks
NA

Acceptance Criteria
Create an API for user login for the BIT backend. The API would take a username/password combination as input and return a response code based on the validity of the data in the database. Majorly, 2 outcomes are possible: Successful (200 OK), or U

[2020-06-09 04:45] #24 closed, assigned to mtreacy002

[2020-06-14 11:02] mtreacy002 opened #51 "task: flask-cors dependency is needed to allow cross-origin requests"
**Describe the task**
To allow multiple servers to run locally when testing Bridge in tech functionalities such as register and login, 3 servers (BIT and MS backend and BIT React frontend) need to run on local machine and sending/receiving requests from each other.

<img width="731" alt="Screen Shot 2020-06-10 at 8 28 12 pm" src="https://user-images.githubusercontent.com/29667122/84591392-4f241380

[2020-06-14 12:41] mtreacy002 opened #53 "Doc: Add missing images to BIT setup instructions Create main database section"
## Description
As a contributor,
I need to be able to see visual examples on how to setup my environment,
so that I can setup BridgeInTech backend development successfully.

## Mocks
The image below shows the missing images on [BIT Development Environment Setup Instructions](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup) wiki page.
<img width="610" alt

[2020-06-14 13:57] mtreacy002 opened #54 "Test: Write test cases for Register User API"
@mtreacy002 commented on [Sun Jun 14 2020](https://github.com/anitab-org/bridge-in-tech-web/issues/20)

## Description
As a student,
I need write test cases for Register user calls to API,
so that I can make sure the code I wrote work as expected.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] test to see if the API call is made to MS API
- [ ] test to see if the correct response

[2020-06-14 17:03] meenakshi-dhanani commented on #51
You might need to reword this to a task. It's not a bug. This is expected behavior if you attempt cross origin requests. I'm going to do some renaming. Removed the screenshot of a bad request, it's slightly misleading. A bug is something you discover post development. When you're developing everything you need to make it work is a task, story, etc.

[2020-06-15 03:57] #51 closed, assigned to nobody

[2020-06-15 04:45] mtreacy002 commented on #43
Update @anitab-org/bridgeintech-maintainers . Created [Wiki page ](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup) instead for this issue (too big to put setup instructions inside README)

[2020-06-15 04:48] mtreacy002 opened #55 "Doc: Add link to Bridge In Tech Setup Instructions"
@mtreacy002 commented on [Sun Jun 14 2020](https://github.com/anitab-org/bridge-in-tech-web/issues/19)

## Description
As a contributor,
I need to see a link on the README file to where I can read setup instruction for development environment of Bridge In Tech backend,
so that I can contribute to the project.

## Mocks
NA
## Acceptance Criteria
### Update [Required]
- [ ] Add a link with necessary

[2020-06-15 05:08] mahakbansal2019 commented on #55
@mtreacy002 I'm not able to find bridge-in-tech-backend wiki repository.
Can you help me !
Thanks :)

[2020-06-15 05:10] mtreacy002 commented on #55
It's the same link I placed on the frontend PR. Here it is https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup
can you open the link?

[2020-06-15 05:11] mahakbansal2019 commented on #55
Yeah!
Thanks for the link. It was not visible on frontend PR :)

[2020-06-15 05:12] mtreacy002 commented on #55
I see. Please do put it inside the Backend Wiki, not the frontend one 😁

[2020-06-15 12:58] mtreacy002 commented on #43
Is it ok if we close this issue now, @anitab-org/bridgeintech-maintainers, as I already added the Wiki page directly on the repo. No PR needed for this issue.

[2020-06-15 15:05] foongminwong commented on #43
@mtreacy002 yes, you can close it

[2020-06-15 18:22] mahakbansal2019 commented on #55
@mtreacy002 Could you please review this?
Thanks :)

[2020-06-15 22:07] mtreacy002 commented on #43
Thanks, @foongminwong .

[2020-06-15 22:07] #43 closed, assigned to mtreacy002

[2020-06-15 23:41] mtreacy002 opened #57 "Doc: Add Dev Env Set-up instructions .md inside .github folder"
## Description
As a GSoC student,
I need two place setup instruction inside .github folder,
so that I can make sure contributors can have a way to contribute to Development Setup Instructions on wiki pages by working on the .md file.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] .md file of Backend Development Setup instructions
### Enhancement to Update [Optional]
NA

## Defini

[2020-06-15 23:52] ramitsawhney27 commented on #53
Approved

[2020-06-17 01:26] #55 closed, assigned to mahakbansal2019

[2020-06-19 11:33] mtreacy002 commented on #47
@ramitsawhney27 . Just want to confirm.
For success Login response, we want it to be 200 OK not 201 Created, as per discussed in the [Proposal Review document](https://docs.google.com/document/d/1uCDCWs8Xyo-3EaUnrLOs48mefXJIN235b1aAswA-s-Y/edit#heading=h.qmolxjuwxlum). Am I right?

<img width="561" alt="Screen Shot 2020-06-19 at 9 30 13 pm" src="https://user-images.githubusercontent.com/29667122/8

[2020-06-21 13:42] ramitsawhney27 opened #61 "Development: Using named tuples/dictionary rather than tuple for responses"
**Is your feature request related to a problem? Please describe.**
Technical debt is added by using unnamed tuples rather than named tuples/dictionaries for storing responses in both BIT and from MS

**Describe the solution you'd like**
Replace tuples with named tuples/dictionaries

**Describe alternatives you've considered**
Please analyze between dictionaries vs named tuples
Please consider usin

[2020-06-21 14:03] ramitsawhney27 opened #62 "Development: Create/Update a profile on BIT"
**Is your feature request related to a problem? Please describe.**
As a student, I need to have the ability to create a profile on BIT. For this the API on the backend should be available.

**Describe the solution you'd like**
Create an API for profile creation/updation for the BIT backend. The API would take profile detail combinations as input and return a response code based on the validity of

[2020-06-21 14:05] ramitsawhney27 opened #63 "Development: Get User profile"
**Is your feature request related to a problem? Please describe.**
I need to have the ability to retrieve a profile on BIT. For this, the API on the backend should be available.

**Describe the solution you'd like**
Create an API for user profile retrieval for the BIT backend. The API would take user id or information as input and return the profile information with the appropriate respnse.. Major

[2020-06-21 14:07] ramitsawhney27 opened #64 "Development: Delete user profile | CROSS-PROJECT ISSUE"
**Is your feature request related to a problem? Please describe.**
I need to have the ability to delete a profile on BIT. For this, the API on the backend should be available.

**Describe the solution you'd like**
Create an API for user profile deletion for the BIT backend. The API would take user id or information as input and delete the profile information with the appropriate response.. Majorly

[2020-06-21 14:08] ramitsawhney27 commented on #63
@mtreacy002 - Please feel free to subdivide and break this issue into 3 issues (if you would like) for the following endpoints as per https://docs.google.com/document/d/1uCDCWs8Xyo-3EaUnrLOs48mefXJIN235b1aAswA-s-Y/edit#heading=h.qmolxjuwxlum
GET /users
GET /user
GET /users/{user_id}

[2020-06-26 02:16] mtreacy002 opened #66 "Test: write test cases for Login user API"
## Description
As a student,
I need test login user functionality,
so that I can make sure the functionality works as expected.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] test by mocking API when user successfully login (success response 200)
- [ ] test by mocking API when wrong password or username is given (error code 401)
- [ ] test by mocking API when internal server erro

[2020-06-26 16:21] #57 closed, assigned to nobody

[2020-06-27 13:37] #54 closed, assigned to nobody

[2020-06-28 05:38] mtreacy002 opened #68 "Doc: Modify setup instruction to set search_path on ENV_SETUP_INSTRUCTION.md"
## Description
As a developer,
I need to make sure the set search_path is included inside ENV_SETUP_INSTRUCTION.md,
so that I can make sure other contributors can set up their local environment successfully.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Added relevant changes to [BIT Development Environment Setup Instruction Wiki ](https://github.com/anitab-org/bridge-in-tech-ba

[2020-06-28 06:08] mtreacy002 opened #70 "Doc: Add missing images to ENV_SETUP_INSTRUCTION.md on Search_path section 6."
## Description
As a contributor,
I need to be able to see visual examples on how to setup my environment, in particular to set search_path to second bitschema,
so that I can setup BridgeInTech backend development successfully.

## Mocks
The image below shows the missing images on BIT Development Environment Setup Instructions wili that this issue is targeting.

<img width="654" alt="Screen Shot 20

[2020-06-28 06:11] mtreacy002 commented on #70
Update @anitab-org/bridgeintech-maintainers . This issue is to add images on the set search_path section I've just added to Wiki BIT Development Environment Setup Instructions.

[2020-07-03 23:39] #68 closed, assigned to mtreacy002

[2020-07-04 10:41] #47 closed, assigned to mtreacy002

[2020-07-05 13:50] #61 closed, assigned to mtreacy002

[2020-07-06 14:49] #66 closed, assigned to mtreacy002

[2020-07-09 00:57] mtreacy002 opened #72 "Dev: GET /user/personal_details api endpoint and tests"
## Description
As a student,
I need to create GET /user/personal_details endpoint and tests,
so that I can give user the ability to get their Personal Details.

## Mocks
as per MVP mockup

<img width="931" alt="Screen Shot 2020-07-09 at 1 23 52 am" src="https://user-images.githubusercontent.com/29667122/86937852-1545e480-c183-11ea-9015-0a0183f5b54f.png">

## Acceptance Criteria
### Update [Require

[2020-07-09 01:08] mtreacy002 opened #73 "Dev: Update user's Personal Details"
## Description
As a student,
I need to create PUT /user/personal_details endpoint and tests,
so that I can give user the ability to update their Personal Details.

## Mocks
as per MVP mockup

<img width="929" alt="Screen Shot 2020-07-09 at 11 04 25 am" src="https://user-images.githubusercontent.com/29667122/86985177-fae82700-c1d3-11ea-940b-fc57ecb50c87.png">

## Acceptance Criteria
### Update [Req

[2020-07-09 07:37] #72 closed, assigned to mtreacy002

[2020-07-09 15:48] meenakshi-dhanani commented on #63
I'm cleaning up Zenhub a bit. I see a PR merged with respect to /user/personal_details. So can I move this story to done? and close this?

[2020-07-09 15:49] #31 closed, assigned to nobody

[2020-07-10 03:03] mtreacy002 opened #75 "Bug: MS+BIT Heroku servers can't connect to one database"
**Describe the bug**
Deploying MS+BIT apps on heroku when they are connected to different databases have no issue. However, when I try to connect the MS and BIT Heroku servers to one database, the apps stop working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://bridge-in-tech-ms-test.herokuapp.com/
2. try to register a new user
3. see error (in screenshots section of this iss

[2020-07-10 09:13] mtreacy002 opened #76 "Dev: GET /user/additional_info api endpoint and tests"
## Description
As a student,
I need to create GET /user/additional_info endpoint and tests,
so that I can give user the ability to get their Additional info.

## Mocks
as per MVP mockup
<img width="931" alt="Screen Shot 2020-07-09 at 1 24 03 am" src="https://user-images.githubusercontent.com/29667122/87138199-6c61cb80-c2e1-11ea-9ed0-2e11ff817bf6.png">

## Acceptance Criteria
### Update [Required]

[2020-07-10 11:32] mtreacy002 commented on #75
Update @anitab-org/bridgeintech-maintainers .
I have successfully deployed BIT and MS apps on heroku servers that are connected to one heroku postgres database.
The servers are:
BIT: https://bridgeintech-bit-heroku-psql.herokuapp.com
MS: https://bridge-in-tech-ms-test.herokuapp.com

Since BIT heroku now talks to MS heroku for its request, if you want to test the latest BIT development you can test

[2020-07-10 11:38] mtreacy002 commented on #75
Below of some images of thee tests I've done on BIT heroku server:

Test login
![Screen Shot 2020-07-10 at 9 34 49 pm](https://user-images.githubusercontent.com/29667122/87150349-34fd1a00-c2f5-11ea-8156-dadf41ca2df0.png)

Test GET /user/personal_details:
![Screen Shot 2020-07-10 at 9 35 24 pm](https://user-images.githubusercontent.com/29667122/87150392-49d9ad80-c2f5-11ea-838a-4d600b773279.png)

Te

[2020-07-10 11:46] mtreacy002 commented on #75
Links to Heroku reelevant codes:

BIT backend repo:
https://github.com/mtreacy002/bridge-in-tech-backend/tree/Heroku-test-update

MS backend repo:
https://github.com/mtreacy002/mentorship-backend/tree/heroku-ms-bitschema-server

[2020-07-14 01:59] mtreacy002 opened #78 "Dev: Test cases for POST and GET /user/additional_info"
## Description
As a student,
I need write test cases for POST and GET /user/additional_info api endpoints,
so that I can ensure the code quality of the project.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] for successful POST /user/additional_info with response 201 - Created
- [ ] for successful GET /user/additional_info with response 200 - Ok
- [ ] for each POST and GET, write

[2020-07-14 14:42] mtreacy002 opened #80 "Dev: Update user additional information (PUT /user/additional_info)"
## Description
As a student,
I need to create PUT /user/additional_info endpoint and tests,
so that I can give user the ability to update their Personal Details.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] User can update their Personal details profile
- [ ] including test cases

### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required items are co

[2020-07-14 15:35] #73 closed, assigned to mtreacy002

[2020-07-15 14:30] mtreacy002 opened #82 "Dev: POST and GET /user/personal_background api endpoints"
## Description
As a student,
I need to create POST and GET /user/personal_background endpoints,
so that I can give user the ability to create and get their Personal Background information.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] User can create their Personal Background information
- [ ] User can get their Personal Background information

### Enhancement to Update [Optiona

[2020-07-16 10:12] mtreacy002 opened #84 "Dev: Test cases for POST and GET /user/personal_background"
## Description
As a student,
I need write test cases for POST and GET /user/personal_background api endpoints,
so that I can ensure the code quality of the project.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] for successful POST /user/personal_background with response 201 - Created
- [ ] for successful GET /user/personal_background with response 200 - Ok
- [ ] for each POST an

[2020-07-16 12:24] mtreacy002 opened #86 "Dev: PUT /user/personal_background api endpoint and test cases"
## Description
As a student,
I need to create PUT /user/personal_background api endpoint,
so that I can give user the ability to update their Personal Background information.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] User can update their Personal Background information
- [ ] include relevant test cases

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] Al

[2020-07-18 13:40] mtreacy002 opened #88 "Dev: Update ENV_SETUP_INSTRUCTION.md to reflect the related wiki page changes"
## Description
As a student,
I need update the ENV_SETUP_INSTRUCTION.md on `.github` folder,
so that I can make sure the file reflects the latest changes on its relevant [wiki page](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup).

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] the updated file content should be the same as the [BridgeI

[2020-07-18 14:17] mtreacy002 opened #90 "Doc: Update README.md to include links to documentations on wiki"
## Description
As a student,
I need add links to documentation available on wiki,
so that I can make sure contributors are aware of the available documents.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] add list of links to wiki documentations

### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-07-19 01:18] mtreacy002 opened #92 "Doc: Add ENVIRONMENT_VARIABLES.md"
## Description
As a student,
I need add ENVIRONMENT_VARIABLES.md,
so that I can make sure contributors can setup BIT backend correctly.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] add ENVIRONVEMT_VARIABLES.md to the `doc` folder

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimat

[2020-07-22 20:49] #90 closed, assigned to mtreacy002

[2020-07-23 02:26] mtreacy002 opened #94 "Bug: AUTH_COOKIE user_id persist as long as the server runs"
**Describe the bug**
AUTH_COOKIE user_id from the previous logged in user persist and can be used by the next logged in user to get previous logged in user information

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure you have 2 users in the database (if you don't have them, create and confirm email verifications). Here I have test0101 and test0202
![Screen Shot 2020-07-23 at 11 53 0

[2020-07-23 05:09] mtreacy002 commented on #94
**What**: When a user logged in and retrieved their personal details through GET /user/personal_details, the user_id is kept as AUTH_COOKIE user_id. This cookie persist even though the next user logged in, until that new logged in user reetrieved their personal details.

**Why is this a problem?**
* The new logged in user will be able to retrieved the previous user information even with new token

[2020-07-23 12:45] mtreacy002 opened #95 "Dev: GET /users list for personal details functionality"
## Description
As a student,
I need to create GET /users/personal_details api endpoint,
so that I can give BIT users ability to get list of personal details of BIT members.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] allow users to GET lists of users personal details

### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the required items are completed.
- [

[2020-07-23 19:18] #92 closed, assigned to mtreacy002

[2020-07-24 12:48] mtreacy002 opened #97 "Feat: GET /users/additional_info api endpoint and tests"
## Description
As a student,
I need to create GET /users/additional_info api endpoint,
so that I can give BIT users the ability to get list of BIT members addittional information.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] allow users to GET lists of users additional information

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items ar

[2020-07-25 10:31] #76 closed, assigned to mtreacy002

[2020-07-25 10:42] #88 closed, assigned to mtreacy002

[2020-07-25 16:12] #78 closed, assigned to mtreacy002

[2020-07-27 00:17] #97 closed, assigned to mtreacy002

[2020-07-28 09:36] mtreacy002 opened #98 "Dev: GET /users/{user_id} api endpoints and tests"
## Description
As a student,
I need to create GET /users/{user_id},
so that I can give user the ability to get details of other member.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] user can vieew otheer member's personal details
- [ ] include test cases

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2020-07-31 12:08] #80 closed, assigned to mtreacy002

[2020-08-01 11:45] #82 closed, assigned to mtreacy002

[2020-08-03 01:04] mtreacy002 opened #100 "Feat: Refactor POST/PUT /user/personal_details"
## Description
As a student,
I need to refactor POST/PUT /user/personal_details to be one endpoint (PUT/user/personal_deetails) ,
so that I can ensure business logic for create/update user personal details stays at the backend instead of done by the frontend.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Create and update user personal details must be done through one API endpoi

[2020-08-09 11:52] meenakshi-dhanani opened #102 "QA: Personal Details API returns password_hash of user | CROSS-PROJECT-ISSUE"
**Describe the bug**
The GET call for /user/personal_details returns password_hash of user in response body. It is sensitive information, and should not be returned as payload.

**To Reproduce**
Steps to reproduce the behavior:
1. Login into bridge-in-tech
2. Click on Space -> Personal Details
3. Open the Network tab on the dev tools
4. See the payload returned for this GET call - /user/personal_d

[2020-08-09 11:54] meenakshi-dhanani commented on #102
@mtreacy002 is this because of the Mentorship API we use directly? Then I'll open an issue on mentorship backend as well

[2020-08-10 23:40] #100 closed, assigned to mtreacy002

[2020-08-11 11:46] #84 closed, assigned to mtreacy002

[2020-08-11 11:57] #86 closed, assigned to mtreacy002

[2020-08-11 12:47] meenakshi-dhanani opened #104 "Dev: Create organization profile"
## Description
As a user associated to an organization,
I want to create an organization profile,
so that I can use it to create programs that the organization hosts.

## Acceptance Criteria
- [ ] Create organization profile - POST call

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

[2020-08-11 12:51] meenakshi-dhanani opened #105 "Dev: Get and Create/Update organization profile"
## Description
As an organization user,
I want to create/update organization profile,
so that I can modify details about organization.

## Acceptance Criteria
- [ ] GET request to get the organization profile
- [ ] PUT request to update the organization profile
- [ ] Handle bad request if any payload is missing, irrelevant
- [ ] Handle authorization

## Definition of Done
- [ ] All of the required

[2020-08-11 12:53] meenakshi-dhanani opened #106 "Dev: Get a list of all organization"
## Description
As a user,
I want to see which organizations are enrolled in BIT
so that I can possibly participate in their programs

## Acceptance Criteria
- [ ] GET call listing all organizations

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

[2020-08-11 13:19] mtreacy002 commented on #104
@meenakshi-dhanani . Just like what we agreed on the Refactoring POST and PUT user that got refactored to only PUT so that create and update are both done using the PUT /user/... (for the purpose of keeping logic at backend, not frontend), the same will apply to Organization and Progrram. I think you can close this issue as I'm going to modify issue #105 PUT and GET organization profile to do get,

[2020-08-11 13:27] #104 closed, assigned to nobody

[2020-08-13 15:13] Frenzyritz13 opened #108 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-14 11:29] #98 closed, assigned to mtreacy002

[2020-08-15 23:21] #105 closed, assigned to nobody

[2020-08-16 13:30] meenakshi-dhanani opened #109 "Spike: Evaluate possible approaches on dealing with authentication"
We found out that Heroku environment is unstable for the session cookie. It is flaky with the responses sometimes 200 or 500 on Cookies. We suspect it because of the session cookies (found it through the log). Perhaps being a free dyno, heroku randomly kill the server which removed the cookie that was saved.

[2020-08-16 16:02] meenakshi-dhanani opened #110 "Bug: Creation of duplicate organizations throws error"
**Describe the bug**
Creation of a duplicate organization throws error and a 500.

**To Reproduce**
Steps to reproduce the behavior:

As a user, when I try to create an organization it creates successfully, when I try creating another organization with the same payload I see the following error:

<img width="1367" alt="Screen Shot 2020-08-16 at 9 23 23 PM" src="https://user-images.githubuserconten

[2020-08-17 02:57] mtreacy002 opened #111 "Dev: Refactor login to return user is_organization_representative status"
## Description
As a student,
I need refactor login to return user is_organization_representative status,
so that I can direct user to the appropriate Navigation bar on UI depending on this status.

## Mocks
<img width="1557" alt="Screen Shot 2020-08-17 at 11 59 08 am" src="https://user-images.githubusercontent.com/29667122/90353312-36a2c600-e089-11ea-82da-ba519b057304.png">

## Acceptance Criteria

[2020-08-17 13:00] mtreacy002 commented on #109
Hi @anitab-org/bridgeintech-maintainers . Here's my medium blog post week 11 where I talked about this challenge on keeping authentication cookie on Heroku. Please check it out when you have time. Thanks
https://medium.com/@mtreacy002/challenge-in-keeping-authentication-cookie-on-a-remote-server-907944e43b23?source=friends_link&sk=1ddeaa9227330f40d78aec44aab1e911

[2020-08-18 13:42] #106 closed, assigned to nobody

[2020-08-18 23:25] mtreacy002 opened #113 "Feat: POST/GET/PUT for Programs API endpoints"
## Description
As a GSoC student,
I need add POST/GET/PUT API endpoints for Programs functionalities,
so that I can create and view programs on UI.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Must have POST/GET/PUT for Programs related functionalities
- [ ] Must have relevant test cases

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required i

[2020-08-19 11:49] mtreacy002 opened #115 "Dev: Refactor date fields on endpoints to use a human readable format"
## Description
As a GSoC student,
I need refactor all the date fields on API endpoints to use RFC 2822,
so that I can shift the logic for date conversion to be at the backend instead of frontend.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Refactor all existing date fields to use RFC 2822 (e.g. Thursday, 31-Dec-20 00:00:00 UTC)

### Enhancement to Update [Optional]
NA

## Defi

[2020-08-19 12:50] 19-pragya commented on #115
can i work in this??

[2020-08-19 12:51] 19-pragya commented on #108
can i work on this??/

[2020-08-19 13:19] mtreacy002 commented on #115
@19-pragya . This issue is labeled GSoC which means meant to be done by student (me 😁). Perhaps, if @anitab-org/bridgeintech-maintainers mentors have different opinion on this, we can take off the label GSoC and you can work on this (so I can continue with the rest of GSoC deliverables). @isabelcosta and @ramitsawhney27 , can we have your opinion on this? Thanks

[2020-08-19 13:33] mtreacy002 commented on #115
@19-pragya . My mentor @ramitsawhney27 has given his response [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/New.20Issues/near/207407227). This PR is kept for GSoC only, so I'll work on this. But thanks for showing your interest on contributing to the project. I encourage you to contribute to the project with another open PR either on backend or [frontend](https

[2020-08-19 13:36] mtreacy002 commented on #108
@19-pragya. This PR is open to public, although, we should check if @Frenzyritz13 already start working on this or not. @Frenzyritz13 , Can you please confirm?

[2020-08-22 02:01] mtreacy002 commented on #109
Hi @anitab-org/bridgeintech-maintainers . Just want to state the problems here for everyone

**In brief:**
**Problem 1**: Persisting Authentication identity of a login user.
**Problem 2**: Perfomance on Heroku server

Let's talk about it separately.

### **Problem 1. Persisting Authentication identity of a login user.**

**What is the situation?**
At the moment BIT backend deal with Authentication

[2020-08-22 03:02] mtreacy002 commented on #109
### Problem 2: Performance issue on Heroku server
**What is the situation?**
* BridgeInTech is an application that uses 2 REST APIs (BIT API and MS API) with only one API facing the user (on BIT frontend) which is the BIT REST API.

**Why is this a problem?**
This situation resulted in an extensive use of resources on both processing/computing and network bandwith. It also affects the processing t

[2020-08-22 19:10] meenakshi-dhanani commented on #111
Modified the frontend workflow to display organization profile if an error isn't received. Also modifying the login API to return user specific details wasn't the right thing to do. Hence I am closing this issue.

[2020-08-22 19:10] #111 closed, assigned to mtreacy002

[2020-08-22 23:58] mtreacy002 commented on #109
@anitab-org/bridgeintech-maintainers . Can I please have your thoughts on the above?

[2020-08-23 07:57] #113 closed, assigned to mtreacy002

[2020-08-24 01:36] #115 closed, assigned to mtreacy002

[2020-08-24 08:01] meenakshi-dhanani opened #117 "Bug: If a user has not filled up additional info, he gets 404 from GET organizations API"
**Describe the bug**
For a user who doesn't have additional info, the GET organizations API returns a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new user using /register
2. Do not do a post for additional info
3. Hit the /organizations API to get all organizations

**Expected behavior**
If a user is not allowed to invoke GET organizations without filling up additional in

[2020-08-24 10:32] mtreacy002 commented on #109
Beside **Dyno Scaling Issue** above, Heroku also has another limitation in the case of its PostgreSql BridgeInTech uses as the remote server that is used by both BIT and MS backend servers. This limitation is explained [here](https://devcenter.heroku.com/articles/heroku-postgres-plans#hobby-tier)
<img width="761" alt="Screen Shot 2020-08-24 at 8 23 20 pm" src="https://user-images.githubusercontent

[2020-08-25 01:02] mtreacy002 opened #118 "Dev: Refactor Date input field format to reflect frontend input"
## Description
As a GSOC student,
I need to refactor date input format on backend,
so that I can make sure frontend UI and backend integration on date logic aree in sync.

## Mocks
user input on frontend comes from the date selector below
<img width="546" alt="Screen Shot 2020-08-25 at 10 59 54 am" src="https://user-images.githubusercontent.com/29667122/91110768-23fc4280-e6c2-11ea-8d58-7445d326bd3

[2020-08-25 01:09] mtreacy002 commented on #118
Update @anitab-org/bridgeintech-maintainers  and @ramitsawhney27 . I need to refactor the backend code for date input format to accept "YYYY-MM-DDTHH:MM" instead of currently "YYYY-MM_DD HH:MM".
This is because for in support to date input validation on frontend, I.m currently implementing the date selector which output the date format "YYYY-MM-DDTHH:MM" in [PR#79](https://github.com/anitab-org/br

[2020-08-25 02:48] mtreacy002 commented on #118
@anitab-org/bridgeintech-maintainers  I'm closing this issue. It's not needed as I found the bug on the frontend.

[2020-08-25 02:48] #118 closed, assigned to mtreacy002

[2020-08-27 17:07] meenakshi-dhanani opened #120 "Bug: List programs for organization breaks because of 201 status code returned by mentorship API"
**Describe the bug**
For an organization, if programs need to be listed for a user that represents the organization, we do a GET call for /organizations/1/programs. This call needs to make an internal call GET/users/{user_id} to mentorship backend that ideally should return 200 but currently returns 201 status instead.

**To Reproduce**
Steps to reproduce the behavior:
 1. Login API to a user to l

[2020-08-27 23:36] mtreacy002 commented on #120
@meenakshi-dhanani . I've done some digging. I suspect that this is probably because you haven't pulled the latest code of my ms-backend-server. I continuously updating this branch to keep up with the latest code being merged to the MS backend develop. So, this is not a static branch. The last commit from MS backend I pulled to this ms-backend-server is the PR that fixes that bug (Refactor GET /us

[2020-08-28 07:23] meenakshi-dhanani commented on #120
Oh yes, I'm sorry I didn't pull the latest change. I pulled up the latest code on mentorship and it returns a 200.
Though I feel that for the /programs API if a user is not found or hasn't declared he will represent and organization, an object with the user details should not be returned. Shouldn't it be an error code? Of course this can be a different topic @mtreacy002

[2020-08-28 07:26] mtreacy002 commented on #120
Let's try to see if after you pull the latest MS code for ms-backend-server, if this is still the case (/programs API if a user is not found or hasn't declared he will represent and organization returning an object with the user details), then we can open an issue for it.

[2020-08-28 07:35] meenakshi-dhanani commented on #120
It's not about whether I get the issue or no, I don't think it's a right expectation. Like for any reason if a do not get programs from the API, an error code would be expected. A better way to handle a scenario as this would be to return an error is what I'm saying.

[2020-08-28 08:54] mtreacy002 commented on #120
@meenakshi-dhanani . If that's the concern then we don't have to do anything else, since the code already handled it properly as showing here:

* on BIT side: if the GET /users/{user_id} call to MS backend is not 200, then show user.message

<img width="1030" alt="Screen Shot 2020-08-28 at 6 32 53 pm" src="https://user-images.githubusercontent.com/29667122/91539792-38a83700-e95d-11ea-8ffe-852cca7d

[2020-08-28 11:30] #117 closed, assigned to nobody

[2020-08-30 03:31] mtreacy002 commented on #27
Update @anitab-org/bridgeintech-maintainers. I'm closing this epic now as it is now completed.

[2020-08-30 03:31] #27 closed, assigned to nobody

[2020-08-30 03:40] mtreacy002 commented on #28
Update @anitab-org/bridgeintech-maintainers . Closing this one too as it was completed.

[2020-08-30 03:40] #28 closed, assigned to nobody

[2020-08-30 03:42] mtreacy002 commented on #29
Update @anitab-org/bridgeintech-maintainers . Closing this one since it's completed.

[2020-08-30 03:42] #29 closed, assigned to nobody

[2020-08-30 03:46] mtreacy002 commented on #33
Update @anitab-org/bridgeintech-maintainers . closing this one as it's completed.

[2020-08-30 03:46] #33 closed, assigned to nobody

[2020-08-30 03:47] mtreacy002 commented on #37
Update @anitab-org/bridgeintech-managers . Closing this one as it's completed.

[2020-08-30 03:47] #37 closed, assigned to nobody

[2020-08-30 03:48] mtreacy002 commented on #35
update @anitab-org/bridgeintech-maintainers . Closing this one as it's completed.

[2020-08-30 03:48] #35 closed, assigned to nobody

[2020-08-30 03:50] mtreacy002 commented on #36
Update @anitab-org/bridgeintech-maintainers . Closing this one as it'c completed.

[2020-08-30 03:50] #36 closed, assigned to nobody

[2020-08-30 04:04] mtreacy002 commented on #95
Fixed with #99

[2020-08-30 04:04] #95 closed, assigned to mtreacy002

[2020-08-30 04:04] mtreacy002 commented on #34
Update @anitab-org/bridgeintech-maintainers . Closing this issue as it's completed.

[2020-08-30 04:04] #34 closed, assigned to nobody

[2020-08-30 04:07] mtreacy002 commented on #62
Fixed with #78, #80, #82, #84, #86

[2020-08-30 04:07] #62 closed, assigned to mtreacy002

[2020-08-30 04:34] mtreacy002 commented on #63
Fixed with #76, #78, #82, #84

[2020-08-30 04:34] #63 closed, assigned to mtreacy002

[2020-08-30 04:36] mtreacy002 commented on #42
Closing this as it's Completed.

[2020-08-30 04:36] #42 closed, assigned to nobody

[2020-08-30 04:37] mtreacy002 commented on #41
Update @anitab-org/bridgeintech-maintainers, Closing this as it's completed.

[2020-08-30 04:37] #41 closed, assigned to nobody

[2020-08-30 04:44] mtreacy002 commented on #120
Update @anitab-org/bridgeintech-maintainers . Closing this because this bug happened as the result of ncorrect ms-backend-server version was run along with BIT server.

[2020-08-30 04:44] #120 closed, assigned to nobody

[2020-08-30 04:56] mtreacy002 commented on #10
Update @anitab-org/bridgeintech-maintainers , Closing this as the app architecture has matched the final stage targetted [here](https://github.com/anitab-org/bridge-in-tech-backend/issues/10#issuecomment-635048077)

[2020-08-30 04:56] #10 closed, assigned to nobody

[2020-08-30 04:59] mtreacy002 commented on #12
Closing this as it's completed with the last comment.

[2020-08-30 04:59] #12 closed, assigned to mtreacy002

[2020-08-30 05:00] mtreacy002 commented on #13
Closing this as it's completed with the last comment.

[2020-08-30 05:00] #13 closed, assigned to mtreacy002

[2020-08-30 05:06] mtreacy002 commented on #15
Update @anitab-org/bridgeintech-maintainers . Closing this as discussion on API endpoints will be ongoing on [BridgeInTech Proposal Review doc](https://docs.google.com/document/d/1uCDCWs8Xyo-3EaUnrLOs48mefXJIN235b1aAswA-s-Y/edit#heading=h.kuvjowaa2l13)

[2020-08-30 05:06] #15 closed, assigned to nobody

[2020-08-30 05:18] mtreacy002 commented on #32
Closing this Epic as it's completed

[2020-08-30 05:18] #32 closed, assigned to nobody

[2020-08-30 05:59] mtreacy002 opened #122 "Doc: Add local to FLASK_ENVIRONMENT_CONFIG option in .ENV_Template"
**Describe the bug**
Currently there is no `local` option stated for thee FLASK_ENVIRONMENT_CONFIG in the .env.template. It is needed since user can use this option to work on local environment.

**To Reproduce**
- given the current available option, user won't be able to setup backend local server properly.

**Expected behavior**
- user should be able to havee `local` as FLASK_ENVIRONMENT_CONFIG

[2020-08-30 08:05] mtreacy002 opened #124 "Doc: DB_REMOTE_URI does not match setup instruction"
**Describe the bug**
Currently DevelopmentConfig is using DB_REMOTE_URI for as database reference in .env. This needs to be replaced with BaseConfig.build_db_uri() to match the Backend setup inctruction on Wiki to avoid confusion.

**To Reproduce**
NA

**Expected behavior**
NA

**Screenshots**
* as per setuo instruction:
<img width="658" alt="Screen Shot 2020-08-30 at 5 57 11 pm" src="https://user

[2020-08-31 00:08] mtreacy002 commented on #75
Update: This issue is solved by using Heroku postgresql as addson that is attached to both BIT and MS backend Heroku. However, using Heroku free dynos as deployment environment for BridgeInTech project is not a good option because of the reasons discussed [here](https://github.com/anitab-org/bridge-in-tech-backend/issues/109#issuecomment-678584713)

[2020-08-31 00:08] #75 closed, assigned to mtreacy002

[2020-08-31 02:52] mtreacy002 opened #126 "Test: GET /organizations/{organization_id}/programs/{program_id} endpoint"
## Description
As a developer,
I need write test cases for GET /organizations/{organization_id}/programs/{program_id} endpoints,
so that I can make sure that the endpoint works as it should be.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] test get program with successful outcome (response 200)
- [ ] test get program with at least 2 error responses from 4XX

### Enhancement to U

[2020-08-31 02:54] mtreacy002 opened #127 "Test: POST /organizations/{organization_id}/programs/program endpoint"
## Description
As a developer,
I need write test cases for POST /organizations/{organization_id}/programs/program endpoint,
so that I can make sure that the endpoint works as it should be.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] test create program with successful outcome (response 201)
- [ ] test create program with at least 2 error responses from 4XX

### Enhancement to

[2020-08-31 02:58] mtreacy002 opened #128 "Test: PUT /organizations/{organization_id}/programs/{program_id} endpoint"
## Description
As a developer,
I need write test cases for PUT /organizations/{organization_id}/programs/{program_id} endpoint,
so that I can make sure that the endpoint works as it should be.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] test update program with successful outcome (response 200)
- [ ] test update program with at least 2 error responses from 4XX

### Enhancement

[2020-08-31 03:17] mtreacy002 commented on #102
Note: This is a cross-project issue with Mentorship System backend. I have opened the corresponding issue [#790](https://github.com/anitab-org/mentorship-backend/issues/790) on Mentorship Backend for the same bug.

[2020-09-02 15:58] devkapilbansal commented on #128
@mtreacy002 I want to look into the issue

[2020-09-03 05:59] mtreacy002 commented on #128
Sure, I'll assign this issue to you @KapilBansal320. 😉

[2020-09-03 18:19] devkapilbansal commented on #128
Thanks, I will make a pull request as soon as possible.

[2020-09-04 10:01] Aaishpra commented on #70
@mtreacy002 can I work on this?

[2020-09-04 10:02] mtreacy002 commented on #70
@Aaishpra , I already assign you to issue #90. You can complete that one first before moving on to the next issue 😉

[2020-09-04 10:19] Aaishpra commented on #70
Sure

[2020-09-09 02:39] mtreacy002 commented on #128
@KapilBansal320 . Can you please give an update on your progress?

[2020-09-09 03:01] devkapilbansal commented on #128
Yes, I was going through the code first. Will make a pull request within this week

[2020-09-09 03:03] mtreacy002 opened #131 "DOC: Update ENV_SETUP_INSTRUCTION.md to match Wiki Dev setup instructions."
## Description
As a developer,
I need to update ENV_SETUP_INSTRUCTION.md on .github folder,
so that I can be sure that the information on that doc match the instruction on [wiki backend repo](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup).

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] update the content of ENV_SETUP_INSTRUCTION.md wi

[2020-09-09 17:22] devkapilbansal commented on #128
Hi, I try to setup and run the code. But getting error as:
![Screenshot from 2020-09-09 22-25-03](https://user-images.githubusercontent.com/42766576/92629055-5bd2cf00-f2eb-11ea-97b3-02926109234b.png)

I tried my level best to solve this error. It would be my pleasure if you can help me with this

[2020-09-09 22:06] mtreacy002 commented on #128
@KapilBansal320 , can you tell me in which step of the setup instructions you got this error? Also, setup instructions have been modified recently, especially on [step 7 creating .env](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup#7th-create-the-env-file-using-envtemplate). There is some extra steps for linux and windows machines that contributors need

[2020-09-10 06:31] devkapilbansal commented on #128
I got this issue on step 7 itself when running `python run.py`.
Here is my environment file.

![save](https://user-images.githubusercontent.com/42766576/92689781-4b5b3c80-f35d-11ea-8ba0-d0cad1972d8f.png)

[2020-09-10 06:32] mtreacy002 commented on #128
@KapilBansal320  can you tell me what type of OS you're using? Mac, Windows or Linux?

[2020-09-10 06:33] devkapilbansal commented on #128
Linux:Ubuntu

[2020-09-10 06:35] mtreacy002 commented on #128
Ok, have you tried to uncomment line 88 and comment out line 86 under `LocalConfig` in the config.py as per the updated setup instructions? Also, I can see that you are using `dev` env. you need to use that line 88 with `local` as env. Please try and let me know.

[2020-09-10 06:40] mtreacy002 commented on #128
Also, there are 4 options you can use for DB_TYPE as mentioned in the setup instructions. From [one of the contributors experience](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Dev.20Env.20Setup/near/209286678) whom also using linux machine, she's successfully completed the setting up using `postgres+psycopg2` option.

[2020-09-10 08:41] devkapilbansal commented on #128
Thanks, I solved it by adding DB_REMOTE_URL in my environment file.

[2020-09-10 08:52] mtreacy002 commented on #128
That's great. Although, please be aware that after [PR#125](https://github.com/anitab-org/bridge-in-tech-backend/pull/125) is approved and merged, DB_REMOTE_URL will no longer be used as it will be replaced with db credentials that will be concatenated as the string db_uri using build_db_uri() method (which was also why i suggested the fix option [above](https://github.com/anitab-org/bridge-in-tec

[2020-09-10 23:41] mtreacy002 opened #132 "Bug: test_app_config.py contains bug for linux and windows OS contributors"
**Describe the bug**
Contributors using linux and windows OS have different way to connect to the postgresql database compared to contributors on Mac OS.
On MacOS, `postgresql:///bit_schema` and `postgresql:///bit_schema_test` are used for this purpose
On Linux and Windows OS, the db_uri build using build_db_uri() method and would have the following syntax:

However in the test_app_config.py, chec

[2020-09-11 01:42] mtreacy002 opened #133 "Dev: Unittest failed on Windows OS cmd terminal but passed on VSCode IDE"
**Describe the bug**
Contributors using Windows OS cmd (and perhaps Linux OS) will see tests as failed when running `python -m unittest discover tests` from the CMD terminal. However the tests will pass on the VSCode IDE on Windows and Linux machines. The same tests will pass on both terminal and VSCodee IDE on a MacOS machines

**To Reproduce**
Steps to reproduce the behavior:
On Windows OS:
1. G

[2020-09-13 08:51] radhikasethi2011 commented on #131
I wish to work on this issue. Please assign it to me.

[2020-09-13 08:55] mtreacy002 commented on #131
Sure, @radhikasethi2011 . I'm assigning you now.

[2020-09-13 10:43] devkapilbansal commented on #128
Hi @mtreacy002 , I want to ask why c_name and c_email are used here.
https://github.com/anitab-org/bridge-in-tech-backend/blob/fbad596538609972acd3b8f77b2b73d3be912aad/app/database/models/bit_schema/organization.py#L105-L112

[2020-09-13 11:29] mtreacy002 commented on #128
Good pick up, @KapilBansal320 . They were originally named with that c_name and c_email, but I changed the names in the model but might have forgotten to change thee db query as well. Can you open an issue for that?

[2020-09-13 11:31] devkapilbansal commented on #128
Sure, I will open a issue and solve it first before moving forward

[2020-09-13 11:47] devkapilbansal opened #135 "Bug: Rename variables c_name and c_email"
**Describe the bug**
In the ogranization model, c_name and c_email are used in functions that are not defined

**To Reproduce**
Steps to reproduce the behavior:
Try to use **find_by_name** or **find_by_email** function on Organization Model

https://github.com/anitab-org/bridge-in-tech-backend/blob/fbad596538609972acd3b8f77b2b73d3be912aad/app/database/models/bit_schema/organization.py#L105-L112

*

[2020-09-13 11:49] devkapilbansal commented on #128
Opened issue #135 for that

[2020-09-13 12:00] devkapilbansal commented on #128
Also, can you please tell me why I am getting 400 response here.

I try to create a program first before updating
![program](https://user-images.githubusercontent.com/42766576/93017323-52947b80-f5e5-11ea-9d35-5fea45086897.png)

[2020-09-13 14:49] mtreacy002 commented on #128
@KapilBansal320 . from your screenshot above I could see a couple of things that could potentially be the cause. To know which one  of the below actually causing it, you can try to debug and see what the error message is for that HTTP error 400:
* the payload must be as specified in the `update_program_request_model` (in app/api/models/organization.py), even if you have some empty fields. This is

[2020-09-13 22:21] mtreacy002 commented on #135
@KapilBansal320 , can you please use one of the templates given by anitab.org (when you click on the `New Issues` button to create new issue, you'll see 4 templates below). This is required from contributors as mentioned in the [Contributing Guidelines](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/CONTRIBUTING.md) which you can find from [Getting started](https://githu

[2020-09-14 20:13] devkapilbansal commented on #128
@mtreacy002 Since I have made a pull request for this issue, can I get assigned for others?

[2020-09-15 02:35] mtreacy002 commented on #128
@KapilBansal320 , can you address the feedback I made on PR #137 first?
Also, It's always good to have a `cool off` period after you submitted a PR (at least 24 hours while waiting for the reviewer to give their feedback) to reflect on whether or not the code change you made needs some improvement. Then there are also other ways to contribute while waiting for your PR is being reviewed.
For exampl

[2020-09-15 04:14] devkapilbansal commented on #135
@mtreacy002 I used the above bug report template for this now.

[2020-09-15 04:21] mtreacy002 commented on #135
@KapilBansal320, may I know the reason why you are not replacing it with the bug template set by AnitaB.Org? Just so it's clear for us here in AnitaB.Org to why contributors choose to use their own template. cc @anitab-org/coding-team and @anitab-org/bridgeintech-maintainers

[2020-09-15 04:23] mtreacy002 commented on #135
But now that I look again, It makes sense, since this is not actually a bug needing a screenshot. so, It's ok for now, @KapilBansal320. cc @anitab-org/coding-team and @anitab-org/bridgeintech-maintainers , hope this is ok with you all too 😉

[2020-09-15 04:33] devkapilbansal commented on #128
Okay thanks, I will remember it for future.

[2020-09-15 05:37] Aaishpra commented on #108
@mtreacy002 i would like to work on this .

[2020-09-15 05:41] mtreacy002 commented on #108
Sure, I'll assign it to you now, @Aaishpra 👍

[2020-09-16 05:11] mtreacy002 commented on #131
@radhikasethi2011 , can you please give me an update on your progress?

[2020-09-17 03:48] VolatianaYuliana commented on #53
Hi @mtreacy002
I would like to work on this one.

[2020-09-17 04:10] aastha985 commented on #70
I would like to work on this.

[2020-09-17 04:20] mtreacy002 commented on #70
Sure, @aastha985. I'll assign you to this.

[2020-09-17 04:21] mtreacy002 commented on #70
Wait, sorry, @aastha985 . The issue is laabeled `First-Timers-Only`. Since you already done your first contribution to the project, you should pick another issue that is not First-Timers-Only 😉

[2020-09-17 04:24] mtreacy002 commented on #70
Let me check to see if your last issue is in frontend repo or backend. If you only have done frontend but not backend, I think then you should be allowed to take up this issue. @anitab-org/coding-team , can you please confirm this? I'm new being a maintainer 😁

[2020-09-17 04:27] mtreacy002 commented on #70
Ok, I've checked and confirmed that you've only done frontend. So, hopefully this means you can take up the issue. Am I right, @anitab-org/coding-team ?

[2020-09-17 04:35] mtreacy002 commented on #53
Suree, @VolatianaYuliana . I'll assign you to this now. Thanks for picking up the issue 😉

[2020-09-17 05:53] mtreacy002 commented on #70
@aastha985 , I'm pretty sure I can assign you to this since this will be your first time contribution to frontend repo. Thanks again for picking up the issue 😉.

[2020-09-17 06:12] aastha985 commented on #70
Great! Thanks 😊 @mtreacy002

[2020-09-17 08:33] aastha985 commented on #70
@mtreacy002 In the line,
`3. Finally, run the same command on step 2 to check if the new path has been set.`
Should this be step 1 instead of step 2 ?
Output for step2
<img width="576" alt="image3" src="https://user-images.githubusercontent.com/55681187/93444434-3434c580-f8ee-11ea-8bcd-c15994edf56a.PNG">
Output for step1
<img width="309" alt="image4" src="https://user-images.githubusercontent.com/

[2020-09-17 08:59] aastha985 commented on #70
Also, I am getting
` -- No SQL could be generated for the selected object. `

What could possibly be the issue? Thanks in advance!
![image](https://user-images.githubusercontent.com/55681187/93448948-cab6b600-f8f1-11ea-8f59-bf83f292f501.png)

[2020-09-18 00:12] mtreacy002 commented on #70
You are absolutely right 😂😂. It should be step 1. Great pick up 👍

Yep, that's about right.

This happens coz you already done step 2. For a new contributor who only just starting the setting up process, when the database still in its initial stage, output of step 1 should be only `public` and no `bit_schema`. The picture you have above should've been the output for step 3, after the search_path i

[2020-09-18 00:19] mtreacy002 commented on #70
Have you tried running the application by executing `python run.py` after altering the search_path? Coz database will only be created when you click the link to the app url given when you run that command (so, not just run the command, but click on the link)

[2020-09-18 00:23] mtreacy002 commented on #70
When you click on the link below
<img width="731" alt="Screen Shot 2020-09-18 at 10 20 39 am" src="https://user-images.githubusercontent.com/29667122/93541034-c1345900-f998-11ea-8c2a-07686bceca81.png">

and see the Swagger UI displayed properly
<img width="1680" alt="Screen Shot 2020-09-18 at 10 20 45 am" src="https://user-images.githubusercontent.com/29667122/93541094-dd37fa80-f998-11ea-8282-be3a

[2020-09-18 04:33] VolatianaYuliana commented on #53
Hey @mtreacy002!
On the **3rd step: Create the main Database**, there's that assertion after task number 5 that I should see two schemas. I don't understand where came from the public schema mentioned there because we just created **bitschema** schema in step 4.

[2020-09-18 04:46] mtreacy002 commented on #53
@VolatianaYuliana , this is because `public` schema is a default schema in postgresql and always automatically created when a database is created. This means, before adding `bitschema`, you can already see `'public` schema when you created a database. Creating another schema (in this case `bitschema`) will add as the 2nd schema of that database.

[2020-09-18 05:15] VolatianaYuliana commented on #53
@mtreacy002  it makes sense thanks :)

[2020-09-18 05:21] aastha985 commented on #70
Thanks for the clarification😊

[2020-09-18 05:22] aastha985 commented on #70
I see this instead after clicking on the link

![image](https://user-images.githubusercontent.com/55681187/93559286-0195d600-f99d-11ea-9d63-9d5a6ceaf7e9.png)

[2020-09-18 05:25] mtreacy002 commented on #70
@aastha985 , can you show we what you put in .env (remove/hide security related vars such as password and email)? And also pls tell me your machine (OS, version and what terminal you're using, plus python version)

[2020-09-18 05:33] aastha985 commented on #70
Oh Okay, I am using windows10,git bash and Python 3.6 but I haven't created the .env file yet as I was on step 6. Maybe we can update the wiki to mention the line, `you should see that the tables are created under each schemas` after step 7.
Thanks for the help:) @mtreacy002

[2020-09-18 06:03] mtreacy002 commented on #131
@radhikasethi2011 , I'm going to make this issue available again since I haven't received an update for a while.

[2020-09-18 06:12] mtreacy002 commented on #70
@aastha985 , that makes sense

 I'm planning to put the link to this file on the wiki sidebar, instead of writing the content direectly as a markdown page. For now, you could copy pasted the whole page on wiki setup instruction to this doc and add your section 6 search_path on top of it, then move the line `you should see that the tables are created under each schemas` after step 7, if you want.

[2020-09-18 06:18] #131 closed, assigned to nobody

[2020-09-18 06:27] mtreacy002 commented on #70
Another option, @aastha985 , instead of moving that line to after step 7, keep it in section 6 where it is now but add brackets like below
`Now when you run the application using python run.py (after first completing step 7) from the terminal, you should see that the tables are created under each schemas.`

Your call 😉, as long as it makes sense in terms of instruction flow.

[2020-09-18 06:45] aastha985 commented on #70
Yeah this can be done!

[2020-09-18 06:48] mtreacy002 commented on #70
So, which one you're thinking of doing, if I may know? 😁

[2020-09-18 06:56] aastha985 commented on #70
2nd :)

[2020-09-18 15:19] rpattath opened #141 "Bug: Update user personal details is not working if the same username is used | CROSS PROJECT ISSUE"
**Describe the bug**
Edit the personal information of the logged in user is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Space -> Profile -> Personal Details"
2. Change any field.
3. Save the changes
4. See error
INFO:werkzeug:127.0.0.1 - - [18/Sep/2020 11:07:36] "OPTIONS /user/personal_details HTTP/1.1" 200 -
CRITICAL:root:{'message': 'A user with that username alr

[2020-09-19 01:03] mtreacy002 opened #142 "Doc: Create GETTING_STARTED.md file inside .github folder"
**Is your feature request related to a problem? Please describe.**
The [Getting Started](https://github.com/anitab-org/bridge-in-tech-backend/wiki/Getting-Started) page on the bridge-in-tech-backend wiki is currently not written as a markdown document, but directly written as a wiki page. The content on this page needs to be made available to contributors so they can also involve in improving the

[2020-09-19 01:10] mtreacy002 opened #143 "Doc: Create GETTING_STARTED.md inside .github folder"
**Is your feature request related to a problem? Please describe.**
The [Getting Started](https://github.com/anitab-org/bridge-in-tech-web/wiki/Getting-Started) page on the bridge-in-tech-web wiki is currently not written as a markdown document, but directly written as a wiki page. The content on this page needs to be made available to contributors so they can also involve in improving the page doc

[2020-09-19 01:28] anishghimire603 commented on #142
Can you assign this to me. I would like to work on this issue.

[2020-09-19 01:29] mtreacy002 commented on #142
Sure, @anishghimire603. I'll assign you now. Thank you for picking up the issue 😉

[2020-09-19 03:02] anishghimire603 commented on #142
@mtreacy002 i have to place the content of <a href = "https://github.com/anitab-org/bridge-in-tech-backend/wiki/Getting-Started"> Getting Started </a> inside the <code> GETTING_STARTED.md </code> right? or I have make changes in wiki page?

[2020-09-19 03:08] anishghimire603 commented on #142
@mtreacy002  can I clone wiki page and copy the content of there and put it in .github/GETTING_STARTED.md  ?

[2020-09-19 03:52] mtreacy002 commented on #142
Sorry I couldn't get back to you quickly, @anishghimire603. I went to prepare and have lunch with the family 😁. But I could see that you'd solved it yourself. I've approved your PR 🎉

[2020-09-19 04:01] anishghimire603 commented on #142
Its okay @mtreacy002 when it will be merged?

[2020-09-19 04:03] mtreacy002 commented on #142
As soon as you make the title change, I'll merge it 😁

[2020-09-19 05:25] anishghimire603 commented on #142
@mtreacy002 have a look @ #144

[2020-09-19 06:34] #142 closed, assigned to anishghimire603

[2020-09-19 06:37] #124 closed, assigned to mtreacy002

[2020-09-20 12:44] #127 closed, assigned to mtreacy002

[2020-09-20 12:45] #128 closed, assigned to nobody

[2020-09-20 12:46] #135 closed, assigned to nobody

[2020-09-20 12:47] #108 closed, assigned to Aaishpra

[2020-09-20 12:48] #53 closed, assigned to VolatianaYuliana

[2020-09-20 22:13] rpattath opened #145 "Organization url dows not accept www.<string>.<string> format"
**Describe the bug**
Organization url dows not accept www.<string>.<string> format. Enter www.test.com and an error is shown

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My Space -> My Organization'
2. Edit or create a new org
3. Enter www.any-string.com
4.
![Screenshot from 2020-09-20 18-08-00](https://user-images.githubusercontent.com/26095715/93723492-e083df80-fb6c-11ea-9f38-b13

[2020-09-20 23:30] mtreacy002 commented on #141
@rpattath , thank you for opening this 🎉. I had this at the back of my mind, just didn't get a chance to do it 😊. This is a cross-project issue as the MS requires user to also change their username if they want to update details. This issue also been raised on MS which I mentioned on the PR #74 for this endpoint.

[2020-09-20 23:31] mtreacy002 commented on #141
I've changed the title a bit to make it clear why it is not working.

[2020-09-20 23:49] mtreacy002 commented on #145
@rpattath, this issue is related to frontend html <input> tag property "type" which we are using with value "url".
<img width="1680" alt="Screen Shot 2020-09-21 at 9 42 45 am" src="https://user-images.githubusercontent.com/29667122/93724972-defafb80-fbee-11ea-967e-c11ea31780b4.png">

But this is not an issue originated from BIT. This is the default that the HTML use and we can't change (unless the

[2020-09-21 07:17] HeroicHitesh commented on #141
I am not sure but I guess this is the issue because of which some of the fields in the profile always shows up as empty even after updating them in mentorship-android app🤔

[2020-09-21 14:56] #145 closed, assigned to nobody

[2020-09-22 09:36] mtreacy002 opened #146 "Doc: Add python 3.x badge to README"
## Description
As a contributor,
I need see the Python badge with version number,
so that I know which Python version to use with the application.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Add badge with Python 3.x version in the README

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-09-22 10:14] mtreacy002 opened #147 "Doc: Add Build badge for Travis CI build to README"
## Description
As a contributor,
I need to see Build badge,
so that I can see the status of the latest Travis CI build.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Add Build badge for Travis CI build. [Refer to the following resource on how to do it](https://docs.travis-ci.com/user/status-images/)

### Enhamcement to Update [Optional]
NA

## Definition of Done
- [ ] All of the

[2020-09-22 10:25] mtreacy002 opened #148 "Doc: Add CodeCov badge to README"
## Description
As a contributor,
I need to see the CodeCov badge on README,
so that I know the percentage of code being covered by the test cases.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Add CodeCov badge to README. Refer to [this](https://stackoverflow.com/questions/54010651/codecov-io-badge-in-github-readme-md) resource on how to do it.

### Enhancement to Update [Option

[2020-09-22 10:31] mtreacy002 opened #149 "Doc: Add project Zulip badge to README"
## Description
As a contributor,
I need add the project Zulip channel to README,
so that I can clearly see where to go if I want to join the community Zulip Channel.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Add Zulip badge to README with link to [#bridge-in-tech](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech) zulip channel

### Enhancement to Update [Op

[2020-09-22 13:11] anishghimire603 commented on #149
can I work on this  issue?

[2020-09-22 13:11] anishghimire603 commented on #146
can I  work on this  issue?

[2020-09-22 16:30] khushishikhu commented on #148
may i take this issue

[2020-09-22 18:22] AltCtrlDel1999 commented on #147
I would like to work on this issue

[2020-09-22 22:41] mtreacy002 commented on #146
@anishghimire603 , you have made your first contribution to the repo with PR #144. You can look for other issues that is not labelled `First-timers-only` issue. I'll leave this one for any new contributor.

[2020-09-22 22:43] mtreacy002 commented on #148
sure, @khushishikhu . I'll assign you to this.

[2020-09-22 22:45] mtreacy002 commented on #149
@anishghimire603, this issue is for first timee contributor only. please look for other issue that has no `First-timers-only` label attach to it. 😁

[2020-09-22 22:45] mtreacy002 commented on #147
Sure, @AltCtrlDel1999 , I'll assign you to this.

[2020-09-22 23:16] mtreacy002 commented on #141
@HeroicHitesh , you can try to change the username. It'll be accepted even if there are empty non-required fields in them. Which means, the issue is because of the existing logic required username to be changed on any update, which is not a common logic, so we need to change it at MS backend.

[2020-09-22 23:24] mtreacy002 commented on #141
For fields still showing as empty even after updating on MS Android, have you tried to refresh the page? If it still didn't change after refreshing the page, then you probably should check if there's a bug report on this already made. If nonee, then you can open one.

[2020-09-22 23:35] #70 closed, assigned to aastha985

[2020-09-23 06:42] DivyaR12 commented on #146
Hi
I would like to work on this issue as a first-timer

[2020-09-23 07:41] mtreacy002 commented on #146
Sure, @DivyaR12 . I'll assign you to this.

[2020-09-23 07:45] Sanika1999 commented on #149
Can I work on this? Iam first timer for this repo

[2020-09-23 07:46] mtreacy002 commented on #149
Sure, @Sanika1999 . Welcome to BridgeInTech. I'll assign you to this, 😉

[2020-09-23 20:21] rpattath opened #153 "Different ways to apply for a program"
**Is your feature request related to a problem? Please describe.**
I can think about 2 scenarios on how the applying for programs feature will be used:
1. Finding programs from bridge in tech and applying for specific programs
2. Already enrolled in a program but wants to find a mentor under that program using BIT

**Describe the solution you'd like**
In scenario 1: The application for different p

[2020-09-23 23:12] #132 closed, assigned to mtreacy002

[2020-09-24 23:22] #147 closed, assigned to AltCtrlDel1999

[2020-09-25 13:39] kritikaparmar-programmer commented on #146
Hey @mtreacy002 I'm first timer here.. Can I contribute to this issue?

[2020-09-25 14:22] rpattath opened #154 "Using the email address of the user to identify the programs the user has applied/enrolled for."
**Is your feature request related to a problem? Please describe.**
Since this application would be used by an organization, would it be possible to use the user's email address to identify the programs the user has already applied or registered for? Then the user need not go through the program application process through BIT and could directly view the mentors or mentees under those programs.

**

[2020-09-25 22:42] mtreacy002 commented on #146
@kritikaparmar-programmer , @DivyaR12 is currently assigned to this. @DivyaR12 , can you please give us an update on where you are with this task? I haven't seen a PR open for this yet.

[2020-09-26 01:35] ashokrayal commented on #141
Hi,

I would like to work on this one.

[2020-09-26 03:25] mtreacy002 commented on #141
@Ashokrayal. This PR is tightly-coupled with [issue 596](https://github.com/anitab-org/mentorship-backend/issues/596) of MS backend. MS backend PR [855](https://github.com/anitab-org/mentorship-backend/pull/855)  to fix this issue is currently under review. Please keep an eye on that PR 855, since only once that PR is approved and merged to MS backend develop branch, we can make relevant modificat

[2020-09-26 04:52] ashokrayal commented on #141
Ok. Thanks, @mtreacy002

[2020-09-26 06:14] DivyaR12 commented on #146
@mtreacy002 I am done with the task but I am having issues in committing the changes and creating a new PR.

[2020-09-26 07:55] mtreacy002 commented on #146
@DivyaR12 , for me to be able to help, can you please tell me what the issue is?

[2020-09-26 14:40] DivyaR12 commented on #146
After forking the repo, and cloning it, I end up having 3 branches for some reason- origin, master and the new branch I created for the issue. Remote setup was also done according the instructions in the Wiki. I tried to have the develop branch and the created a new branch under it as well for the issue. In both cases I get error for access rights when I try using git push.

[2020-09-27 01:11] mtreacy002 commented on #146
I see... Let's go through this one at a time:
To explain what's happening...

This is expected, after cloning, you should see master and develop branch (2 branches). Then you said you created another branch for the issue (this is the right thing to do, since you are not suppose to work on issue from develop branch).

You don't /can't do this since you are not the maintainer/owner of the anitab rem

[2020-09-27 08:46] mtreacy002 opened #155 "Doc: Update ENV_SETUP_INSTRUCTIONS.md with info specific to Windows/Ubuntu users"
## Description
As a maintainer,
I need add setup information specific to Windows/Ubuntu users,
so that I can make sure the setup instructions are clear for users regardless of their OS machines.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] add information specific to Windows/Ubuntu users on the ENV_SETUP_INSTRUCTIONS.md

### Enhancement to Update [Optional]
NA

## Definition of

[2020-09-27 10:07] Aju100 opened #157 "Bug: Unable to install all the python packages from requirements.txt"
**Describe the bug**
As mentioned in [docs](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup). I have followed every step and I was not able to install all the python packages so I can run in my local machine.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repo and make the virtual environment
2. pip install -r requirements.txt

**Expecte

[2020-09-27 12:31] mtreacy002 commented on #157
@Aju100 , Thank you for reporting this issue. This might be the same bug reported on Mentorship System backend issue [#578](https://github.com/anitab-org/mentorship-backend/issues/578). Removing the cffi package ([PR#713](https://github.com/anitab-org/mentorship-backend/pull/713)) from the dependencies actually worked for the Mentorship System. We might also need to do the same here on BridgeInTec

[2020-09-27 12:51] #149 closed, assigned to Sanika1999

[2020-09-27 13:02] #155 closed, assigned to mtreacy002

[2020-09-27 13:57] Aju100 commented on #157
@mtreacy002  yeah sure. I would love to work on this issue. As I am a beginner in opensource and would love to contribute and engage in the community.

[2020-09-27 17:14] Hinal-Srivastava opened #159 "For Windows OS users"
### **7th, Create the .env file using .env.template**
For Windows OS users the commands will generate the following error:
`'export' is not recognized as an internal or external command, operable program or batch file.`
This is because as the '**export**' command is valid only for Unix shells, hence see should use "**set**" instead of "**export**"

[2020-09-27 22:26] #148 closed, assigned to khushishikhu

[2020-09-27 22:47] devkapilbansal commented on #157
@mtreacy002 wouldn't it be better if the requirements file is audited. Similar to anitab-org/mentorship-backend#881 As the same bug was there to like:- anitab-org/mentorship-backend#713

[2020-09-29 00:24] #157 closed, assigned to nobody

[2020-09-29 01:14] Aju100 commented on #159
Hi @Hinal-Srivastava there, can you please share the screenshot of the error too. It will be much more known what the issue was.

If it doesn't support in Powershell, then you can use Cygwin to support Unix commands in your windows machine. Thank you

[2020-09-29 02:05] Hinal-Srivastava commented on #159
Hey!
![image](https://user-images.githubusercontent.com/28009493/94504351-3409c380-0226-11eb-9469-740b2fec785b.png)
I faced the error in cmd. Didn't try PowerShell

[2020-09-29 06:08] Aju100 commented on #159
As I mentioned in my initial comment. Please use Cygwin to support unix commands in your windows machine. It will support those commands.

[2020-09-29 07:35] Hinal-Srivastava commented on #159
Yes! did that. Thanks

[2020-09-29 08:37] #40 closed, assigned to nobody

[2020-09-29 08:37] #39 closed, assigned to nobody

[2020-09-29 08:38] #38 closed, assigned to nobody

[2020-09-29 08:38] #30 closed, assigned to nobody

[2020-09-29 08:45] mtreacy002 opened #161 "Feat: create POST /organizations /{organization_id} /programs/{program_id} /send_request"
## Description
As a developer,
I need add POST /organizations /{organization_id} /programs/{program_id} /send_request API endpoint,
so that a mentor/mentee can apply to a program.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] add POST /organizations /{organization_id} /programs/{program_id} /send_request API endpoint
- [ ] this request must create 2 db instances, one for `Mentor

[2020-09-29 09:04] mtreacy002 opened #162 "Feat: create GET /mentorship_relations API endpoint"
## Description
As a developer,
I need create GET /mentorship_relations API endpoint,
so that the user can see all the requests for the mentorship relation they have received/sent.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] add GET /mentorship_relations API endpoint
- [ ]  prepare all the possible http responses:
    * Ok (200): when the request is sent successfully (this will

[2020-09-29 10:59] Aju100 commented on #159
@Hinal-Srivastava  cool let's disclose this issue

[2020-09-30 08:07] v1shwa commented on #110
Hi @meenakshi-dhanani, I can work on fixing this, could you please assign this to me.

[2020-09-30 17:32] khushishikhu commented on #162
@mtreacy002  i would like to work on this issue

[2020-09-30 17:33] #159 closed, assigned to nobody

[2020-09-30 18:33] Sanika1999 commented on #161
Can I work on this? (But, I would require some guidance as I am new to this :D)

[2020-09-30 20:42] vj-codes opened #163 "docs : Update setup instructions"
## Description
As a contributor ,
I need the setup instructions upto date for all OS.

1)   .\env\Scripts\activate does not work for CMD as mentioned in instructions
Soln : Remove entire paragraph and update to just 2 lines as the command is bound to 100% work
[code]
![image](https://user-images.githubusercontent.com/60894542/94734163-79dd9d80-0386-11eb-8bf5-a4036c031efd.png)

2) To maintain consi

[2020-09-30 20:43] vj-codes commented on #163
@mtreacy002 hey I would like to work on this , can this be a good first issue for me? 👀

[2020-09-30 23:43] mtreacy002 commented on #110
Sure, @v1shwa . I'll assign you to thiis.

[2020-09-30 23:48] mtreacy002 commented on #163
Thank you @vj-codes for reporting this issue. Yes, definitely this can be the first issue for you. This issue will really help other contributors on Windows machine. I really appreciate your help... 🥰

[2020-09-30 23:49] mtreacy002 commented on #162
Sure, @khushishikhu . I'll assign you to this. Let me know if you need help 😉

[2020-09-30 23:54] mtreacy002 commented on #161
Sure, @Sanika1999, I'll assign you to this. But are you able to solve the setting up issue on the backend you mentioned [here](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Get.20started/near/211767139)? Let me know if this is still an issue after pulling the latest code change on upstream develop branch.

[2020-10-01 22:35] mtreacy002 commented on #157
@devkapilbansal . This sounds like a good idea. Can you please open an issue for it (auditing the dependencies)?

[2020-10-01 22:50] mtreacy002 opened #165 "Bug: token access expiry for tests has expired and causing some tests failed."
**Describe the bug**
The token access eexpiry in most of the test cases were set to 30 September 2020 which was already passed. This is causing the tests that are using this as their access expiry to fail. This need to be replaced with a new date that should be expired sometime in the future.

**To Reproduce**
Steps to reproduce the behavior:
1. run `python -m unittest discover tests`
2. see some

[2020-10-01 22:59] devkapilbansal opened #166 "Auditing the dependencies by fixing/upgrading/removing them"
**Is your feature request related to a problem? Please describe.**
In the requirements file, there are a lot of dependencies that cause various bugs and conflicts similar to #157

**Describe the solution you'd like**
We should manually audit the requirements file to keep the required packages only.

**Describe alternatives you've considered**
I would suggest to not use `pip freeze`  command for ge

[2020-10-01 23:02] devkapilbansal commented on #166
@mtreacy002 I would like to work on this issue

[2020-10-01 23:04] mtreacy002 commented on #166
Sure. Thanks for opening the issue @devkapilbansal . I'll assign you to this now.

[2020-10-02 06:04] devkapilbansal commented on #166
Thanks, will make a pr soon

[2020-10-02 12:13] v1shwa commented on #110
Hi @meenakshi-dhanani Could you please provide more details about the bug. I tried to replicate the error with the provided instructions but couldn't find any issue.

When I create a new org, I get the response: `Organization was created successfully.` and when I re-submit the same payload again, it says: `Organization was updated successfully.` which I believe is the expected behavior.

It'd be r

[2020-10-03 21:42] mtreacy002 commented on #154
I would also like to see this feature implemented in BIT, @rpattath . The prograrms that the login users has already applied or registered for should be shown on the users `portfolio`'s page. We have a submenu for this page already underr `My Space` > `Portfolio` but at the moment we haven't touch the development side of it since the Send Application to a program is still in progress.

[2020-10-03 22:35] mtreacy002 commented on #153
This is a great idea, @rpattath . It will bring more organization to BIT since they can just promote their exisiting program to BIT as an alternative to creating new ones. The application form that is used by this organization can be an alternative option on the `Send Application` button if the organization choose to use their own.
For this, I think we need a couple of adjustments:
1. add a boolea

[2020-10-04 05:26] khushishikhu commented on #162
@mtreacy002 please review my PR

[2020-10-04 08:18] Sanika1999 commented on #161
@mtreacy002 Iam still working on this it might take 1-2 days more.

[2020-10-07 08:23] mtreacy002 commented on #161
That's ok, @Sanika1999 . Take your time. It is a pretty big task. Thanks for giving the update.

[2020-10-08 06:09] Sanika1999 commented on #161
Hi @mtreacy002 Iam so sorry but my laptop has crashed so I need to set everything up again. You can unassign me for now.😔

[2020-10-11 10:16] vj-codes commented on #161
I would like to work on this @mtreacy002

[2020-10-11 10:17] mtreacy002 commented on #161
That's ok, @Sanika1999 . Thanks for letting me know. Hope you get the laptop fix soon 😉. @vj-codes . Yes, suree. I'll assign you to this.

[2020-10-12 03:56] mtreacy002 commented on #110
@v1shwa, can you try to create the same organization name but with different user? Perhaps this will trigger the bug.

[2020-10-12 03:59] mtreacy002 commented on #146
@DivyaR12 , can you please give an update on this issue?

[2020-10-12 06:08] anishghimire603 commented on #146
Can I work on this issue?

[2020-10-14 05:36] madhhuurrii commented on #146
@mtreacy002 if this issue is available, can u please assign me as I am a firsttimer in this repo?

[2020-10-14 06:52] DivyaR12 commented on #146
@mtreacy002 I am working on it and should be done in a few hours.

[2020-10-16 00:46] mtreacy002 commented on #146
@DivyaR12 . Can you please give me an update on this issue?

[2020-10-19 11:20] vj-codes commented on #161
Update: working on it , will send a PR by this week

[2020-10-24 01:26] mtreacy002 commented on #161
@vj-codes , can you please give me an update on where you are with this issue? Thanks

[2020-10-24 08:34] vj-codes commented on #161
@mtreacy002 heyy , I am kinda busy with a hackathon project which will get over on 26th , if this is an urgent issue to be fixed , anyone else willing to can work coz I won't be able to until 26th .

[2020-10-24 10:50] mtreacy002 commented on #161
That's ok, @vj-codes. Take your time. You can do it after the 26 if you'd like. BIT backend repo is currently blocked by PR #167 and #129 anyway. Even the other PRs that are currently open cannot be merged until the 2 PRs mentioned get reviewed 🙄 . Just let me know when you ready to pick it up again 😉

[2020-10-24 23:18] #165 closed, assigned to mtreacy002

[2020-10-25 09:39] mtreacy002 commented on #102
Update: This issue is now ready for anyone to claim since the corresponding issue on Mentorship System backend ([#790](https://github.com/anitab-org/mentorship-backend/issues/790)) already been fixed through [PR819](https://github.com/anitab-org/mentorship-backend/pull/819). Similar approach can be taken on the BIT side.

[2020-10-25 12:19] mtreacy002 opened #171 "Dev: Add CodeCov Report to Travis CI"
## Description
As a maintainer,
I need to add CodeCov report to the Travis CI,
so that I can make sure the code quality written in the PRs.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Update Travis CI to add CodeCov report

### Enhancement to Update [Optional]
NA

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1

[2020-10-26 05:35] harsh1868-zz commented on #146
@mtreacy002  someone is working on this issue but still, he/she has not given any response and I already try to add and make a pull request but as it's assign to other my request is failing in compile time so please assign to me or ask @DivyaR12  to complete it.

[2020-10-26 05:38] #163 closed, assigned to vj-codes

[2020-10-26 05:40] mtreacy002 commented on #146
@harsh1868 , I think I can safely assign you to this now as @DivyaR12 didn't give her update.

[2020-10-26 05:58] harsh1868-zz commented on #146
@mtreacy002  Please review again and ask me if any changes else merge.

[2020-10-27 01:58] #166 closed, assigned to devkapilbansal

[2020-10-27 02:02] #146 closed, assigned to harsh1868

[2020-10-27 02:04] mtreacy002 commented on #110
@v1shwa can you please give me an update on this issue?

[2020-10-27 02:09] #122 closed, assigned to mtreacy002

[2020-10-30 05:10] Aaishpra commented on #102
@mtreacy002 do we have to just remove the password hash field , like the mentioned PR . If yes, i would like to take this up.

[2020-10-30 09:57] mtreacy002 commented on #102
@Aaishpra you are correct, you just need to remove the password hash field from the user API models. I'll assign this to you then 😉

[2020-10-31 06:21] Aaishpra commented on #102
Thanks @mtreacy002 for clarifying,also I have submitted the PR , review it when you get time.

[2020-11-01 11:20] vj-codes commented on #161
@mtreacy002 really sorry for the delay , I would like to work on this again!

[2020-11-02 08:24] mtreacy002 commented on #161
Sure, thanks for the update, @vj-codes. Look forward to the PR... :wink:

[2020-11-04 12:34] vj-codes commented on #161
@mtreacy002 hey I kinda forgot the file in which the changes were needed 👀
So just to make sure , [ms schema](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/app/database/models/ms_schema/mentorship_relation.py) and [bit schema](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/app/database/models/bit_schema/mentorship_relation_extension.py) are the right files or

[2020-11-19 01:27] #126 closed, assigned to mtreacy002

[2020-11-22 10:47] mtreacy002 commented on #161
Sorry for the late reply, @vj-codes . We definitely need a new file (mentorship_relation.py) under api/models and another new file for mentorship_relation_extension.py under api/dao. Under api/resources we also need one file for mentorship_relations.py that will takee care all the routings related to mentorship_relations be it for BIT mentorship_relation_extension table or MS mentorship_relation t

[2020-11-22 11:33] mtreacy002 commented on #110
This issue is now available for anyone who's interested.

[2020-11-22 13:14] ashwinijha6 commented on #110
@mtreacy002 I would like to work on this issue could u pls assign this to me

[2020-11-27 02:41] mtreacy002 commented on #110
suree, @ashwinijha6 . I'll assign you to this. Thanks for picking it up.

[2020-12-09 12:07] #102 closed, assigned to Aaishpra

[2020-12-13 11:27] mtreacy002 commented on #161
@vj-codes , thank you again for coming to the BIT Open Session just now. As you've mentioned that you won't be available for the upcoming weeks, I'll unassign you from this issue and assign this to myself for now. Please let me know if this is as what you'd prefer.

[2020-12-27 11:56] bhu1tyagi opened #176 "Login and Signup page UI improvement"
**Describe the bug**
Improvement of Login and Signup page UI

[2020-12-27 11:57] bhu1tyagi commented on #176
I would like to work on this issue, can you please assign this to me.

[2020-12-27 11:58] bhu1tyagi commented on #176
I would like to work on this, can you please assign this to me.

[2020-12-27 12:08] #176 closed, assigned to nobody

[2021-01-02 13:43] ashwinijha6 opened #177 "docs: Add the required changes to BIT development environment setup wiki page"
## Description
As a developer,
I need rectify certain minor errors in the **BIT development environment setup wiki page**,
so that a new user can apply it correctly for the setup.

## Mocks

![command $](https://user-images.githubusercontent.com/45794450/103458003-ebccd680-4d29-11eb-9c28-4ac69091f776.JPG)

![line](https://user-images.githubusercontent.com/45794450/103458068-90e7af00-4d2a-11eb-8034

[2021-01-02 13:45] ashwinijha6 commented on #177
@mtreacy002 could u pls assign this issue to me so that I can make the necessary changes

[2021-01-03 08:23] ashwinijha6 commented on #177
![revised screenshot](https://user-images.githubusercontent.com/45794450/103474554-1ae75480-4dcb-11eb-9555-670ec87ebf35.JPG)

[2021-01-03 11:26] ashwinijha6 commented on #177
@mtreacy002 just let me know that I need to make changes to the[ wiki page](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup) directly or this [doc](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/ENV_SETUP_INSTRUCTION.md) I see some changes already made by @vj-codes but they don't reflect in the wiki page.
Also I guess a wiki pa

[2021-01-03 11:50] mtreacy002 commented on #177
@ashwinijha6. To update the BIT development environment setup page, you can update them directly on the file (ENV_SETUP_INSTRUCTION.md under .github folder ) that is being used in the Wiki. Hope this answers your question 😉

[2021-01-03 11:57] ashwinijha6 commented on #177
Ok @mtreacy002  I'll do that .
but I don't understand why there is a difference in the wiki page & doc that is (ENV_SETUP_INSTRUCTION.md under .github folder ) like in the 8th step?

[2021-01-03 12:03] mtreacy002 commented on #177
I just checked and noticed that as well.. 🤔. Perhaps there is a bug in the code that we need to investigate? Another good pick up, @ashwinijha6 . Since you're working on the issue, can you please investigate this and apply the fix?

[2021-01-03 12:23] ashwinijha6 commented on #177
Ok I'll surely look into it @mtreacy002

[2021-01-03 12:32] ashwinijha6 commented on #177
I guess @mtreacy002 certain changes were made by @vj-codes in the pull request #164 which merged to develop branch. But the wiki pages are documented on the master branch & that's the reason the changes are not reflected.
This could be the reason.

[2021-01-03 20:38] mtreacy002 commented on #177
@ashwinijha6 ,  can you please post the screen shots here on how are they different from each other (the one on wiki and the one on the file)? Since from my end they both look the same?? I don't know how I saw them differently before, but when I checked again just now the differences aren't showing 🤔

[2021-01-04 08:29] ashwinijha6 commented on #177
ok let me check

[2021-01-04 08:42] ashwinijha6 commented on #177
[Wiki page](https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup)
3rd step does not contain screenshots
![3rd step wiki](https://user-images.githubusercontent.com/45794450/103516661-e80a9280-4e96-11eb-92e8-83eb76896bc3.JPG)

[2021-01-04 08:44] ashwinijha6 commented on #177
[ENV_SETUP_INSTRUCTION.md](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/ENV_SETUP_INSTRUCTION.md) also in the sidebar of the wiki page.
3rd step contains screenshots
![3rd step ENV_SETUP md](https://user-images.githubusercontent.com/45794450/103516848-315ae200-4e97-11eb-9338-5f45694dbdd2.JPG)

[2021-01-04 08:45] ashwinijha6 commented on #177
Also @mtreacy002 u can find a difference in the 8th step using the above links

[2021-01-06 08:08] vj-codes commented on #177
@mtreacy002 @ashwinijha6 from what I've observed right now is that the wiki page does not take the info from .md setup file .
The wiki revision history is not the same as .md file history so wiki instructions need to be updated separately .
The sidebar links ENV_SETUP_INSTRUCTION.md and thus I would suggest to keep only one setup instructions , preferably the .md file as it can be updated by other

[2021-01-06 08:10] ashwinijha6 commented on #177
Yes, even I noticed that the changes are not updated as per the .md file.

[2021-01-06 21:49] mtreacy002 commented on #177
@ashwinijha6 , this is interesting. The link you gave me seems to be different than the link I opened when I clicked on the setup instruction from wiki page.

Copy pasting the link address, I found the following:
Link from your post:
https://github.com/anitab-org/bridge-in-tech-backend/wiki/BIT-development-environment-setup

whereas link from wiki page click:
https://github.com/anitab-org/bridge-i

[2021-01-06 21:57] mtreacy002 commented on #177
@vj-codes and @ashwinijha6 . Ideally we do want the wiki pages to be in .md files. So I agree, we should stick with the ENV_SETUP_INSTRUCTION.md. I will remove the wiki pages version from wiki.

[2021-01-06 21:58] mtreacy002 commented on #177
Done

[2021-01-07 07:22] ashwinijha6 commented on #177
ok @mtreacy002 now I will make the necessary changes related to my issue
Thanx for the help @mtreacy002 & @vj-codes

[2021-01-07 08:00] NenadPantelic commented on #110
Hi @mtreacy002 @ashwinijha6. @ashwinijha6  can you tell me if you work on this or it is available? :slightly_smiling_face:

[2021-01-07 08:17] ashwinijha6 commented on #110
Yeah I'm working on it, will require some more time, actually was getting an internal server error.
If I will not be able to find the bug will let u know.

[2021-01-07 08:23] NenadPantelic commented on #110
@ashwinijha6 Deal :+1:

[2021-01-09 19:56] NenadPantelic commented on #161
Hi @mtreacy002, is this still available? :slightly_smiling_face:

[2021-01-14 06:31] mtreacy002 commented on #161
Hi @NenadPantelic , I was thinking on working on this myself. But if you’re interested, you can give it a try. Do you have an idea on how to approach this?

[2021-01-15 12:31] NenadPantelic commented on #161
Hi @mtreacy002, I'm currently working on some other issues. I can ping you after I have them finished, and if the issue is still available, I can take it. What do you think?

[2021-01-15 14:01] Aaishpra opened #178 "Use HTTPStatus code values instead of enum representation, in Users API"
**Describe the bug**

The values shown on Swagger UI of Users API should be in number format instead of Enum Representations of Status Codes. For example 200 instead of HTTPStatus.OK.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://bridgeintech-bit-heroku-psql.herokuapp.com/
2. Scroll down to ```Users Api```
3. See enum representation.

![image](https://user-images.githubuser

[2021-01-15 14:13] Aaishpra commented on #178
@mtreacy002 I was working on an issue on the mentorship backend [here](https://github.com/anitab-org/mentorship-backend/issues/939#issue-773523175) and thought BIT needs a similar issue so I opened one. Actually, the values shown on BIT's swagger UI should be in real number format instead of enum representation, in the code, it should use the enum representation but in the swagger, the values disp

[2021-01-16 22:39] devkapilbansal commented on #178
@Aaishpra this issue seems valid to me, however @mtreacy002 can confirm this.
Also, I would suggest to look into other issues and leave it for newcomers only as it is not urgent

[2021-01-17 06:42] Aaishpra commented on #178
Sure thing 👍 @mtreacy002 you can label this as a first timer.

[2021-01-17 21:27] mtreacy002 commented on #161
Sure, that’s sounds great 👍 , @NenadPantelic

[2021-01-17 21:58] mtreacy002 commented on #178
@devkapilbansal and @Aaishpra , I understand why you raised this issue. However, as per suggested by my mentor @ramitsawhney27 During GSoC, it is best to give the information on swagger as the actual enum representation of the httpStatus since this way the information given as feedback to the developer is more meaningful (e.g. httpStatus.Conflict vs 409). If the number is given, developer might no

[2021-01-18 02:13] nlok5923 commented on #178
@mtreacy002 please can you assign me this issue.

[2021-01-18 02:59] mtreacy002 commented on #178
@nlok5923 , I hope to hear to @ramitsawhney27 and @isabelcosta opinion on this matter first before approving the issue and assign it to anyone. Hope this make sense 😉.

[2021-01-18 03:27] Aaishpra commented on #178
@mtreacy002 the issue itself was suggested by @isabelcosta [here](https://github.com/anitab-org/mentorship-backend/issues/846#issuecomment-749527038)

Cc @isabelcosta

[2021-01-22 15:10] vj-codes opened #179 "The description for Web Client on heroku does not match"
## Description
As a developer,I need to keep the heroku description updated
so that all users are clear about the project.

1)Go to https://bridgeintech-bit-heroku-psql.herokuapp.com/
2)Read second last line about the web client
3)It should be Bridge In Tech and not Mentorship System

## Mocks
![image](https://user-images.githubusercontent.com/60894542/105508006-de37ba80-5cf1-11eb-82ee-4a16ff212e7

[2021-01-22 15:11] vj-codes commented on #179
@mtreacy002 hey once you approve this issue , can it be made available as` first timers only`? Since it's relatively easyy

[2021-01-22 17:26] Rahulm2310 commented on #179
@vj-codes If approved, I would like to fix this 😊

[2021-01-23 02:28] mtreacy002 commented on #179
Good call, @vj-codes. Thanks for opening this issue and give it a proper label. @Rahulm2310, definitely. I'll assign you to this now 😉

[2021-01-23 02:46] mtreacy002 opened #180 "Doc: Update link to setup instructions on Readme file."
**Describe the bug**
The previous **BIT Backend Environment Setup** linked to a wiki page that is not longer exist since now we're using the ENV_SETUP_INSTRUCTION.md under .github folder. Therefore the link inside the Readme file need to be updated to reflect this change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bridge-in-tech-backend repository and click on the link to **BIT De

[2021-01-23 05:34] 0xNilesh commented on #180
I would like to work on this issue.

[2021-01-23 05:36] mtreacy002 commented on #180
Sure, @VectoTec. You can work on it 😉

[2021-01-23 05:51] 0xNilesh commented on #180
Thanks for assigning me 😄.

[2021-01-23 22:29] decon-harsh commented on #64
hey @mtreacy002 Can I take this up?

[2021-01-24 14:31] decon-harsh commented on #64
Pinging again @mtreacy002 , @ramitsawhney27

[2021-01-24 21:49] isabelcosta commented on #178
@mtreacy002 are you sure that the suggestion was about what shows up on Swagger UI or in the code?
I suggested showing on swagger because when we use representation of enum, and you make an API request, you will see a message from swagger saying that the HTTP code was undocumented.

Here's an official example of Swagger UI should look like: https://petstore.swagger.io/#/pet/updatePetWithForm
If yo

[2021-01-24 22:54] mtreacy002 commented on #64
Sorry @decon-harsh for the delay in the response. Can I please ask what your approach is for this task? Hard delete or soft delete? Can you discuss the pros and cons in regard to the two options?
The task itself is a cross project issue with the Mentorship System. Are you aware of how the Mentorship System delete feature works?
I initially want to left this feature till the end until we've got men

[2021-01-25 03:46] mtreacy002 commented on #178
That makes sense, @isabelcosta (we don't want the response to be shown as "undocumented "). Thank you for your explanation. I'm happy to approve this issue now 😉.

[2021-01-25 03:50] mtreacy002 commented on #178
@nlok5923 , are you still interested working on the issue? If you do, I'll assign you to it 😉.

[2021-01-25 03:59] Aaishpra commented on #178
@mtreacy002 in my view he has already contributed to the project, so he isn't eligible to work on a first-timer issue I guess.🤔
In my opinion this issue can be a great start for someone who's completely new to the project as @devkapilbansal also suggested cause this issue is not very urgent..

Also, shall I open similar issue for organisations API.

Hope to hear your opinion 😆

[2021-01-25 04:40] mtreacy002 commented on #178
@Aaishpra , in fact, I noticed you haven't submitted PR to the backend repo (do correct me if I'm wrong 😁). Would you like to work on this issue since you opened it? This could be your first-time contribution to the backend 😉.

And yes, please, you can open the same for other API as well. Thank you again for bringing this up 👍.

[2021-01-25 04:45] Aaishpra commented on #178
Why not if I am eligible for it😆. Will open one soon thanks.

[2021-01-25 05:10] Aaishpra opened #183 "Use HTTPStatus code values instead of enum representation in Organisations API"
**Describe the bug**

The values shown on Swagger UI of Users API should be in number format instead of Enum Representations of Status Codes. For example 200 instead of HTTPStatus.OK.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://bridgeintech-bit-heroku-psql.herokuapp.com/
2. Scroll down to ```Organisations Api```
3. See enum representation.

![image](https://user-images.gi

[2021-01-25 05:25] Aaishpra commented on #178
@mtreacy002 I just checked I have already submitted two PR's here (for the backend repo), so I am also not eligible to be working here :(
but I can surely help to guide and review the PR I guess.
This issue should be made available for someone contributing first time here or to the project, sorry for the confusion though.

[2021-01-25 08:29] mtreacy002 commented on #178
Agree, @Aaishpra . Thanks for letting me know about your previous contributions. Let's wait for a new contributor to claim the issue then 😉.

[2021-01-25 08:31] chinmaym07 commented on #178
Hey @mtreacy002 Can I take this up .?

[2021-01-25 08:37] Rahulm2310 commented on #183
@Aaishpra If approved, I would like to work on this issue. Thanks

[2021-01-25 08:42] decon-harsh commented on #64
@mtreacy002  I think, we can do both Deactivate or Delete like other companies (Facebook, Instagram). This will solve both problems. If a user wants to completely delete his/her information from this website he will choose the delete option, but if they wish to come back in the future and take a break for now they will choose to deactivate (soft delete) in that case we can remove their profile ava

[2021-01-25 08:49] mtreacy002 commented on #178
@chinmaym07 , haven't you contributed to the BIT backend repo before? If you haven't, I'll assign you to this issue. Otherwise, we should leave it to someone who hasn't contributed yet.

[2021-01-25 08:57] chinmaym07 commented on #178
I think I have contributed to BIT ..Yes sure ..It's definitely a good first issue for new contributors to get started.. 👍🏻 😀

[2021-01-25 08:57] Aaishpra commented on #183
@Rahulm2310 you are already assigned to #179 and you can't be assigned to two issues at a time in a repo/project and after getting approved this issue will be a first timer so let this be available for someone new to the project.
Hope it makes sense 😬

[2021-01-25 09:12] Rahulm2310 commented on #183
Although, I have created a PR for #179 and it is ready to be merged. Still, I completely get your point. 😊

[2021-01-25 22:00] #180 closed, assigned to 0xNilesh

[2021-01-25 22:27] decon-harsh commented on #162
hey @mtreacy002, I am able to create an endpoint POST /mentorship_relation/send_request which successfully establishes the relationship. If this issue is open and if you say, I can try to add other endpoints in the namespace.

[2021-01-26 21:45] mtreacy002 commented on #162
@decon-harsh , you are referring to issue #161 , right? Yes, it is still open. I can assign you to it if you'd like?

[2021-01-26 21:54] mtreacy002 commented on #162
@decon-harsh , this issue was already assigned to @khushishikhu and she had submitted a PR (#168) for this. Although,  currently there is a block to the issue (#161). As you noticed, we need the POST feature to work first before we can successfully send GET information on mentorship relation. Currently no one is working on issues #161 (I assigned myself but yet to have time to work on it), so, wou

[2021-01-26 22:09] mtreacy002 commented on #177
I'm closing this issue since we've removed the conflicting files (Wiki page) and use the link to ENV_SETUP_INSTRUCTIONS.md instead on the wiki sidebar menu which fix the issue raised here.

[2021-01-26 22:09] #177 closed, assigned to ashwinijha6

[2021-01-26 22:10] mtreacy002 commented on #110
@ashwinijha6 , any update here?

[2021-01-26 22:47] mtreacy002 commented on #64
@decon-harsh , currently at Mentorship System, the `Delete account` feature is made hidden to the user (check the mentorship android [issue 1019](https://github.com/anitab-org/mentorship-android/pull/1019)). The impact of this to  BIT is that it is unlikely for BIT to have a `Delete account` feature since we can't function separately from MS (MS has the main role of managing users in BIT-MS integr

[2021-01-27 07:56] ashwinijha6 commented on #110
I'm really sorry @mtreacy002 I'm a bit preoccupied at the moment. If someone wants to take up the issue can go for it.

[2021-01-27 09:25] NenadPantelic commented on #110
@mtreacy002  I can take this one if @ashwinijha6 is occupied :slightly_smiling_face:

[2021-01-27 13:54] vj-codes opened #184 "Setup black formatter and it's github action"
**Is your feature request related to a problem? Please describe.**
As a developer, I need to have good, structured, readable code to be able to read through it painlessly and effortlessly.

**Describe the solution you'd like**
The idea is to run Black through a single pass, and then integrate the [official GitHub action](https://github.com/psf/black#github-actions) so that we make it a habit for e

[2021-01-27 18:57] Rahulm2310 commented on #184
@vj-codes Hey, I would like to work on this.

[2021-01-28 23:41] mtreacy002 commented on #110
sure, @NenadPantelic . will assign you to this. @ashwinijha6 , thanks for letting us know 😉

[2021-01-28 23:45] mtreacy002 commented on #184
@vj-codes , perhaps we should separate this issue into 2? One for Black formatter and the other is for Github action?

[2021-01-29 00:40] vj-codes commented on #184
@mtreacy002 ahh no this is for setting up black in the repo so it can be used locally , and the black's gh actions to check code format while a PR is created.

[2021-01-29 03:53] mtreacy002 commented on #184
I see. Does that mean we need to move Travis first to GitHub action?

[2021-01-29 19:53] Rahulm2310 commented on #184
@vj-codes Can't we integrate Black with Travis CI ?

[2021-01-29 20:03] vj-codes commented on #184
@mtreacy002 yes moving away from travis to github actions sounds fairly efficient .
@Rahulm2310 since we are going to move to gh actions, integrating with travis is not a good choice it'll be just double work  if we do so.

[2021-01-29 22:57] mtreacy002 commented on #184
Ok then, @vj-codes. Would you like to work on this or can @Rahulm2310 pick it up?

[2021-01-30 10:07] vj-codes commented on #184
@mtreacy002 I would like to !

[2021-01-31 09:49] mtreacy002 commented on #184
Ok, I'll assign you to this @vj-codes 😉

[2021-01-31 19:22] decon-harsh commented on #161
@mtreacy002 Currently there can be only one mentorship_relation at a time, be it mentor or mentee but this shouldn't be in the case of an organization, right?
Or even an organization cannot have many mentor-mentee relations?

And is it both ways? Can the creator of the organization send a mentorship_relation request?

[2021-01-31 20:00] NenadPantelic commented on #110
Sorry for being inactive in the last three days, I had some private things to do. I'll start working on this very soon.

[2021-02-02 00:17] decon-harsh commented on #161
@mtreacy002 I would like to work on this.

[2021-02-02 04:37] mtreacy002 commented on #161
@decon-harsh , since the organisation actually connected to the mentor or mentee through a program, so within that program, the organisation only allowed to have one mentor and one mentee. The organisation itself can have many programs which means indirectly it is allowed to have many mentors and mentors, just not within the same program. Also, if the BIT member already blocked to work in a progra

[2021-02-02 04:39] decon-harsh commented on #161
Can an org send request to a mentee? @mtreacy002

[2021-02-04 04:51] mtreacy002 commented on #161
Yes, the organisation through the program can send a request to the mentor or mentee, @decon-harsh

[2021-02-04 04:51] mtreacy002 commented on #161
Would you like me to assign you to this, @decon-harsh ?

[2021-02-04 05:15] decon-harsh commented on #161
Yess i would love to work on this @mtreacy002

[2021-02-05 15:52] vj-codes commented on #184
Update- implemented black, and gh action for it as well , shall I create a PR or wait until gh action for running tests same as travis is done ? @mtreacy002

[2021-02-06 07:10] mtreacy002 commented on #184
Have you tried running the test on your own fork repo, @vj-codes ? II'm pretty sure we can try it there first, right @isabelcosta?

[2021-02-06 10:43] ashwinijha6 commented on #133
@mtreacy002 is this issue available?

[2021-02-08 01:17] mtreacy002 commented on #133
Yes, @ashwinijha6  it's still available. Would you like to work on it?

[2021-02-08 01:29] #179 closed, assigned to Rahulm2310

[2021-02-08 02:44] mtreacy002 commented on #110
@NenadPantelic , any updates on this?

[2021-02-08 07:15] ashwinijha6 commented on #133
@mtreacy002 is this just for windows OS or Can I check the bug for Linux OS also?

[2021-02-08 10:19] NenadPantelic commented on #110
Hope to open the PR today or tomorrow.

[2021-02-08 14:18] urvashi-code1255 commented on #183
@Aaishpra Do we have to change these to the status code only? Means Hardcoded values right?
![Capture](https://user-images.githubusercontent.com/63122133/107231617-8665b700-6a46-11eb-9dc4-1839d95c14d0.PNG)

[2021-02-09 03:36] nayaldivya commented on #183
Hi @Aaishpra, I would like to work on this issue.

[2021-02-09 03:42] Aaishpra commented on #183
Cc: @mtreacy002

[2021-02-09 08:08] ganatra-v commented on #178
Hello @mtreacy002 , I am new here, and would love to start contributing to this project with this issue. Could you please assign it to me?

[2021-02-09 21:20] mtreacy002 commented on #133
@ashwinijha6 , I'm not sure to whether or not this also the case on Linux since I'm only testing this on Windows. What machine you're going to use to work on this issue?

[2021-02-10 00:22] mtreacy002 commented on #178
Sure, @Vaibhav-Ganatra . Welcome and thanks for picking up the issue. I'll assign you to this.

[2021-02-11 06:13] aditmehta9 opened #190 "Feature of Deploy from Github Actions"
**Is your feature request related to a problem? Please describe.**
Creation of deploy.yml file from Github Actions

**Describe the solution you'd like**
Creation of deploy.yml file in .github/workflow category

**Additional context**
![image](https://user-images.githubusercontent.com/35133994/107322681-ef8f0e00-6aca-11eb-8de6-da8c4705e339.png)

[2021-02-11 06:14] aditmehta9 commented on #190
@mtreacy002 can this issue can be assigned to me as I haven't contributed to this repo and it is also the task of OS Ambassador more work needed section?

[2021-02-11 15:44] ashwinijha6 commented on #133
Hey @mtreacy002 I'll be using Linux OS (Ubuntu 16.04) for trying the issue. Could u assign it to me?

[2021-02-14 21:07] vj-codes opened #192 "Migrate to github actions"
**Is your feature request related to a problem? Please describe.**
Add github actions to test pull requests so we can get a precise report of the pull request whether the tests are passing or not etc.

[2021-02-14 21:09] vj-codes commented on #192
@mtreacy002 hey can you review/approve this issue?
I know the description is really short but wasn't sure what else to add, can be edited later.
Also I would like to work on this please.

[2021-02-14 21:14] vj-codes opened #193 "Wrong information in pull request template"
**Describe the bug**
In the pull request template , under checklist read last point -
`I have written Kotlin Docs whenever is applicable`
Bridge in tech does not use kotlin docs in either frontend or backend so that point should be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'PULL_REQUEST_TEMPLATE.md'
2. Scroll down to 'Checklist>>>Last point'
3. See error

**Expected beha

[2021-02-14 21:15] vj-codes commented on #193
@mtreacy002 I believe this might be due to copy pasting the template from ms-android repo 👀
It can be a good first issue for contributors , what say?

[2021-02-14 22:04] decon-harsh commented on #193
@vj-codes I agree , I got confused too , haha

[2021-02-15 19:54] decon-harsh opened #194 "Research: Add members to an Organization"
**Is your feature request related to a problem? Please describe.**

Currently, an organization has only one person i.e the creator/owner. An organization may have multiple programs and then they might need to add few members with roles like admin/members.

**Describe the solution you'd like**
Give ideas on how to Add members to an organization.

Give proper gist with models , API structure for sen

[2021-02-16 09:22] mtreacy002 commented on #190
Sure, @aditmehta9 . I'll assign you to this. 😉

[2021-02-16 09:25] aditmehta9 commented on #190
Thanks

[2021-02-16 09:44] mtreacy002 commented on #133
Sure, @ashwinijha6 . will assign you to this now. 😉

[2021-02-16 10:32] mtreacy002 commented on #193
Great catch, @vj-codes . I agree, it's a good first-timer issue 😉.

[2021-02-16 20:51] mtreacy002 commented on #192
Yep, @vj-codes , it's a valid issue. And I think the PR once submitted will need to be approved and merge first before the Black formatter issue, then we can see the build that is missing in #191 . I'll assign you to this now.

[2021-02-16 21:10] vj-codes commented on #192
@mtreacy002 acc to my observations the  travis ci build is missing in 5 out of the 7 open pull requests open , it used to be there earlier any idea why travis is missing 🤔

[2021-02-16 21:20] mtreacy002 commented on #192
😱 I'll go and check. Thanks for bringing it up @vj-codes , I didn't realise this.

[2021-02-16 21:36] mtreacy002 commented on #192
@vj-codes . I believe this is due to Travis migration from travis-ci.org to travis-ci.com. But we're still using the travis-ci.org on our Readme so we need to change it.

on travis-ci.org:
<img width="1299" alt="Screen Shot 2021-02-17 at 8 25 06 am" src="https://user-images.githubusercontent.com/29667122/108124004-cbe74b80-70fa-11eb-8925-151f18f818c1.png">

on travis-ci.com
<img width="1120" alt="

[2021-02-16 21:47] vj-codes commented on #192
@mtreacy002 give these a try , I gave it a quick look and
Apparently there's some sorta beta test that needs to be joined and only ones with higher authority can do it.
https://docs.travis-ci.com/user/migrate/open-source-repository-migration
https://discourse.mc-stan.org/t/travis-ci-org-problems-migration-to-travis-ci-com/14148

[2021-02-16 22:20] mtreacy002 commented on #194
@decon-harsh , this feature was actually considered during BIT GSoC development. However, since this will increase complexity of the development in terms of entities relationship and managerial/admin tasks, we opted to limit only one member can manage an organization at a time. This (one member as organization representative) will be the feature that we will offer in the MVP (1st version) of the a

[2021-02-16 22:49] mtreacy002 commented on #192
@isabelcosta , I've tried to look for the variables needed to make the changes as suggested on the first link referred to by @vj-codes above, but I can't see these options on my end (perhaps because I have no admin access to the AnitaB Travis repo?)
<img width="759" alt="Screen Shot 2021-02-17 at 9 45 37 am" src="https://user-images.githubusercontent.com/29667122/108131396-50d76280-7105-11eb-859f-

[2021-02-17 04:19] decon-harsh commented on #194
@mtreacy002 Thanks for addressing this I get it.

But I really think , this is really a necessary feature & in future BIT will have to extend .

I really wanted to solve this issue . Can we do one thing. Create a seperate branch so that interested people can work on it. Or this could be a GSOC proposal?

[2021-02-17 12:13] mtreacy002 commented on #194
🤔. If admins agree, I can put it as one of GSoC project ideas. @isabelcosta , can you please share your opinion on this?

[2021-02-17 14:13] #178 closed, assigned to ganatra-v

[2021-02-17 14:26] Debanitrkl commented on #193
@mtreacy002 @vj-codes could I take up this issue?

[2021-02-17 17:29] vj-codes commented on #192
@mtreacy002 yes we do use protected branches in BIT .
Shall I wait until the travis is back and then create a PR ?
cc: @isabelcosta

[2021-02-17 17:30] vj-codes commented on #193
Assigning you @Debanitrkl
Happy documenting!

[2021-02-17 21:58] mtreacy002 commented on #194
@decon-harsh , I've discussed with @isabelcosta and we'll put this issue as one of GSoC project ideas. Thanks for raising it 😉. Will label it "Status on Hold" for now and will revisit on GSoC.

[2021-02-18 05:07] sahil9001 commented on #194
@mtreacy002 Hey! Can I take this as GSoC project?

[2021-02-18 05:22] sahil9001 opened #196 "Add single Authorization Token field to avoid copy pasting everytime in the requests | CROSS PROJECT ISSUE"
**Is your feature request related to a problem? Please describe.**
Currently every request requires to enter the Authorisation Token every time, instead what we can do is add a single field for Authorisation so we don't have to enter it every time.

**Describe the solution you'd like**
Currently in every request we have a field like this,

<img width="654" alt="Screenshot 2021-02-18 at 10 43 04 AM

[2021-02-18 05:42] sahil9001 commented on #196
@mtreacy002  Can I start my first PR with this issue?

[2021-02-18 05:49] mtreacy002 commented on #194
@sahil9001 , sure, I've added this feature as one of [BIT project ideas](https://github.com/anitab-org/anitab-org.github.io/wiki/Bridge-In-Tech). Anyone who's interested in applying to GSoC can add this task as part of the tasks in their GSoC proposal and explain how they're going to approach this issue. Good luck with your GSoC application 😉.

[2021-02-18 10:54] sahil9001 commented on #196
@mtreacy002 Please respond

[2021-02-18 19:46] isabelcosta commented on #192
What exactly do you need from admins @vj-codes @mtreacy002
The idea is to still move to GitHub actions and deprecate TravisCI usage :)

[2021-02-18 20:58] vj-codes commented on #192
@isabelcosta when we do create GitHub action and the build is successful on my fork we'll still need to check if the current travis build is passing and it's not breaking anything so for that it will be needed .
But at the moment travis is missing in the repo as it's migrated from travisci.org to travisci.com so we needed admins to update travis just to crosscheck the gh actions PR is successful l

[2021-02-19 01:27] sahil9001 commented on #196
@isabelcosta Is anyone here?

[2021-02-19 02:18] mtreacy002 commented on #196
@sahil9001 , please be patient in waiting for the response for any questions or issues. Although admins or maintainers will try their best in helping contributors, you should prepare up to 3-4 days as a rule of thumb for someone to respond. This could be due to they have limited bandwidth since they have other commitment or event in their life (e.g. work, family event, uni exam or assignment, etc)

[2021-02-19 02:22] mtreacy002 commented on #196
In regard to this PR, @sahil9001, can you please elaborate (with supporting articles) what is the pros and cons of having this approach (single authorisation token), like security issue vs efficiency, etc.

[2021-02-19 02:22] mtreacy002 commented on #196
In regard to this PR, @sahil9001, can you please elaborate (with supporting articles) what are the pros and cons of having this approach (single authorisation token), like security issue vs efficiency, etc.

[2021-02-19 04:57] sahil9001 commented on #196
I'm sorry, I'll take care of this from next time.

[2021-02-19 05:09] sahil9001 commented on #196
I didn't find any article regarding this, but I could support my point by few points:

- Single Auth Token is similar to the normal Auth Token we use, it just benefits the user by not entering the same token in every request again and again.

- It provides efficiency as it saves time, like we wouldn't want to find the Token, then copy it and then paste it in every request, this also creates redund

[2021-02-19 16:51] shades-7 commented on #183
@mtreacy002 hey if it's still open I would like to take this issue.

[2021-02-19 18:41] Rahulm2310 opened #198 "Feat: Migrating documentation from wiki to docusaurus"
**Is your feature request related to a problem? Please describe.**
Current documentation is fine but with `docusaurus` , the documentation becomes more readable and maintainable.

**Describe the solution you'd like**
Moving the project's documentation to [docusaurus](https://v2.docusaurus.io).

**Additional context**
Mentorship System and Open source programs projects are moving documentation to d

[2021-02-19 18:43] Rahulm2310 commented on #198
@mtreacy002 Please share your thoughts 🙂. If you approve, I would like to take this up.

[2021-02-19 23:14] mtreacy002 commented on #183
@shades-7 , let's see if @nayaldivya still working on this. @nayaldivya, can you please give us an update?

[2021-02-19 23:18] mtreacy002 commented on #198
Sure, @Rahulm2310 . I'll assign you to this now.

[2021-02-20 00:22] mtreacy002 commented on #196
@sahil9001 , I'm concern this will raise security issue since we'll be keeping the token somewhere in our backend server instead of just utilising the jwt to do the authentication for us. We have to hear what @isabelcosta opinion on this as the Mentorship System is the one managing the user's authentication. Plus, if we do going that direction, this change needs to be done on the MS backend side f

[2021-02-20 04:44] epicadk commented on #196
@sahil9001 Each request will still contain the authorization header right? This is just being done for the convenience of the user?

[2021-02-20 07:42] sahil9001 commented on #196
Yes, it'll still contain token in the header.

[2021-02-20 08:08] epicadk commented on #196
Yep @mtreacy002 it makes sense. Instead of repeatedly copy pasting the same auth token everywhere we can just enter it once in swagger.

[2021-02-20 08:21] sahil9001 commented on #196
Yeah that's what I'm saying here.😁

[2021-02-20 12:06] mtreacy002 commented on #196
@epicadk and @sahil9001 , you need to open an issue on MS backend first on this. As I explained, the JWT is within MS backend territory which BIT has to closely follows. Only once the cross project issue on MS backend has been resolved and merged into develop branch, BIT can continue working on this issue. I’ll label this issue a cross project issue and put status “on hold” for now.

[2021-02-20 12:12] epicadk commented on #196
Well it isn't a change to the JWT per say. There will be **no change** in the api, only the swagger ui will be changed that is all. Will this also require change on the MS backend?

[2021-02-20 12:13] mtreacy002 commented on #196
Also, @sahil9001 and @epicadk , what about the security implication to this? It’s no longer the same as reliance on JWT instead what it does seems to cancel out the reason of why JWT is there in the first time (making sure web app is secure in regard to authentication). Can you please explain why you think this is much better option to JWT? Saving developer’s time is a lesser concern for me then s

[2021-02-20 12:32] mtreacy002 commented on #196
Yes, I believe so, @epicadk since we can’t have two different ways to interact with our 2 swagger UIs BridgeInTech is using for its backend server (one for BIT backend server and the other for the MS backend server). The developer will be confused, right?

[2021-02-20 12:39] epicadk commented on #196
Makes sense. We can open a similar issue on mentorship backend.

[2021-02-20 18:55] Rahulm2310 commented on #198
@mtreacy002 I have migrated the documentation from wiki to docusaurus. Here's a link to hosted site https://bit-backend-docs.surge.sh/. Please give your suggestions. If all good, I can create a PR.🙂

[2021-02-21 02:14] mtreacy002 commented on #198
@Rahulm2310 , can you please explain to me what will happen with Wiki once we adopted this in our project repo? will the wiki page still be there? And where will we see the link to this docusaurus (README file or elsewhere? Thanks

[2021-02-21 02:21] mtreacy002 commented on #198
@Rahulm2310 . You can remove the `How to contribute` section because I want the contributor to go to the `Getting Started` page to know more about how to make contribution. This is because if we keep them both, the contributor can easily overlook the `Getting Started` page which actually has important guidelines for them on how to contribute to the project (like the GitHub workflow). Plus, the `Co

[2021-02-21 02:31] mtreacy002 commented on #198
Also, I've just added a new section on wiki for BIT redesign related files. Can you please add this on the docusaurus, please? Thanks
<img width="243" alt="Screen Shot 2021-02-21 at 1 30 00 pm" src="https://user-images.githubusercontent.com/29667122/108613770-1d6c3f00-7449-11eb-9427-958984d6f7b6.png">

[2021-02-21 18:09] Rahulm2310 commented on #198
@mtreacy002  Nothing will happen to the wiki. It will remain intact. We will just have a more appealing and readable documentation. We can add a `Documentation` section in the readme and provide there a link to the docusaurus website. Or if you have a suggestion, please put it forward.

Sure, I will apply all the suggested changes. Thanks 🙂

[2021-02-21 19:12] Rahulm2310 commented on #198
@mtreacy002 Applied suggested changes. Please take a look https://bit-backend-docs.surge.sh/

[2021-02-21 22:03] mtreacy002 commented on #198
@Rahulm2310 , thanks for your explanation. Yep, I think we can add the link to docusaurus in Readme 👍. Can you please add that to your changes? Thanks.

[2021-02-21 22:17] mtreacy002 commented on #198
@Rahulm2310 , can you please add the new changes for meeting minutes section I added on wiki?
<img width="249" alt="Screen Shot 2021-02-22 at 9 15 27 am" src="https://user-images.githubusercontent.com/29667122/108640594-bb661500-74ee-11eb-9bde-c84d4ab12c21.png">

[2021-02-22 05:01] sahil9001 commented on #196
@mtreacy002 @epicadk Are we going to open issue in mentorship backend? I can't find this issue created on that repo.

[2021-02-22 07:03] epicadk commented on #196
Nope hasn't been created. You can create the issue on the mentorship repo. @sahil9001

[2021-02-22 07:10] sahil9001 commented on #196
Okay sure! Will do by today!

[2021-02-22 18:22] Rahulm2310 commented on #198
@mtreacy002 Applied suggested changes and submitted a PR. Please review it 🙂

[2021-02-23 06:10] vj-codes opened #201 "Remove .github/ISSUE_TEMPLATE folder"
### Description
As a org admin / maintainer,
I need to maintain 1 version of issue templates used in the organization,
so that I can avoid duplicating work and having different versions of the templates, when we want to use the same ones across all projects.

Because the issue templates are now on https://github.com/anitab-org/.github, we don't need to have issue templates present in the repositor

[2021-02-23 13:29] sahil9001 commented on #201
Can I take this up?

[2021-02-24 06:01] #193 closed, assigned to Debanitrkl

[2021-02-24 06:14] mtreacy002 commented on #192
@vj-codes , I think once you submit the code change for this PR, the .github/workflows/main.yml will trigger build with GitHub actions and we can see if the tests pass or not. The travis.yml will be removed in the code changes anyway, so we don't have to worry about Travis CI, right? The black issue #191 can be revisited once the PR of this issue Is approved 😉.

[2021-02-24 10:37] mtreacy002 commented on #133
@ashwinijha6 , any update on this? Have you tried running on Linux? Did you face the same issue?

[2021-02-24 10:39] mtreacy002 commented on #183
@shades-7 , we hear no reply from @nayaldivya . If you are still interested on the issue, I'll assign you to this.

[2021-02-24 10:44] mtreacy002 commented on #190
This issue is closed due to it is not possible to deploy backend to static gh-pages (refer to this [MS backend pr](https://github.com/anitab-org/mentorship-backend/pull/995) discussion).

[2021-02-24 10:44] #190 closed, assigned to aditmehta9

[2021-02-24 10:45] mtreacy002 commented on #201
Sure @sahil9001 . I'm assigning you now.

[2021-02-24 21:44] #198 closed, assigned to Rahulm2310

[2021-02-25 19:49] ashwinijha6 commented on #133
@mtreacy002 I need a little time on this as I'm facing an issue with pgadmin4.

[2021-02-25 22:13] mtreacy002 commented on #133
Sure, @ashwinijha6 . Let me know if you need help.

[2021-02-26 14:57] epicadk commented on #109
Even if the cookie is deleted because heroku killed the app it shouldn't be if we follow rest guidelines right?

[2021-02-27 05:19] mtreacy002 commented on #109
@epicadk , can you please elaborate on this?

[2021-02-27 05:21] mtreacy002 commented on #183
@shades-7 . this issue is yours to work on now 😉

[2021-02-28 14:10] mtreacy002 commented on #196
@sahil9001 , since the Mentorship System will stick with using jwt token for each api requests when user logged-in (see comment [here](https://github.com/anitab-org/mentorship-backend/issues/1014#issuecomment-787444760)), BIT will need to follow suit. So, I will also close this issue now.
cc @epicadk and @isabelcosta

[2021-02-28 14:10] #196 closed, assigned to nobody

[2021-03-03 05:58] mtreacy002 opened #203 "Bug: Token expiry no longer returned by MS backend"
**Describe the bug**
Token expiry has been removed from the MS backend response when user login. This causes server crash since the BIT logic still checks for this token expiry when validating token.

**To Reproduce**
Steps to reproduce the behavior:
1. Update your version of ms-backend-server by pulling the latest update from https://github.com/mtreacy002/mentorship-backend/tree/ms-backend-server

[2021-03-03 08:10] sahil9001 commented on #203
Hey can I take this up?

[2021-03-03 09:13] mtreacy002 commented on #203
@sahil9001. This issue is labelled `First timers only` so let's give those who never contributed before to claim this issue. You've made contribution through #201 😉

[2021-03-03 09:15] sahil9001 commented on #203
Okay😂👍

[2021-03-03 09:32] #201 closed, assigned to sahil9001

[2021-03-03 19:13] Rahulm2310 commented on #94
@mtreacy002 I don't understand why are we not removing the auth-cookie on user logout ? 🤔

[2021-03-03 20:55] 17sushmita commented on #203
Can I take this issue?

[2021-03-03 22:26] mtreacy002 commented on #203
Sure, @17sushmita . I'll assign this to you now. Thank you for picking up the issue 😉

[2021-03-04 05:29] vj-codes commented on #192
@mtreacy002 since the deploy to gh pages issues is opened again , is this issue valid?

[2021-03-04 06:49] mtreacy002 commented on #192
Yes, @vj-codes , this issue is valid. But to be clear, this issue is separate from the gh-pages on frontend.
The backend gh-pages remains as an invalid issue. But regardless of gh-pages, the CI need to be moved from Travis CI to GitHub action, which is the task on this PR. Will you be able to continue to work on this?

[2021-03-04 06:55] vj-codes commented on #192
@mtreacy002 yes I would like to continue, will create a PR  in few hours , I have done the changes locally need to push them and check if all actions are succesfull ir not:)

[2021-03-04 07:57] b-thebest commented on #203
Can I take up this issue, token expiry has been removed from mentorship backend. I am first timer to this repo.

[2021-03-04 08:01] b-thebest commented on #194
Can I work on this issue ?

[2021-03-04 08:01] b-thebest commented on #94
Can I work on this issue ?

[2021-03-04 08:20] mtreacy002 commented on #203
@b-thebest , thanks for showing interest on this issue. @17sushmita has been assigned to this as she claimed the issue first 😉.

[2021-03-04 08:23] mtreacy002 commented on #183
@shades-7 , can we please get an update on this issue?

[2021-03-04 08:24] mtreacy002 commented on #94
Sure, @b-thebest. I'll assign this to you now. Thanks for picking up the issue 😉.

[2021-03-04 08:30] b-thebest commented on #203
@mtreacy002 No problem, In any case if PR not made I can work. expiry time is no longer returned by MS backend by the way.

[2021-03-04 08:34] mtreacy002 commented on #94
@Rahulm2310 . The MS backend that deals with authentication has no logout feature, that's also why the BIT backend doesn't have this feature.
Only at frontend (both MS and BIT) we're removing auth-cookie on user logout.

[2021-03-04 10:46] mtreacy002 commented on #133
@ashwinijha6 , can you please give update on this?

[2021-03-04 13:47] shades-7 commented on #183
@mtreacy002 I am on it,
please check the values in the table below, are they correct?
if yes will update soon.

| Current Value      | New Value     |
| :------------- | :----------: |
|  HTTPStatus.UNAUTHORIZED | 401   |
|   HTTPStatus.FORBIDDEN  | 403 |
|   HTTPStatus.OK |  200 |
|   HTTPStatus.INTERNAL_SERVER_ERROR | 500 |

[2021-03-04 14:25] Aaishpra commented on #183
@shades-7 you just need to add.  `.value` after every `http.status.x` so don't worry much about the table and other things when you will add .value the enum representation of status codes will automatically convert themselves into real number representation.
For refrence take a look at #188
Btw the table is absolutely correct 👍🏻

[2021-03-04 14:32] shades-7 commented on #183
@Aaishpra Thanks for the guidance will get into it and let you know the update soon.

[2021-03-05 16:27] NenadPantelic opened #205 "Bug: Creation of program with non-unique name throws an unhandled error"
### Describe the bug
Currently, if we add an organization with the name that was used before (non-unique name), we got an unhandled server error.
### To Reproduce
Steps to reproduce the behavior:
1. Go to Swagger UI or client app like Postman/Insomnia
2. Send the  POST request to `/organizations/{organization_id}/programs/program`
3. An unhandled error is returned

### Expected behavior
We should

[2021-03-05 16:27] NenadPantelic commented on #205
@mtreacy002 Can you please, label it and assign me?

[2021-03-05 16:30] NenadPantelic commented on #205
PR #189 solves this.

[2021-03-05 22:04] mtreacy002 commented on #205
done, @NenadPantelic . Will you also like to work on the other issue #110 or should I unassign you from there?

[2021-03-05 22:08] mtreacy002 commented on #205
@NenadPantelic , please remove the `Smartphone` section from issue description but be specific on the `Desktop` section of your machine env.

[2021-03-05 22:09] mtreacy002 commented on #205
Please link that PR to this issue.

[2021-03-06 01:23] mtreacy002 commented on #192
@vj-codes . You can use this Mentorship backend [issue 1029](https://github.com/anitab-org/mentorship-backend/pull/1029) as reference for running the tests. That MS backend issue has successfully passed all tests. Thanks to @epicadk who has helped me with the process 😉.

[2021-03-06 07:59] epicadk opened #206 "Feature : Checking if the auth token has expired"
### Is your feature request related to a problem? Please describe.

Currently, we send all auth tokens to the MS-backend. However if we check if the auth token has expired or not before sending it to the MS-backend then it would reduce the load and also limit our calls to the MS-backend.

### Describe the solution you'd like

Check if the Auth token has expired. And if it has send a 401 response t

[2021-03-06 08:01] epicadk commented on #206
Marking this as status on hold as this needs to be approved by @mtreacy002.

[2021-03-06 10:11] NenadPantelic commented on #205
I can handle that too, first to get #189 merged.

[2021-03-06 10:34] mtreacy002 commented on #206
@epicadk , can you please share the link to the similar issue on the MS Android so I can check it out?

[2021-03-06 14:16] epicadk commented on #206
Sure , [here](https://github.com/anitab-org/mentorship-android/pull/1023/files#diff-9d30af116c1a33ffe266b84261069652ef46833d700be8cc18d128c19427e932R50) it is. Although that is only a small part of the pr. I Think it is on line 50 in the network interceptor file :) .

[2021-03-06 14:30] mtreacy002 commented on #206
I'm thinking if we could do the same so instead of checking the token expiry on BIT backend, we can do that on BIT web, that way we don't need to send request from frontend if token is expired. We just need to ask user to login again on frontend. What do you think, @epicadk ?

[2021-03-06 14:33] epicadk commented on #206
I agree but since it is a rest api and a user does not necessarily need to use the BIT front-end I still think it makes sense to add a check to the BIT backend.

[2021-03-06 14:38] mtreacy002 commented on #206
That makes sense, it'll be good for the backend developers so it reminds them that token is expired meaning they need to login again 👍. Ok. will approve this issue now. Would you like to work on this, @epicadk ?

[2021-03-06 14:40] epicadk commented on #206
Yep, I'd like to work on this. : )

[2021-03-06 14:41] epicadk commented on #206
Although it might take a while because I have to set the project up locally. I hope that's okay : ).

[2021-03-06 16:00] mtreacy002 commented on #206
Assigning you now 😉. Take your time. Just don't forget to give update every 3-4 days.

[2021-03-06 18:05] vj-codes commented on #192
@mtreacy002 thanks for sharing it is definitely helping with the error I got :)

[2021-03-07 18:58] ashwinijha6 commented on #133
Yes @mtreacy002 the tests fail when performing them on the terminal
![bit_test](https://user-images.githubusercontent.com/45794450/110251152-34f90b00-7fa5-11eb-8b89-9ee738585e06.JPG)

[2021-03-07 21:07] mtreacy002 commented on #133
Ahhh, I see. @ashwinijha6, can you please add this point in the issue description (that same issue also happens on Linux OS and please indicate your terminal shell)? Are you able to  continue working on it for the fix?

[2021-03-08 04:19] ashwinijha6 commented on #133
Ya sure @mtreacy002 I will add it in the description. Also I will continue working on the fix 👍

[2021-03-08 09:34] b-thebest commented on #94
@mtreacy002 I was trying to understand what else needed to be done from now in this project. Could you please help me understand, what should be done actually after these merge requests.

[2021-03-08 09:50] epicadk opened #207 "Feat: Alternative way to setup dev environment using docker"
### Is your feature request related to a problem? Please describe.

As a developer I want to the setup process of the dev environment to be as simple as possible. Currently we have around 9 steps that need to be followed.

### Describe the solution you'd like

The setup process can be made easier with the help of docker.

### Describe alternatives you've considered

There are other containers as w

[2021-03-08 09:53] epicadk commented on #206
Making this issue available as I have to work on other action items.

[2021-03-08 09:54] epicadk commented on #207
Self assigning as was discussed in the BIT open session.

[2021-03-08 10:11] vj-codes commented on #192
@mtreacy002 I'm done , I just had a small ques , my fork is currently 4 commits behind develop , is it mandatory to sync it the branch I created for gh actions?

[2021-03-08 10:14] epicadk commented on #192
I guess it would be better if you merge the changes so we can check if all the tests pass.

[2021-03-08 10:15] vj-codes commented on #192
ah okay thanks @epicadk

[2021-03-08 11:08] mtreacy002 commented on #94
After these merge requests , @b-thebest ? I’m not following. Do you mean what you need to do on this PR? If so, Please check the “expected behaviour” and the “additional context” on the issue description for what is expected from this PR 😉

[2021-03-08 13:29] #203 closed, assigned to 17sushmita

[2021-03-08 13:39] shades-7 commented on #183
Hey, I was setting the project locally can someone help me with the 7th step I don't get what we need to do.
![Screenshot from 2021-03-08 19-07-34](https://user-images.githubusercontent.com/58786336/110328612-91aa0380-8041-11eb-9e7c-498d89b7c3a4.png)

wanted to know **how to create a .env file from the .env.template?**

[2021-03-08 13:44] epicadk commented on #183
1.) You can open the file in a text editor of your choice
2.) Set the values of the environment variables
3.) Press `Save as` and name the file `.env`

I hope this helps. 😄 @shades-7

[2021-03-08 14:08] shades-7 commented on #183
@epicadk sorry for bothering you so much, but can you help me with env values, I don't understand what will go in all these variables:
FLASK_ENVIRONMENT_CONFIG = <local-dev-or-test-or-prod>
SECRET_KEY = <your-secret-key>
SECURITY_PASSWORD_SALT = <your-security-password-salt>
MAIL_DEFAULT_SENDER = <mail-default-sender>
MAIL_SERVER = <mail-server>
APP_MAIL_USERNAME = <app-mail-username>
APP_MAIL_PAS

[2021-03-08 14:10] shades-7 commented on #183
Thank you got that

[2021-03-08 14:14] epicadk commented on #183
Oh are these missing from the setup instructions? Even I can't seem to find the env variables guide. You can use the one on mentorship since they are pretty much the same. You can find the instructions [here](https://github.com/anitab-org/mentorship-backend/blob/develop/docs/environment-variables.md). And please don't hesitate to ask someone from the community will definitely help you out. You cou

[2021-03-08 14:25] Aaishpra commented on #183
@shades-7 [this](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Dev.20Env.20Setup/near/223808070) might help you.

[2021-03-08 16:56] shades-7 commented on #183
@Aaishpra @epicadk Thank you so much :heart:
you guys were so helpful, I am able to run the system locally :partying_face:

[2021-03-09 01:04] mtreacy002 commented on #183
@epicadk , the setup instructions has covered these steps [here](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/ENV_SETUP_INSTRUCTION.md#7th-create-the-env-file-using-envtemplate). @shades-7 , can you please give feedback in what way this instruction can be improved so it's clear to the new contributors? Really appreciate your input 😉

[2021-03-09 05:41] shades-7 commented on #183
@mtreacy002 I believe things will be much easier if we can change the link of **environmental variable_tb** highlighted in the picture below with [this](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/docs/ENVIRONMENT_VARIABLES.md) link

![Screenshot from 2021-03-09 11-07-37](https://user-images.githubusercontent.com/58786336/110423773-b1840a80-80c7-11eb-800e-7a7a6d0a9f46.png)

[2021-03-09 05:43] shades-7 commented on #183
@mtreacy002 if you think it will be a good change, then may I open this as an issue?

[2021-03-09 05:50] epicadk commented on #183
I agree. You can open the issue. 😁 Also you don't need to ask , anyone can open an issue just make sure you are following the contributing guidelines.

[2021-03-09 06:13] shades-7 opened #210 "Change the link for setting environmental variables"
### Describe the bug
The present link for setting the environment variable is not clear enough.

### To Reproduce
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Click on 'BIT Development Environment Setup Instruction '
3. Scroll down to '7th, Create the .env file using .env.template'
4. See error by clicking on 'environment variables - tba:'

### Expected behavior
The link should be repl

[2021-03-09 06:15] shades-7 commented on #210
@epicadk can I fix this as I am aware of this issue

[2021-03-09 07:22] epicadk commented on #210
You have already opened a pull request before. This is for first timers only sorry. You can work on other issues marked `Status: Available`

[2021-03-09 13:41] mtreacy002 opened #211 "Feat: Utilise flask-migrate to support SQLAlchemy migration using alembic"
### Is your feature request related to a problem? Please describe.
At the moment BIT backend doesn't have db migration management. This will cause issue in case we have to alter the database schemas.

### Describe the solution you'd like
Utilise flask-migrate to handle SQLalchemy schemas migration using Alembic.

### Describe alternatives you've considered
To simplify migration script, bit and ms

[2021-03-09 17:38] Rahulm2310 commented on #206
@epicadk @mtreacy002 I would like to try this 🙂

[2021-03-09 18:27] epicadk commented on #206
Assigning you good luck. 👍🏼

[2021-03-09 21:51] mtreacy002 commented on #206
@Rahulm2310 , you're currently assigned to BIT web issue [#155](https://github.com/anitab-org/bridge-in-tech-web/issues/155) and haven't submitted a PR for  a review. Can you please focus on that one first? cc @epicadk

[2021-03-10 04:15] epicadk commented on #206
Oh I thought it was one issue per repository. I'll keep this in mind next time. : )

[2021-03-10 05:14] HeroicHitesh commented on #210
@epicadk @mtreacy002 I would like to work on this

[2021-03-10 10:00] mtreacy002 commented on #210
Sure, @HeroicHitesh . I'll assign you to this.

[2021-03-10 17:47] vj-codes commented on #192
@mtreacy002 I pushed the changes but the tests were failing earlier due to PostgreSQL error from my side, but then I updated the workflow almost the same as the one you've linked above but they are still failing. Any idea how to fix it?

[2021-03-10 18:41] epicadk commented on #192
Can you open a pr so we can help you out?

[2021-03-10 18:42] epicadk commented on #192
Also @mtreacy002 this is another reason to use docker because the development, test and production environments are almost the same 😉

[2021-03-10 21:04] mtreacy002 commented on #192
@epicadk I agree, docker has its advantages. But still personally, I like the non-container option, so let's can keep them both for now. We'll see how these 2 (docker and venv) being used by our contributors then decide if we only need to keep one.

[2021-03-10 22:10] mtreacy002 opened #213 "Doc: Specify Python 3.7 in README.md python badge"
### Is your feature request related to a problem? Please describe.
Most contributors face issue running application on python 3.8 and later related to the time.clock(). This is because the time.clock() module has been deprecated from v3.8.

### Describe the solution you'd like
Specify the python version to be used on the README.md python badge so that contributors will use the same.

### Describe

[2021-03-11 08:18] decon-harsh commented on #192
I agree @mtreacy002 most of the new contributors have less or no idea about docker. I personally found it really tough. BIT should have both the options.

[2021-03-12 17:14] Rahulm2310 opened #215 "Feat: Add GET endpoint /users/{userId}/additional-info to fetch additional information from userId"
### Is your feature request related to a problem? Please describe.
Although we have endpoint /additional-info for a to fetch additional details of current user (using access_token). We don't have endpoint for a user (org representative) requesting additional-information of other user.

### Describe the solution you'd like
There should be a GET endpoint `/users/{userId}/additional-info` for fetchin

[2021-03-12 17:17] Rahulm2310 opened #216 "Feat: Add GET endpoint /users/{userId}/personal-background to fetch personal background from userId"
### Is your feature request related to a problem? Please describe.
Although we have endpoint /personal-background for a to fetch personal background details of current user (using access_token). We don't have endpoint for a user (org representative) requesting personal background of other user.

### Describe the solution you'd like
There should be a GET endpoint `/users/{userId}/personal-backgroun

[2021-03-12 20:59] mtreacy002 commented on #215
@Rahulm2310 , thank you for raising this issue. Would you like to work on it?

[2021-03-12 21:01] mtreacy002 commented on #216
Thank you for raising this issue, @Rahulm2310 . Let me know which one of #215 / #216 you want to work on. I'll assign you to what you choose and make the other available.

[2021-03-12 21:08] mtreacy002 commented on #94
@b-thebest , can you please give an update on this?

[2021-03-12 21:11] mtreacy002 commented on #133
@ashwinijha6 , can you please give us an update on this?

[2021-03-12 21:15] mtreacy002 commented on #183
@shades-7 , are you able to setup and run successfully? Can you please give us an update on this issue? Will you be able to send a PR soon?

[2021-03-12 22:48] mtreacy002 commented on #171
Closing the issue as we're moving to github action

[2021-03-12 22:48] #171 closed, assigned to mtreacy002

[2021-03-13 04:18] shades-7 commented on #183
@mtreacy002 I will send the PR by today

[2021-03-13 04:37] b-thebest commented on #94
@mtreacy002 I am working on this issue, need some help

[2021-03-13 04:59] mtreacy002 commented on #94
Sure, can you tell me what issue you're facing atm, @b-thebest?

[2021-03-13 09:47] dcs-soni commented on #213
Hi. I would like to work on this issue.

[2021-03-13 12:58] mtreacy002 commented on #213
Sure, @dcs-soni , I'll assign you to this. Thanks for picking up the issue 😉.

[2021-03-13 13:30] epicadk commented on #213
@mtreacy002 I can't replicate the issue. It works just fine for me on python 3.9.1. Can you provide steps to reproduce?

[2021-03-13 16:59] ashwinijha6 commented on #133
Yes @mtreacy002 I thought that it as an error due to sqlalchemy I tried installing by `pip install --upgrade sqlalchemy` (screenshot attached) but while running the tests I get the same error
![sqlalchemy](https://user-images.githubusercontent.com/45794450/111037729-76793280-844b-11eb-9595-bb952320c014.JPG)
Could you help me with the python version that is being used for the project ? I'm using py

[2021-03-13 20:48] mtreacy002 commented on #133
@ashwinijha6 , I'm also using Python 3.7 (3.7.9 to be exact). Btw, I noticed the dialect being imported is sqlite. It should be psycopg2.

[2021-03-14 16:01] epicadk commented on #213
@vj-codes can you confirm this?

[2021-03-14 23:53] mtreacy002 commented on #213
@epicadk , I believe there are a couple of people facing issue with time.clock() module that was deprecated from Python v3.8 and above. On Zulip you can search `time.clock()` and see the discussions on this ([here's](https://anitab-org.zulipchat.com/#narrow/stream/237630-bridge-in-tech/topic/Get.20started/near/212041534) on of them). I'm currently on Python 3.7.9 so can't really replicate the issu

[2021-03-15 08:17] ashwinijha6 commented on #133
ok yes I will check with that @mtreacy002

[2021-03-16 12:09] devkapilbansal commented on #213
@epicadk @mtreacy002 I am not able to use `time.clock` even on python 3.9

![time](https://user-images.githubusercontent.com/42766576/111306708-90e72200-867e-11eb-8d9b-a77b6edf6bd5.png)

[2021-03-16 12:17] epicadk commented on #213
Yes it was removed in python 3.8 so this is expected however I don't know why I don't get the error on the latest version of python

[2021-03-16 12:43] vj-codes commented on #213
@mtreacy002 you had asked me earlier also but I have no idea why it worked for me.
Now that Aditya also confirms it's working for him and the only thing I see common is both of us had  already setup ms-backend first while other contributors do the other way.

Also as far as I remember I didn't refractor any code for time clock on 3.9 it just simply worked @epicadk did you change anything?

[2021-03-16 12:52] epicadk commented on #213
Nope it worked. Kapil can you try running bit on python 3.9. I think it should work. I don't see where we have used `time.clock()` in the project, is it an external library that uses `time.clock()`?

[2021-03-16 17:24] harsh7in commented on #216
@mtreacy002 can i work on this?

[2021-03-16 19:46] mtreacy002 commented on #216
Sure, @harsh-9in , I'll assign you on this. @Rahulm2310 , do you want to pick the other one or should I make it available?

[2021-03-16 20:15] devkapilbansal commented on #213
Point 4 [here](https://docs.python.org/3/whatsnew/3.8.html#api-and-feature-removals) mentions that `time.clock()` is deprecated from `python 3.3`. Instead of making changes in doc, I would like to suggest making changes in the code itself.

[2021-03-16 20:40] devkapilbansal commented on #213
@mtreacy002 @epicadk @vj-codes after clearly going through the issue, I came to know that this was not an issue with this repository code but with a dependency. The dependency has been upgraded already. AFAIK. :thinking:
Contributors need to update the dependency i.e. `sqlalchemy` to fix the error

[2021-03-17 03:23] harsh7in commented on #216
Thanks, @mtreacy002, I am working on this issue.

[2021-03-17 04:24] mtreacy002 commented on #94
@b-thebest , how are you going with your issue? Are you able to solve the issue?

[2021-03-17 17:29] devkapilbansal opened #218 "Integrate Black checks"
### Is your feature request related to a problem? Please describe.
It is necessary for every project to follow some guidelines about how the code should be written, maintained and all. But this misses guidelines related to code quality.

### Describe the solution you'd like
* Format whole code using black
* Add workflow to ensure code is formatted before it is merged to main codebase.

### Additio

[2021-03-17 17:31] devkapilbansal commented on #218
@mtreacy002 can you please create a label for `Open Source Hack` and label this issue for OSH

[2021-03-17 17:34] epicadk commented on #218
#184 duplicate

[2021-03-17 17:34] #218 closed, assigned to nobody

[2021-03-17 17:36] devkapilbansal commented on #218
:grimacing: I didn't noticed it. Thanks @epicadk

[2021-03-17 18:28] Rahulm2310 commented on #215
@mtreacy002 I think this can be a good opportunity for OSH aspirants. Let them claim this 😊

[2021-03-17 19:17] Rahulm2310 opened #219 "Bug: Incorrect edit page link on docusaurus website"
### Describe the bug
On clicking `Edit this page` button on the docusaurus website, it goes to incorrect link showing `Not Found`.

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://bit-backend-docs.surge.sh/docs/
2. Scroll to bottom
3. Click `Edit this page` button
4. See error

### Expected behavior
It should be linked to correct page on the github repo.
There is a `editUrl` pro

[2021-03-17 22:24] prachinandi commented on #219
@Rahulm2310  sir can u assign me this issue , I would like to work on  it.

[2021-03-18 01:41] mtreacy002 commented on #213
@devkapilbansal , can you tell me the SQLALchemy version number you used to fix this? My old dependencies installation on MacOS has SQLAlchemy 1.3.20. But my latest dependencies installation (this month)  on Windows 10 has SQLAlchemy 1.3.23. Is this the right version for the bug?
PS: I had both machines running Python v 3.7.9 though so I couldn't tell 😁

[2021-03-18 01:44] mtreacy002 commented on #94
I'm making this issue available again as there is no response received from the contributor.

[2021-03-18 01:51] mtreacy002 commented on #219
@prachi237 , sure, we will assign you on 1st April when `Open Source Hack` starts 😉 (as per zulip instruction [here](https://anitab-org.zulipchat.com/#narrow/stream/213491-announcements/topic/Open.20Source.20Hack/near/230741560) on OSH). Make sure you setup the environment beforehand so you're ready to go as soon as OSH starts 😉.
cc @Rahulm2310

[2021-03-18 03:38] HeroicHitesh commented on #183
@shades-7 can we have an update on the progress regarding this issue?

[2021-03-18 12:27] Rahulm2310 commented on #219
Also, no need for 'sir' @prachi237 ☺️

[2021-03-18 17:35] Amulya-coder commented on #211
@mtreacy002 now it's open to OSH contributors they'll surely pick this issue.

[2021-03-20 04:18] epicadk commented on #213
@mtreacy002 are you sure about this? Because the app works fine for a lot of contributors on python 3.9?

[2021-03-20 09:04] devkapilbansal commented on #109
@mtreacy002 can this issue be a good one for `Open Source Hack`

[2021-03-20 09:18] mtreacy002 commented on #213
@epicadk , it doesn't hurt to state it as 3.7 as there are contributors facing issue with this. Also, on gh-actions/travis we're even using python 3.6. If the contributors do face issues during installation, they can check the python version that known to work without issue (through checking the python badge on README) and try to downgrade to that.
We can investigate this further by opening an iss

[2021-03-20 09:51] mtreacy002 commented on #109
I think that's a possible option, @devkapilbansal . I would like to see what others can come up with. The more people giving their ideas the better 👍.

[2021-03-20 09:51] mtreacy002 commented on #109
will label this OSH.

[2021-03-20 09:54] mtreacy002 commented on #153
@rpattath , labelling this OSH. Hope contributors can come up with ideas how to approach this 😉.