[2021-03-22 06:45] epicadk opened #220 "QA : Test the login and signup endpoint for sql injection"
### Describe the solution you'd like

Manually test the login and signup endpoint for sql injections. Create a doc showing the test cases ,expected results and actual results.

### Additional context

As a bonus you can also write tests cases in the tests folder.

[2021-03-22 11:13] shades-7 commented on #183
@mtreacy002 hello I tried but I am unable to fix it. it would be better to assign someone else

[2021-03-22 11:23] epicadk commented on #183
Would you like a hint instead?

[2021-03-22 11:33] shades-7 commented on #183
Yes, that will be great

[2021-03-22 11:57] epicadk commented on #183
@shades-7 Have you located the file where you need to make the change?

[2021-03-22 13:10] shades-7 commented on #183
@epicadk No

[2021-03-22 14:09] epicadk commented on #183
You need to make changes to [this file.](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/app/api/resources/organizations.py#L1)

[2021-03-22 17:02] shades-7 commented on #183
@epicadk Thank you for your guidance i have created a PR please review it

[2021-03-22 18:02] Rahulm2310 commented on #216
@harsh-9in Can you please share your progress on this ?

[2021-03-22 18:04] Rahulm2310 commented on #133
@ashwinijha6 any updates on this ?

[2021-03-23 05:45] devkapilbansal commented on #213
@mtreacy002 this was fixed in some version after 1.13.15 however I am not able to trace it back. The exact ticket for this was:-
https://gerrit.sqlalchemy.org/c/sqlalchemy/sqlalchemy/+/1319/

Also, none of your dependencies should be infected by this issue. Both versions `1.13.20` and version `1.13.23` are free from this.

[2021-03-23 06:42] ashwinijha6 commented on #133
I'm a bit preoccupied at moment @Rahulm2310, If you want you can assign it to someone else. Sorry for the delay

[2021-03-23 13:38] Amulya-coder opened #223 "docs: Add a section in the documentation displaying versions of the frameworks and extension use."
## Description
In the readme add a section that shows the framework version and extensions used in the project.

## Acceptance Criteria
Add the versions and extensions used in bridge-in-tech

### Update [Required]
- [ ] Currently used versions,  extensions should be added

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2021-03-23 13:41] Amulya-coder commented on #223
@mtreacy002  I think this is a valid issue for `first timers only` can you please verify.

[2021-03-23 20:39] Rahulm2310 opened #224 "Docs: Add badges to docusaurus home.md file"
### Is your feature request related to a problem? Please describe.

Add badges to docusaurus home.md file.

### Describe the solution you'd like

![image](https://user-images.githubusercontent.com/54268438/112215300-3b92ae00-8c46-11eb-85aa-c581ef46e667.png)

### Additional context

[shields.io](https://shields.io/) can be used for generating the badges.

[2021-03-23 21:43] mtreacy002 commented on #223
@Amulya-coder , can you please explain which specific framework and extension you want the contributors to add here? Do you mean the dependencies we use in the requirements.txt? If so, do we still need to state them on the Readme when contributors can see them from the requirements.txt?

[2021-03-23 22:41] mtreacy002 commented on #213
Thanks, @devkapilbansal for the info. We can check this out when the next contributor is facing the time.closk() issue during setup.

[2021-03-24 04:18] Amulya-coder commented on #223
Yes, @mtreacy002 the flask extensions and framework that are mentioned in the requirements.txt and this helps the new contributors to learn more about the project work if we defining the extensions, framework, Language used for developing the project in the readme so that it is easily noticed by the contributors.

[2021-03-24 14:58] Amulya-coder opened #225 "docs: Add link to Bridge-In-Tech (frontend)"
### Is your feature request related to a problem? Please describe.

Currently in the readme there is no link to Bridge-in-tech frontend.

### Describe the solution you'd like

Add link to <b>bridge-in-tech-web</b> here:-

![image](https://user-images.githubusercontent.com/66437295/112334047-20c14780-8ce1-11eb-8bdf-89f8e6b5b2ef.png)

### Additional context

None

[2021-03-24 17:03] Rahulm2310 commented on #223
@Amulya-coder Thanks for opening this but I agree here with @mtreacy002. Also, github UI shows the languages used in the project.
![image](https://user-images.githubusercontent.com/54268438/112351994-68030480-8cf0-11eb-8874-dc846389371a.png)

Furthermore, we also have tags for project frameworks and languages in the about section.
![image](https://user-images.githubusercontent.com/54268438/1123522

[2021-03-24 17:12] Amulya-coder commented on #223
@Rahulm2310 Ahh... I know that there are default tags provided in the Github but it's a "good practice" to add it in the documentation also. This is used in the [mentorship Backened](https://github.com/anitab-org/mentorship-backend#documentation) too you can check :) .

[2021-03-24 18:09] Amulya-coder commented on #133
No issues @ashwinijha6 Thanks for giving the updates now it's open for OSH aspirants 😉.

[2021-03-25 12:44] devkapilbansal opened #226 "Add tests to follow PEP8 guidelines"
### Is your feature request related to a problem? Please describe.
PEP stands for Python Enhancement Proposal. It is a style document that documents some best practices

### Describe the solution you'd like
Code written in Python should follow standard practices and PEP8 guidelines. For this a linter that follows these guidelines or some sort of checks can be implemented

### Describe alternatives

[2021-03-25 20:15] NenadPantelic opened #227 "Bug: Unhandled errors and bugs in program creation"
### Describe the bug
There are a few scenarios where API throws unhandled errors when the request payload contains invalid data. Some examples are:
1. enum validations - e.g. `ContacType` and `Zone` are enums - if the data is not valid, unhandled error is thrown
2. integrity errors -> e.g. too many chars in some string (more than column can hold)
3. datetime format -> if the datetime format is not

[2021-03-26 06:46] devkapilbansal commented on #216
Unassigning @harsh-9in due to lack of response.

[2021-03-26 16:39] epicadk opened #228 "Research : protocol buffers"
### Is your feature request related to a problem? Please describe.

Currently the app uses sends and receives JSON data. While this is fine when we send/receive data to/from the user (as JSON is human readable) the calls to the mentorship backend do not need to be human readable and can be in the binary form.

### Describe the solution you'd like

Research on the possibility of using protocol buff

[2021-03-26 16:40] epicadk commented on #228
Putting status on hold. Needs discussion with @mtreacy002.

[2021-03-26 17:21] Rahulm2310 opened #229 "Docs: Add link to zulip stream in CONTRIBUTING.md"
### Describe the bug

The link to project's zulip stream is missing in CONTRIBUTING.md.

### To Reproduce
Steps to reproduce the behavior:
1. Go to [contributing.md](https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/CONTRIBUTING.md)
2. See error

### Expected behavior

Add link to zulip stream in CONTRIBUTING.md

### Screenshots

![bit-cont](https://user-images.githubuserco

[2021-03-26 17:47] epicadk commented on #229
Wouldn't classify this as a bug.

[2021-03-26 21:42] mtreacy002 commented on #228
@epicadk , is this because for better security? I agree, it would be an interesting topic. Although probably would only be implemented once we already have a stable version in the production (so we still have a long way to go). Especially since there aren't many resources out there to support us in developing this way (protobuf) compared to in json. I reckon we should put this in icebox and revisi

[2021-03-27 04:52] epicadk commented on #228
It's not for security it is just an enhancement. It would reduce the size of the requests to the mentorship backend making these calls faster and wouldn't require as much code for validating the schema. Hmm yes I agree I think we can revisit this later.

[2021-03-28 00:02] mtreacy002 opened #230 "Doc: Add all-contributors bot configuration"
## Description
As a maintainer,
I need to configure [all-contributors](https://allcontributors.org) bot,
so that I can better recognize contributors and leaders of this project.

https://allcontributors.org/docs/en/bot/configuration

## Acceptance Criteria
### Update [Required]
- [ ] Add configuration to project https://allcontributors.org/docs/en/bot/configuration
- [ ] Add first contributors to

[2021-03-28 00:25] decon-harsh opened #232 "Docs: FAQ section"
### Is your feature request related to a problem? Please describe.
Most of the new contributers ask same question on zulip streams. Or if someone got an old error, it is difficult to search for it's discussion/solution on zulip.

### Describe the solution you'd like
Create a FAQ section where we can list frequently asked questions on zulip so that new people don’t ask the same question again on zu

[2021-03-28 00:35] decon-harsh opened #233 "Code: Add Forgot password feature"
### Is your feature request related to a problem? Please describe.
A way to change old password through verified email id.

### Describe the solution you'd like
Send a unique one time link to registered and verified email which will open a form and by entering new password there, replace the old one with it.

[2021-03-28 01:10] mtreacy002 commented on #230
@all-contributors, please add @mtreacy002 for maintenance

[2021-03-28 01:11] mtreacy002 commented on #230
@isabelcosta , the all-contributors bot ignores me 😭😭

[2021-03-28 03:59] codesankalp opened #234 "[docs] Migrate docusaurus deployment from surge to gh-pages"
### Is your feature request related to a problem? Please describe.
It will be better to have the docs on the github-pages.

### Describe the solution you'd like
Deploy the docs on gh-pages.
Take reference from this: anitab-org/mentorship-backend@4cc78ae

Time Required: 1 hour.

[2021-03-28 10:33] devkapilbansal opened #235 "Perform manual testing and report POST /register API"
## Description
As a tester,
I need to test /register endpoint,
so that we can ensure User Creation works perfectly.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /register API
- [ ] Create a markdown file with content mentioned
- [ ] Pro

[2021-03-28 10:35] devkapilbansal opened #236 "Perform manual testing and report POST /login API"
## Description
As a tester,
I need to test /login endpoint,
so that we can ensure user is able to login correctly.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /login API
- [ ] Create a markdown file with content mentioned
- [ ] Provide

[2021-03-28 10:37] devkapilbansal opened #237 "Manually test and report GET /users API"
## Description
As a tester,
I need to test  **GET /users** endpoint,
so that we can ensure the feature works perfectly fine.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested GET /users API
- [ ] Create a markdown file with content mentioned
- [

[2021-03-28 10:42] devkapilbansal opened #238 "Manual test and perform GET /organizations API"
## Description
As a tester,
I need to GET /organizations endpoint,
so that we can ensure a user is able to fetch all organizations.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested GET /organizations API
- [ ] Create a markdown file with content

[2021-03-28 10:48] devkapilbansal opened #239 "Perform Manual tests and Report POST /organization API"
## Description
As a tester,
I need to test POST /organization endpoint,
so that we can ensure User can create organization.

You should create a markdown file inside `/docs/manual_tests` with following content:
* Test step by step with dummy data
* Report it as
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Tested POST /organization API
- [ ] Create a markdown file with content mention

[2021-03-28 10:59] mtreacy002 commented on #211
@Amulya-coder , would this be a bit hard for the new contributors? I'm not sure if it's a good idea to open it as OSH issue. 🤔.

[2021-03-28 11:02] epicadk commented on #211
Agreed it doesn't seem like a good issue for OSH

[2021-03-28 11:04] decon-harsh commented on #211
@mtreacy002 I can give it a try

[2021-03-28 11:05] mtreacy002 commented on #211
Ok, @decon-harsh , you can pick up the issue. Thank you 😉

[2021-03-28 11:10] Aryamanz29 commented on #229
May i work on this issue?

[2021-03-28 11:11] Aryamanz29 commented on #229
May I work on this issue? @Rahulm2310

[2021-03-28 11:12] jalajcodes commented on #229
@Aryamanz29 This issue is reserved for [Open Source Hack](https://anitab-org.github.io/events/open-source-hack/) program. You can claim it on or after 1st april.

[2021-03-28 11:13] Aryamanz29 commented on #229
Ok @jalajcodes

[2021-03-28 17:52] Rahulm2310 opened #240 "Research : Assess security concerns in the app"
### Is your feature request related to a problem? Please describe.

App might have security flaws or loopholes that needs atmost attention.

### Describe the solution you'd like

Research about security concerns in the app (discuss potential issues, their solutions with proper arguments to support your solution)

### Describe alternatives you've considered

NA

### Additional context

NA

[2021-03-28 17:56] epicadk commented on #240
I understand your point but the issue seems kinda vague can you be more specific?

[2021-03-28 23:28] mtreacy002 commented on #211
@decon-harsh , I've shared the files I worked on before in the issue description. Feel free to ask anything if you're in doubt.

[2021-03-28 23:42] isabelcosta commented on #230
@all-contributors, please add @mtreacy002 for maintenance

[2021-03-28 23:43] isabelcosta commented on #230
@all-contributors please add @mtreacy002 for maintenance, code, doc, userTesting and test

[2021-03-28 23:44] isabelcosta commented on #230
@mtreacy002 I think the comma `,` you used made this not work 🙈
you did:
[code]
instead of
[code]

[2021-03-29 01:38] mtreacy002 commented on #230
Opss, my bad..... 😱😊😊. Sorry for the hiccups, @isabelcosta . Thanks for pointing this out 🥰

[2021-03-29 01:39] mtreacy002 commented on #230
@all-contributors please add @rpattath for maintenance

[2021-03-29 01:40] mtreacy002 commented on #230
?? @isabelcosta , how come it still doesn't reply to me and only reply to you??

[2021-03-29 01:42] mtreacy002 commented on #230
?? @isabelcosta , how come it doesn't reply to me, it only respond to your comment?

[2021-03-29 13:01] codesankalp opened #242 "Improvement: Refactor code to use dict.get() method"
## Description
As a developer,
I need code to be consistent and error-free.

## Mocks
https://github.com/anitab-org/bridge-in-tech-backend/blob/68d8ff9a8640cef1d3e53b2b0dd9b80e3d750fd7/app/api/validations/organization.py#L32-L34
For example this can be replaced by the get method i.e. data.get("KEY", "DEFAULT_VALUE") to avoid KeyError

## Acceptance Criteria
### Update [Required]
- [ ] Use get meth

[2021-03-29 15:16] codesankalp opened #243 "Improvement: refactor expected_fields_validator"
## Description
As a developer,
I need validators to be fast,
so that API response time will be less.

## Mocks
https://github.com/anitab-org/bridge-in-tech-backend/blob/68d8ff9a8640cef1d3e53b2b0dd9b80e3d750fd7/app/utils/validation_utils.py#L157-L164

The two for loops can be implemented efficiently by using the python built-in function.
I think there is no need for `two for` loops for this.

## Ac

[2021-03-29 21:34] mtreacy002 opened #244 "Task: Set up local environment"
## Description
As a contributor
I need to set up local environment for bridge-in-tech-backend and send screenshots,
so that I can provide proof of the same.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] Set up local environment (this means both BIT and MS version for BIT backends must run successfully)
- [ ] Provide a screenshot of a successful response when a user login on Swag

[2021-03-30 03:37] Aaishpra commented on #244
I addeed the documentation label @mtreacy002.

[2021-03-30 05:42] mtreacy002 commented on #244
Thank you, @Aaishpra 😉

[2021-03-30 07:24] decon-harsh commented on #211
Hey @mtreacy002 need some help

When I followed the docs and made migration

Tables of only public schema were getting created. Why is it happening?

- ![Screenshot from 2021-03-30 11-28-34](https://user-images.githubusercontent.com/58214248/112946861-a4e95400-9153-11eb-9f75-8aec39d40122.png)

- ![Screenshot from 2021-03-30 11-32-40](https://user-images.githubusercontent.com/58214248/112946865-a61

[2021-03-30 07:28] decon-harsh commented on #211
Then I made a new empty database, and made migrations there,

- ![Screenshot from 2021-03-30 12-28-08](https://user-images.githubusercontent.com/58214248/112949866-4d4ce780-9157-11eb-910a-803f6a7ea37e.png)

- ![Screenshot from 2021-03-30 12-28-14](https://user-images.githubusercontent.com/58214248/112949871-4e7e1480-9157-11eb-9ccb-f11e885e6553.png)

- ![Screenshot from 2021-03-30 12-28-22](https:/

[2021-03-30 09:19] jalajcodes commented on #216
Making it available for OSH.

[2021-03-30 09:30] jalajcodes opened #245 "Improvement: Add typehints to User module"
## Description

As a developer,
I need to add typehints to my code
to build and maintain a cleaner architecture and catch certain errors along the way.

## Mocks
https://github.com/anitab-org/bridge-in-tech-backend/blob/68d8ff9a8640cef1d3e53b2b0dd9b80e3d750fd7/app/api/dao/organization.py#L179-L182
Here's how to add typehints in above function.
[code]
## Resources
Typehints cheatsheet - [Click Here

[2021-03-30 09:35] jalajcodes opened #246 "Improvement: Add typehints to Organization module"
## Description

As a developer,
I need to add typehints to my code
to build and maintain a cleaner architecture and catch certain errors along the way.

## Mocks
https://github.com/anitab-org/bridge-in-tech-backend/blob/68d8ff9a8640cef1d3e53b2b0dd9b80e3d750fd7/app/api/dao/organization.py#L179-L182
Here's how to add typehints in above function.
[code]
## Resources
Typehints cheatsheet - [Click Here

[2021-03-30 09:38] jalajcodes opened #247 "Improvement: Add typehints to Programs module"
## Description

As a developer,
I need to add typehints to my code
to build and maintain a cleaner architecture and catch certain errors along the way.

## Mocks
https://github.com/anitab-org/bridge-in-tech-backend/blob/68d8ff9a8640cef1d3e53b2b0dd9b80e3d750fd7/app/api/dao/organization.py#L179-L182
Here's how to add typehints in above function.
[code]
## Resources
Typehints cheatsheet - [Click Here

[2021-03-30 18:11] Rahulm2310 commented on #244
@mtreacy002 Please add this note here as well.
#### NOTE: This issue is available for everyone. Please post your screenshots in the comments below.

[2021-03-30 19:00] Rahulm2310 opened #249 "Research : Ideas for how to add members to an organization"
### Is your feature request related to a problem? Please describe.

We need to think about ideas on how should a member be added to an organization, giving them distinguishing roles (admin/mentor) with api structures for creation, send request, rejection, cancellation with proper gists and model structures.

### Describe the solution you'd like

Research on it and then create a document describing

[2021-03-30 22:14] mtreacy002 commented on #211
🤔. It seems like we cannot avoid recreating the db from scratch if we want to have the correct schema. I don't think it's a bad idea considering we still in very early stage of development.
@decon-harsh , can you check with the new db you've created from running migration, when you change the program_id attribute in the mentorship_relation_extension model to not unique, does the change get applied

[2021-03-30 22:19] decon-harsh commented on #211
There is an issue regarding that @mtreacy002 i cannot upgrade that migration because in line 67 there is more than 255 arguments getting passed which throws that error , however when I checked about it and it said it was removed in python3.7 version but i was using that only.

Now I have to pass it as a list there.
Will share you the error and ll try that method in the morning.

Thanks

[2021-03-31 16:52] decon-harsh commented on #249
Same as #194

[2021-03-31 17:09] decon-harsh opened #250 "Research : Integrate Notifications"
### Is your feature request related to a problem? Please describe.
We want to have push notifications enabled  and A dedicated section for all the notifications in our web app.

### Describe the solution you'd like
Give ideas on how will you do it. Explain your method, list the resources, provide gist or API and model structure if needed.

[2021-03-31 18:08] #249 closed, assigned to nobody

[2021-04-01 06:13] Aryamanz29 commented on #225
I would like to work on this issue @Amulya-coder

[2021-04-01 06:27] epicadk commented on #225
Assigning you happy documenting

[2021-04-01 06:27] Aryamanz29 commented on #226
I would like to work on this one @devkapilbansal

[2021-04-01 06:36] decon-harsh commented on #226
You have been already assigned one issue. Please claim it after you send a successful PR for the former.

[2021-04-01 07:28] Aryamanz29 commented on #226
@decon-harsh PR raised  #251

[2021-04-01 15:26] Aayush-hub commented on #219
@Rahulm2310 @mtreacy002 Can I look into it??

[2021-04-01 16:11] epicadk commented on #219
Just to confirm is this your first contribution to this repo?

[2021-04-01 16:30] Aayush-hub commented on #219
@epicadk Yess!

[2021-04-01 16:32] Rahulm2310 commented on #219
Yours @Aayush-hub . Happy Documenting 😊

[2021-04-02 04:47] KushalBeniwal commented on #243
@codesankalp I would like to work on this issue.

[2021-04-02 05:04] decon-harsh commented on #243
@KushalBeniwal Have you completed the mandatory setup task #244 before claiming a coding/testing issue?

[2021-04-02 05:10] KushalBeniwal commented on #243
@decon-harsh, no, I haven't. I will do that first.

[2021-04-02 09:19] devkapilbansal commented on #243
@KushalBeniwal comment once you do the setup task

[2021-04-02 09:59] KushalBeniwal commented on #243
I am unable to follow from this step https://github.com/anitab-org/bridge-in-tech-backend/blob/develop/.github/ENV_SETUP_INSTRUCTION.md#4th-open-pgadmin4, as I am using wsl, so, I can only use the command line.

[2021-04-02 10:25] decon-harsh commented on #243
Please join our zulip chat and ask your doubts there, we will be happy to help you with your Dev env setup. @KushalBeniwal

[2021-04-02 11:33] isabelcosta commented on #230
@all-contributors please add @rpattath for maintenance

[2021-04-02 11:34] isabelcosta commented on #230
@mtreacy002 I don't know the why :O In the bot they even say, that contributors should feel empowered to add themselves, so I don't get where this is 🤔

[2021-04-04 05:05] naveen8801 commented on #224
@Amulya-coder  , Please assign it to me :-)

[2021-04-04 05:17] Amulya-coder commented on #224
@Rahulm2310 can you please change the title and description of the issue as discussed [here](https://github.com/anitab-org/bridge-in-tech-web/issues/201)

[2021-04-04 05:28] naveen8801 commented on #224
@Amulya-coder  , @Rahulm2310  , i have made a PR , please review :-)

[2021-04-05 00:26] mtreacy002 commented on #154
I'm opening this issue for Open Source Hack.

[2021-04-05 00:46] mtreacy002 opened #256 "Migrating Travis to Github action"
## Description
As a maintainer,
I want to move the project CI from Travis CI to Github Action,
So that I can use the built-in Github CI and maintain consistency with projects across Anitab-org Open Source.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 month

[2021-04-05 00:46] mtreacy002 opened #257 "Frontend UI Redesign"
## Description
As a maintainer,
I want to redesign BIT UI,
So that I can make sure the project UI meet the design guidelines of AnitaB.Org Open Source.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 month

[2021-04-05 01:55] mtreacy002 opened #258 "Migrating to Github Actions"
## Description
As a maintainer,
I need migrate Travis CI to Github action,
so that I can make sure consistency of CI being used across all projects under AnitaB.Org Open Source

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 weeks

[2021-04-05 01:58] #258 closed, assigned to nobody

[2021-04-05 03:49] #183 closed, assigned to shades-7

[2021-04-05 03:49] #225 closed, assigned to Aryamanz29

[2021-04-05 03:49] #219 closed, assigned to Aayush-hub

[2021-04-05 03:49] #230 closed, assigned to mtreacy002

[2021-04-05 03:49] #213 closed, assigned to dcs-soni

[2021-04-05 03:49] #210 closed, assigned to HeroicHitesh

[2021-04-05 03:49] #192 closed, assigned to vj-codes

[2021-04-05 05:11] #184 closed, assigned to vj-codes

[2021-04-05 07:13] HarshKumarChoudary commented on #246
I would like to work on this task. Please assign it to me. Thanks.

[2021-04-05 07:34] jalajcodes commented on #246
Hi there! You need to complete #244 first.

[2021-04-06 08:47] devkapilbansal commented on #256
Seems like an easy issue. Should this be marked for OSH as well?

[2021-04-06 08:50] devkapilbansal commented on #244
P.S. - You all are free to create a PR from branch named setup and send your screenshots there. That PR will also be counted for `Documentation` one

[2021-04-06 08:52] vj-codes commented on #256
@mtreacy002 how's this different from #192 ?

[2021-04-06 09:57] mtreacy002 commented on #256
@vj-codes and @devkapilbansal , this is not an issue. It's an epic. This is to mark certain group of tasks in the project roadmap. If you open this pr on Google Chrome browser, you'll see the below screenshot inside this issue.
<img width="712" alt="Screen Shot 2021-04-06 at 7 55 41 pm" src="https://user-images.githubusercontent.com/29667122/113693704-3b98b080-9712-11eb-8747-283f4d4e43ca.png">

[2021-04-06 10:07] mtreacy002 commented on #256
If you look up Zenhub anitab-org/bridge-in-tech, you can see the project roadmap in the timeline with epics that contain their relevant tasks.
<img width="1342" alt="Screen Shot 2021-04-06 at 8 05 10 pm" src="https://user-images.githubusercontent.com/29667122/113694903-a5658a00-9713-11eb-8ed1-ffd0691ee11e.png">

[2021-04-06 10:16] mtreacy002 commented on #256
@isabelcosta , in the [BIT roadmap](https://github.com/orgs/anitab-org/projects/3) under the AnitaB.Org Open Source Projects, I can only see the project `Board` (below screenshot) and nothing else. I feel like the `Zenhub` version provides better options to view project's progress as can be seen in the screenshot above. It will be great if these analytical options be made available on the https://

[2021-04-06 13:26] vj-codes commented on #256
@mtreacy002 um can you send a link? I know there was discussion about using zenhub and remember creating an account there but have no idea now , if there's a link I can confirm

[2021-04-06 15:23] Rahulm2310 commented on #257
@mtreacy002 Shouldn't this be opened on the frontend repo?

[2021-04-06 15:59] epicadk commented on #257
@Rahulm2310 ref https://github.com/anitab-org/bridge-in-tech-backend/issues/256#issuecomment-813993085

[2021-04-06 17:30] vj-codes commented on #256
@mtreacy002 I can view it on zenhub, just checked it although it's read-only for me mostly because I don't have write access to this repo and I think whoever's a part of the org can view it too

[2021-04-06 18:04] epicadk commented on #256
Do I have to open it on chrome?

[2021-04-07 01:10] mtreacy002 commented on #256
Yes, @epicadk . AFAIK Chrome works with this Zenhub plugin but Safari doesn't. I haven't tried it on other browsers 😉

[2021-04-07 01:21] mtreacy002 commented on #257
@Rahulm2310 , as per the comments pointed out by @epicadk, this is just an epic for the project roadmap and not an issue to be assigned to contributors. As the main repo for BIT since GSOC till now is the backend repo, I prefer to place all epics under the same repo for ease of maintenance and just link the relevant issues (either from frontend or backend) to these epics.  Hope this makes sense 😉

[2021-04-07 13:09] y-martinez commented on #229
Hi! @Rahulm2310  or @jalajcodes may I work on this issue? I already made the change I am waiting to made the PR :smile:

[2021-04-07 17:16] Rahulm2310 commented on #229
@y-martinez next time please request a maintainer to assign you before working on the fix. Go ahead for now 👍

[2021-04-07 17:51] devkapilbansal commented on #226
@Aryamanz29 are you working on this?

[2021-04-08 02:33] Aryamanz29 commented on #226
Yes,
Sorry for the delay I'll raise PR soon.

[2021-04-09 17:22] Aryamanz29 commented on #226
@devkapilbansal  While testing my code locally most `unittest` fails and I'm unable to debug it after several attempts, So kindly unassign this issue to me for now. I'll try to work on this issue later.

![Screenshot (49)](https://user-images.githubusercontent.com/56113566/114217750-30e65180-9986-11eb-9898-8388c708c193.png)

[2021-04-09 17:29] epicadk commented on #226
Are you using @mtreacy002's forked repo as the Mentorship backend?

[2021-04-09 19:32] epicadk opened #262 "Fix tests failing on github actions"
### Describe the bug

Tests on github actions are failing.

### To Reproduce
Steps to reproduce the behavior:
1. Check the actions tab

### Expected behavior

Tests should not fail

### Additional context

[2021-04-09 23:59] #229 closed, assigned to y-martinez

[2021-04-10 00:18] #224 closed, assigned to naveen8801

[2021-04-10 00:41] mtreacy002 commented on #226
@Aryamanz29 , can you check if running the test from the Test Explorer of your VS Code IDE pass? I've asked since this is also happened to me when I'm using Windows OS (running tests inside the terminal failed but running them inside VS Code IDE Test explorer passed). I have opened an issue #133 to investigate this. ATM when using Windows OS, I just run the tests on the VS Code terminal. On MacOS

[2021-04-10 05:05] Aryamanz29 commented on #226
@mtreacy002  Test fails same as they on the terminal, Now I'll try to set up this repo on my Linux machine to solve this problem😅

![Screenshot (51)](https://user-images.githubusercontent.com/56113566/114258901-9fa7c700-99e7-11eb-95d7-ec6615e7cf11.png)

[2021-04-10 13:52] mtreacy002 commented on #226
@Aryamanz29 , also, have you completed the compulsory #244 before working on this issue? You shouldn’t face this issue once you’ve successfully completed the task there. cc @epicadk

[2021-04-10 14:03] epicadk commented on #226
I guess this was before I was your message 😅. @Aryamanz29 please complete #244  before you attempt this.

[2021-04-10 16:44] y-martinez commented on #262
It is a problem weird because it does not always happen, I have the theory (I could be wrong) that it happens when the postgres container has not started because the error is in there, so, I searched the internet and it is that the postgres container does not provide a health check, so you need to add options to the github actions configuration, specifically something like this:

[code]

I haven't

[2021-04-10 17:29] epicadk commented on #262
Yeah that was the solution. Would you like to work on this?
Great job figuring it out.

[2021-04-10 17:59] y-martinez commented on #262
Yeah sure!

[2021-04-10 18:03] epicadk commented on #262
Okay, good luck. Assigning you. 👍

[2021-04-10 18:18] vj-codes commented on #262
@epicadk are you talking about the docusaurus PR failing?

[2021-04-10 18:23] epicadk commented on #262
Yeah but in any case these options should be added.

[2021-04-11 09:11] y-martinez commented on #243
I would like to work on this issue if is available, but I have a question. `user_input` and `data_model` are always `int` arrays, right?

[2021-04-11 10:10] mtreacy002 opened #264 "test"
### Is your feature request related to a problem? Please describe.

### Describe the solution you'd like

### Describe alternatives you've considered

### Additional context

[2021-04-11 10:29] #262 closed, assigned to y-martinez

[2021-04-12 05:04] #264 closed, assigned to nobody

[2021-04-12 20:13] y-martinez commented on #243
Hi @epicadk or @mtreacy002 a maybe possible solution could be to use the data structure set to compare if user_input and data_model are exact the same, however, I saw that in tests are falling, but the problem apparently is the code, so, I have a question, I need to verify that always user input fields contain only the expected fields of the data model? not more and not less right?, I have that do

[2021-04-15 21:13] vj-codes opened #266 "Improve Github actions"
### Is your feature request related to a problem? Please describe.
Currently we have two separate workflows for lint and build/tests

### Describe the solution you'd like
Have them in the same workflow. Run the lint check before the tests.

[2021-04-15 21:14] vj-codes commented on #266
@mtreacy002 hey this was recently done on mentorship-backend , I would like to work on this

[2021-04-16 03:33] epicadk commented on #266
Assigning you. Good luck.

[2021-04-17 18:39] meganbader commented on #216
Can I work on this issue?

[2021-04-17 19:02] epicadk commented on #216
Do you want to work on this for osh? If yes please make sure you have setup the app first

[2021-04-18 13:50] meganbader commented on #216
Should we only get the user's info if it is public? or does that not matter?

[2021-04-18 16:09] jalajcodes commented on #216
Getting public info makes more sense, although I am not sure.. cc @mtreacy002

[2021-04-18 19:48] mtreacy002 commented on #216
You're correct, @meganbader , we only can return user info if the user opted to have their personal info shared publicly. So if it's not, then the organization representative or other users shouldn't be able to see this. There are certain scenarios that the system can return any user info (like when we want to show analysis of users in mentoring programs based on personal background  categories),

[2021-04-19 03:15] Aryamanz29 commented on #226
I have raised PR #267  for env setup, Please have a look to it @epicadk

[2021-04-19 10:17] vivekshotti commented on #232
Hey there,
I would like to work on this.

[2021-04-19 10:22] vivekshotti commented on #250
Hey,
I would like to work on this.

[2021-04-20 15:07] devkapilbansal commented on #266
@vj-codes please make changes to the tests too that we discussed. Currently they run more than once

[2021-04-20 16:46] vj-codes commented on #266
@devkapilbansal yeah sure the ones done on ms-backend right?

[2021-04-21 06:52] decon-harsh commented on #232
Hey @Vivek-Hotti You have been assigned #250 . Claim this again once you finish it. Thank you

[2021-04-21 11:41] vivekshotti commented on #232
yea I understand. thank you though!

[2021-04-23 22:27] #205 closed, assigned to NenadPantelic

[2021-04-24 18:17] shades-7 commented on #244
Hey, i have submitted the PR can I claim issues now? @devkapilbansal

[2021-04-24 18:18] devkapilbansal commented on #244
Sure @shades-7

[2021-04-25 11:42] mtreacy002 opened #271 "Dev: Add BIT web gh-pages remote to CORS"
## Description
As a contributor,
I need to add BIT web remote server on gh-pages to CORS
so that I can use the BIT web gh-pages as an alternative UI if I want to.

## Acceptance Criteria
### Update [Required]
- [ ] add BIT web remote url `https://anitab-org.github.io` to CORS

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hr

[2021-04-27 03:52] stableapple commented on #240
Can I work on this?

[2021-04-27 04:39] mtreacy002 commented on #240
@stableapple , could you please share how you're planning to approach this issue, just so @Rahulm2310 can confirm that it matches to what the pr wants to address 😉

[2021-04-27 05:28] mtreacy002 commented on #250
@Vivek-Hotti , can you please give us update on this?

[2021-04-27 05:30] mtreacy002 commented on #243
@y-martinez , can you please explain what you mean with

[2021-04-27 05:38] stableapple commented on #240
Actually, I don't have much idea about this. I ran Bandit in the app directory and there were some vulnerabilities regarding outdated libraries and hardcoded values in the code. I am planning to address them. It would be great if I can get some help with this. :)

[2021-04-27 06:01] mtreacy002 opened #272 "Dev: Move Docusaurus from surge to gh-pages"
## Description
As a contributor,
I need to move BIT backend documentation `docusaurus` from surge to gh-pages,
so that I can make sure everyone can see the doc on https://anitab-org.github.io/bridge-in-tech-backend

## Acceptance Criteria
### Update [Required]
- [ ] BIT backend docusaurus should be available on https://anitab-org.github.io/bridge-in-tech-backend

## Definition of Done
- [ ] All of

[2021-04-27 08:16] Rahulm2310 commented on #240
@stableapple good way to start. As this is a research issue, it is open ended. It can be broken authentication, dependency management or anything which might cause a security gap.

[2021-04-27 12:14] stableapple commented on #240
Thanks for the suggestion. I'll raise a PR soon. :)

[2021-04-27 21:32] vj-codes commented on #272
@mtreacy002 can I work on this after OSH is done if no claims it ?

[2021-04-28 01:50] mtreacy002 commented on #272
Sure, @vj-codes . Please remind me again on the 1 May (post OSH) if no one claim this 😉 .

[2021-04-28 02:17] naveen8801 commented on #215
hi @mtreacy002 @Rahulm2310  , actually this is the first time i am dealing with backend , please help me in getting started  :-)

[2021-04-28 03:33] mtreacy002 commented on #215
Sure, should I assign you to this, @naveen8801 ?

[2021-04-28 04:08] naveen8801 commented on #215
Yaa , i'd like to work it ,

[2021-04-28 14:51] stableapple commented on #240
Google doc for the research.
[Google doc](https://docs.google.com/document/d/1y1Q96fnIQcBWFQnCqbL3ijxGly7NdRoX1MPHaGFuvvo/edit?usp=sharing)

[2021-04-28 18:41] jaivanti commented on #250
Hi. Maybe a way to enable push notification features in web app is downloading a push-notification code from github and setting that up on your local pc. With that, your installing a web server and code some things down in codelab  to enable push notifications on that specific platform.
A detailed guide is given here from google developer resources: https://developers.google.com/web/fundamentals/c

[2021-04-28 20:14] #216 closed, assigned to meganbader

[2021-04-29 21:23] mtreacy002 commented on #240
Thank you, @stableapple . Can you please share the `editable` link of the file (from the screenshot below you can see `Request edit access` on the top right which means the doc is not accessible to others). This is so other contributors can give their feedback and engage on the discussion with you on this topic. Once you've done this, I will add this to BIT backend Wiki sidebar then close this iss

[2021-04-29 21:40] mtreacy002 commented on #250
@jaivanti, thank you for your suggestion. However, for future reference if the initial contributor doesn't give their response within 3-4 days, you can request to be assigned to the issue first before making your suggestion 😉 . For now, since this is the last day of OSH and @Vivek-Hotti has not given his suggestion, I'll remove him and assign you to this. Can you please put your suggestion inside

[2021-04-29 21:45] mtreacy002 commented on #272
Closing this issue as this is a duplication of issue #234. Sorry for the err. @vj-codes , you can claim the issue #234 instead. I'll remove the `First-timers Only` label as the task had been opened for a while and perhaps need to be done asap to match progress of other Anita.Org projects 😉 .

[2021-04-29 21:45] #272 closed, assigned to nobody

[2021-04-29 21:48] mtreacy002 commented on #234
Making this issue available for all contributors now, not just `First-timers`

[2021-04-30 09:52] jaivanti commented on #250
Thanks for assigning me this issue. I am sharing below the google doc link. Do let me know if it helps!
https://docs.google.com/document/d/1PXGVNgxaiLQ_k0oEGRZUbBeJy1VXFVG3CnZKeUxbdUo/edit?usp=sharing

[2021-04-30 13:12] stableapple commented on #240
Done @mtreacy002

[2021-04-30 13:46] vj-codes commented on #234
I would like to work on this :)

[2021-04-30 17:36] Rahulm2310 commented on #240
Looks good. Thanks @stableapple :tada:

[2021-04-30 20:28] mtreacy002 commented on #250
@jaivanti, can you please share the `editable` link of the file so that others can participate in the discussion by commenting inside the file? As you can see from the screenshot below it is not editable (top right `Request edit access`). Thanks beforehand.

<img width="1318" alt="Screen Shot 2021-05-01 at 6 25 45 am" src="https://user-images.githubusercontent.com/29667122/116750615-13b51800-aa46-

[2021-04-30 20:31] mtreacy002 commented on #240
Thank you @stableapple for your contribution 🎉 🎉 🎉 . Approving this for OSH.

[2021-04-30 20:31] #240 closed, assigned to stableapple

[2021-04-30 20:35] mtreacy002 commented on #240
The document is now added to the wiki page sidebar
<img width="1237" alt="Screen Shot 2021-05-01 at 6 34 10 am" src="https://user-images.githubusercontent.com/29667122/116751480-6cd17b80-aa47-11eb-924c-207f81600549.png">

[2021-05-01 04:56] jaivanti commented on #250
@mtreacy002 I have change the viewer access to editor access. Can Check the doc link👍

[2021-05-01 05:31] naveen8801 commented on #215
Hi @mtreacy002 , i have created a route ' users/<int:user_id>/additional_info ' in users.py under resources folder and its working fine by giving back the response containing additional data of user with user_id ( if additional info is saved) , otherwise " No additional information found with this user id. Please provide them now"

![Screenshot (59)](https://user-images.githubusercontent.com/54985

[2021-05-01 05:46] mtreacy002 commented on #250
@naveen8801 , thanks. It's accessible now 👍 . Can you please add a brief summary of pros/cons of the methods you pointed out along with a conclusion on your opinion on which method you would prefer out of the options you give?

[2021-05-01 05:50] mtreacy002 commented on #215
@naveen8801 , that's great. You can submit the pr now and we can give you feedback on it directly on what else need to be added (if any) 😉 .

[2021-05-02 17:55] jaivanti commented on #250
Hi! @mtreacy002  I have added some points on conclusion/opinion of the method what i feel would be perfect to go for. I have not added the pros/cons section as the basic base of all methods is almost same(ie. using Push and Notification API to run javascript codes ) except that they have either used different backend services/ some different frameworks to make their push notification stuff work ou

[2021-05-02 23:45] mtreacy002 commented on #250
@jaivanti , I'm a bit confused on how this could be implemented using our current architecture (Python at the backend and ReactJS at the frontend). It seems like the **Best method** to be applied as per your suggestion is by totally creating a new web application using vanilla javascript with the backend using NodeJs and TypeScript. Can you please tell us how our current application will make use

[2021-05-03 05:21] jaivanti commented on #250
Hi @mtreacy002 ... Actually I initially thought maybe we can use and make a  javascript based push notification web app and then integrate it with our own backend (python), I didn't look  much for react based things, as sometime debugging in react based web apps can get difficult especially dealing with user experience based issues.
But then ig maybe having a react.js frontend already and create a

[2021-05-03 19:52] mtreacy002 commented on #250
@jaivanti , look forward to your findings on Reactjs/Python combo option 😉

[2021-05-04 07:34] Aryamanz29 opened #277 "Docs : Add setup tutorial to `.github/ENV_SETUP_INSTRUCTION.md`"
### Description

- I want to add an environment setup video link to `ENV_SETUP_INSTRUCTION.md`
- This video tutorial helps new contributors if they got stuck while setting up a dev environment.

[2021-05-04 10:30] epicadk commented on #277
Status on hold as this need to be approved by @isabelcosta or @mtreacy002

[2021-05-04 15:47] vj-codes commented on #277
@epicadk check [this message from zulip ](https://anitab-org.zulipchat.com/#narrow/stream/223068-celebrate/topic/Highlight.20community.20members!/near/237221609) removing on hold label

[2021-05-05 10:05] #277 closed, assigned to Aryamanz29

[2021-05-05 18:44] jaivanti commented on #250
Hi! @mtreacy002 I have added two methods which seemed relevant and uses python backend with react frontend for push notification stuff....Most of the methods on internet are using node.js/JavaScript. I am looking for more combo options of python/react and will keep updating the file. Hope this helps!

[2021-05-05 23:41] mtreacy002 commented on #250
Hi @jaivanti , please provide your review on the extra resources of ReactJs/Python-Flask combo you recently added. An example of this is:
For the resource [here](server-push-five-easy-steps-flask-react-twilio-sync), it's worth ta take note the limitations of Twillio if we are heading this way (then you can list the limitations and their impact to our application). For Outreach/Research tasks the c

[2021-05-07 20:47] mtreacy002 commented on #244
Closing this issue since Open Source Hack has ended.

[2021-05-07 20:47] #244 closed, assigned to nobody

[2021-05-10 09:58] Anmollenka commented on #247
I would like to work on this issue.

[2021-05-10 09:59] Anmollenka commented on #242
I would like to work on this issue.

[2021-05-10 09:59] Anmollenka commented on #238
I would like to work on this issue.

[2021-05-10 10:24] vj-codes commented on #247
@Anmollenka please choose one among this , #242 and #238

[2021-05-10 10:32] Anmollenka commented on #247
Is this issue not open?

[2021-05-10 10:34] vj-codes commented on #247
@Anmollenka it is open but you can work only on one issue at once

[2021-05-10 10:48] Anmollenka commented on #247
Anything is fine.Will go for this first.

[2021-05-10 10:49] vj-codes commented on #247
Assigning you @Anmollenka
Happy coding!

[2021-05-12 14:24] manthanguptaa opened #281 "Make project beginner friendly"
### Is your feature request related to a problem? Please describe.
So, when I was jumping around the code I was overwhelmed with where exactly is what. It took me some time to figure out what folder contains what and this could be overwhelming for a lot of developers if they are jumping right into it because there is no way around it other than getting your hands dirty.

### Describe the solution

[2021-05-12 14:31] epicadk commented on #281
Thankyou for this issue. We are working towards integrating the bridge in tech backend and the mentorship system backend. This should make the project easier to setup.

[2021-05-12 15:23] vj-codes commented on #281
@Manthan109 hey you can read [this blog post](https://medium.com/anitab-org-open-source/bridgeintech-by-anitab-org-85745853865d) or [this google doc](https://docs.google.com/document/d/1uCDCWs8Xyo-3EaUnrLOs48mefXJIN235b1aAswA-s-Y/edit) to know more about the project:)
Also the issues labelled as first-timers only here are a great start 🚀

[2021-05-13 16:24] Rahulm2310 commented on #230
@allcontributors please add @Rahulm2310 for code, doc, mentoring and review

[2021-05-14 08:31] devkapilbansal commented on #230
@mtreacy002 bot replies to @Rahulm2310 comment too. May be it is because you are not part of `maintainers` team directly but a member of child team, i.e. `BIT Maintainers`

[2021-05-14 08:33] devkapilbansal commented on #230
Ohh it accidentally reads my comment too :sweat_smile:

[2021-05-15 03:11] Rahulm2310 commented on #230
@devkapilbansal I don't think this bot requires someone to be a maintainer. Generally, this is open for all contributors.

[2021-05-15 09:07] #215 closed, assigned to naveen8801

[2021-05-15 09:31] mtreacy002 commented on #281
@Manthan109 , if you're proposing to add the file/folder structure to README as per your [example](https://github.com/Manthan109/XMeme), IMO it will be unnecessary since contributors can see them on the repo (above README). Perhaps you can add something like [this diagram](https://github.com/anitab-org/mentorship-backend/issues/530) but a much simpler version. Although, as @epicadk mentioned, when

[2021-05-15 22:49] isabelcosta commented on #281
I think we could still have a simple structure of the folder, not too deep, just high-level (2 levels max) folder structure.
I am looking at @Manthan109 suggestion https://github.com/Manthan109/XMeme#folder-structure, so nothing too big, but that gives an idea of the structure of the app (e.g.: where marshmallow schemas as located, and where db models are).
I also think the diagram https://github.

[2021-05-16 05:34] mtreacy002 commented on #281
Makes sense, @isabelcosta . @Manthan109 , I'll assign you to this now. Please refer to @isabelcosta suggestions on your approach to this issue 😉

[2021-05-16 15:32] manthanguptaa commented on #281
@isabelcosta So, If I have understood right I have to add the file structure as I did in my project up to 2 levels and add this to the docusaurus documentation but on mentorship backend and not on bridge-in-tech backend?

[2021-05-22 12:04] #266 closed, assigned to vj-codes

[2021-05-22 12:30] mtreacy002 commented on #226
@devkapilbansal and @epicadk , since we're running lint workflow using black, wouldn't this pr (using Flake8) contradicting the workflow. I mean the 2 (black and flake8) don't always play nice with each other 🤔 . Unless you're thinking of using [flake8-black](https://pypi.org/project/flake8-black/) plugin, perhaps on the VSCode IDE? But I still don't see why we need to add flake8 workflow on top o

[2021-05-29 19:23] Aryamanz29 commented on #235
@devkapilbansal  I would like to work on this :raised_hand_with_fingers_splayed:

[2021-05-29 19:26] devkapilbansal commented on #235
@Aryamanz29 assigning you. All the best

[2021-05-29 21:28] Aryamanz29 commented on #235
@devkapilbansal  Need Review

[2021-05-31 17:53] Aryamanz29 commented on #245
@jalajcodes  @Rahulm2310  I would like to work on this

[2021-06-05 10:33] Aryamanz29 commented on #245
Need Review #286

[2021-06-06 10:11] #247 closed, assigned to Anmollenka

[2021-06-09 03:57] #245 closed, assigned to Aryamanz29

[2021-06-13 10:31] #234 closed, assigned to vj-codes

[2021-06-19 14:02] vj-codes opened #291 "Update organization name from AnitaB.org to anitab-org in docusaurus config"
### Is your feature request related to a problem? Please describe.
Currently, the org name in docusaurus is Anitab.org but the GitHub name of the org is anitab-org
Changing the name will successfully deploy docusaurus to the gh pages

### Describe the solution you'd like
Change name as suggested above

### Describe alternatives you've considered
No alternative

[2021-06-19 14:04] vj-codes commented on #291
@mtreacy002 I would like to work on this!
[check reference here](https://github.com/anitab-org/bridge-in-tech-backend/pull/280#issuecomment-864409309)

[2021-06-20 00:39] mtreacy002 commented on #291
Assigning you, @vj-codes 😉

[2021-06-21 09:03] #291 closed, assigned to vj-codes

[2021-07-05 12:13] mtreacy002 commented on #233
This issue depends on the completion of the similar feature on the MS backend side (issue [551]https://github.com/anitab-org/mentorship-backend/issues/551)). Only when issue 551 of MS done we can start working on BIT side for this feature. So, I'm putting this on hold for now.

[2021-07-06 00:01] #271 closed, assigned to mtreacy002

[2021-07-09 00:29] #235 closed, assigned to Aryamanz29

[2021-07-15 20:37] devkapilbansal commented on #226
Hi @mtreacy002 black is used to lint the code so to increase readability but flake8 ensures that the code follows Python standards specified by PEP8.
There are some cases where black and flake8 contradicts each other but I think that can be managed using config file.

[2021-07-16 02:57] mtreacy002 commented on #226
May I ask what you think of the flake8-black plugin I mentioned above? wouldn't this be a faster and easier option instead of writing the config file, @devkapilbansal ?

[2021-07-28 11:37] devkapilbansal commented on #226
Yes, it looks good to. I was unaware of this. I think we can proceed with this instead of having flake8 and flask.

[2021-08-08 08:16] snifhex commented on #246
I would like to work on this task, Please assign it to me.

[2021-08-14 20:24] vj-codes commented on #281
@Manthan109 any updates?

[2021-08-14 20:25] vj-codes commented on #250
@jaivanti any updates ?

[2021-08-14 20:25] vj-codes commented on #243
@y-martinez any updates?

[2021-09-16 19:55] vj-codes opened #300 "Update github email and name in documentation workflow"
### Is your feature request related to a problem? Please describe.
In the documentation workflow, the email and name are not updated with respect to the organization which is against what is mentioned on the official docusaurus website.
(Read the warning message in the screenshot)

![Screenshot (74)](https://user-images.githubusercontent.com/60894542/133677201-81d7f678-1512-4e64-ac73-74cd324b4405.

[2021-09-16 19:56] vj-codes commented on #300
@mtreacy002 this might be the reason we can't see the homepage after deployment
I would like to work on this :)

[2021-09-17 19:11] isabelcosta commented on #300
its your @vj-codes  ;)

[2021-09-28 16:58] Ln11211 commented on #237
hello, I want to try this, but I am not sure which repository is the test to be done in, can you please help ?

[2021-09-28 19:12] vj-codes commented on #237
@Ln11211 hey the test is to be done in this very repository, you can either test it on the deployed Heroku link or setup the backend locally and then test it too!
Are you planning to do this for hacktoberfest btw?

[2021-09-30 03:08] Ln11211 commented on #237
@vj-codes, I'm not sure if I can do this, so I don't want you to assign it to me yet but I'll try it and then I'll let you know if I have any success, is it ok ?

[2021-09-30 20:53] vj-codes commented on #237
@Ln11211 sure
If you have any questions or stumble upon any bugs, do ask them here or join us on [Zulip](http://anitab-org.zulipchat.com) :)

[2021-10-01 20:23] #300 closed, assigned to vj-codes

[2021-10-08 21:11] isabelcosta commented on #242
@Anmollenka are you still interested? I only saw your message now

[2021-10-26 10:04] Ln11211 commented on #237
@vj-codes ,  I have checked the https://stem-diverse-tv.herokuapp.com/ and couldn't find GET /users to test..

[2021-10-26 10:10] vj-codes commented on #237
@Ln11211 you have to test on https://bridgeintech-bit-heroku-psql.herokuapp.com/ and not the link you commented above

[2021-10-26 10:30] Ln11211 commented on #237
@vj-codes , OK I started trying this by first creating a new user, but I haven't got the confirmation mail yet..